<h1>[`Analytics`]</h1>

<form action="?module=settings&action=analytics" id="s-analytics-settings-form">
    <div class="fields">
        <div class="fields-group">
            <div class="field">
                <div class="name">[`Transaction date`]</div>

                <div class="value">
                    <label>
                        <span class="wa-radio">
                            <input type="radio" name="settings[reports_date_type]" value="paid"{if ifset($settings.reports_date_type) != 'create'} checked{/if}>
                            <span></span>
                        </span>
                        [`Order was marked as paid or completed`]
                    </label>

                    <div class="custom-mt-8">
                        <label>
                            <span class="wa-radio">
                                <input type="radio" name="settings[reports_date_type]" value="create"{if ifset($settings.reports_date_type) == 'create'} checked{/if}>
                                <span></span>
                            </span>
                            [`Order was created`]
                        </label>
                    </div>

                    <div class="hint custom-mt-8">[`Choose an order action to associate its date with the order amount in <a href="?action=reports">sales reports</a>.`]</div>
                </div>
            </div>

            <div class="field">
                <div class="name"></div>
                <div class="value">
                    <button type="submit" class="js-form-submit button green">[`Save`]</button>
                </div>
            </div>
        </div>
    </div>
</form>

<script>(function() { "use strict";

    document.title = {_w('Analytics')|json_encode} + ' — ' + {$wa->accountName()|json_encode};

    const $form = $('#s-analytics-settings-form');
    const $submitButton = $form.find('.js-form-submit');

    $form.on('change', function () {
        $submitButton.removeClass('green').addClass('yellow');
    });

    $form.on('submit', function(event) {
        event.preventDefault();

        $.post($form.attr('action'), $form.serialize(), function(r) {
            $('#s-settings-content').html(r);

            const $spinner = $('<span class="custom-ml-4"><i class="fas fa-check-circle"></i></span>');
            $('.js-form-submit').append($spinner);
            $spinner.animate({
                opacity: 0
            }, 1500, function() {
                $(this).remove();
            });
        });
    });

})();</script>
