{if !empty($error)}
    <h1 class="js-bread-crumbs"><a href="#/payment/" class="back">&larr; [`Payment`]</a>&nbsp;[`Error`]</h1>
    <span class="errormsg">{$error|escape}</span>
{else}
<form>
	<!-- GENERAL PAYMENT OPTION PARAMS -->
	<div class="field-group">

		<div class="block half-padded float-right">
			<ul class="menu-h with-icons">
            {if isset($plugin.status) && !empty($plugin.id)}
				<li><a href="#/payment/plugin/delete/{$plugin.id}/" class="js-action js-confirm" data-confirm-text="[`This will permanently delete this payment option. Are you sure?`]" style="position: relative; z-index: 99;"><i class="icon16 delete"></i>[`Delete this payment option`]</a></li>
            {/if}
			</ul>
		</div>

        <h1 class="js-bread-crumbs"><a href="#/payment/" class="back">&larr; [`Payment`]</a>&nbsp;{$plugin.name|escape}</h1>

		<div class="field">
			<div class="name">
			<label for="s-payment-plugin-status">[`Enabled`]</label>
			</div>
			<div class="value">
                <input name="payment[id]" type="hidden" value="{$plugin_id|escape}">
                <input name="payment[plugin]" type="hidden" value="{$plugin.plugin|escape}">
				<input name="payment[status]" type="checkbox"{if !empty($plugin.status)} checked="checked"{/if} id="s-payment-plugin-status" value="1">
			</div>
		</div>
		<div class="field">
			<div class="name">
				<label for="s-payment-plugin-name">[`Payment option name`]</label>
			</div>
			<div class="value">
				<input name="payment[name]" type="text" value="{$plugin.name|escape}" class="bold" id="s-payment-plugin-name">
			</div>
		</div>
		<div class="field">
			<div class="name">
				<label for="s-payment-plugin-logo">[`Logo URL`]</label>
			</div>
			<div class="value">
				<input name="payment[logo]" type="text" class="long" value="{$plugin.logo|default:''|escape}" id="s-payment-plugin-logo">
                {if !empty($plugin.logo)}<img src="{$plugin.logo}"  class="s-payment-shipping-logo float-right">{/if}
				<p class="hint">{sprintf('[`A collection of payment option icons is available for free: <a href="%s" target="_blank">%s</a> <i class="icon10 new-window"></i>`]','[`http://www.shop-script.com/help/729/payment-shipping-icons/`]','[`http://www.shop-script.com/help/729/payment-shipping-icons/`]')}</p>
			</div>
		</div>
		<div class="field">
			<div class="name">
				[`Description`]
			</div>
			<div class="value">
				<textarea name="payment[description]">{$plugin.description|escape}</textarea>
				<p class="hint">[`HTML. Payment option description is shown to customer during the checkout.`]</p>
			</div>
		</div>
        {*
		<div class="field">
			<div class="name">
                [`Delivery info`]
			</div>
			<div class="value">
				<textarea name="payment[email_description]">{$plugin.email_description|default:''|escape}</textarea>
				<p class="hint">[`Optional text to be sent to customer with the order notification email. Plain text, no HTML allowed.`]</p>
			</div>
		</div>
        *}
	</div>

	<div class="field-group">
        <div class="field">
    	<div class="name">[`Limit this payment option only if one of the following shipping options is selected`]</div>
        <div class="value">
        {foreach $shipping as $p}
            <label><input type="checkbox" name="payment[shipping][{$p.id}]" value="1" {if $p.available} checked="checked"{/if}> {$p.name|escape}</label>
            {if !$p@last}<br>{/if}
        {foreachelse}
            <span class="hint">[`There are no shipping options.`]</span>
        {/foreach}
        </div>
        </div>
    </div>

    <!-- CUSTOM PAYMENT MODULE PARAMS -->
    <div class="field-group">
        {$settings_html}
    </div>

    <div class="field-group">
        {$guide_html}
    </div>

	<div class="field-group">
		<div class="field">
			<div class="value submit">
				<input type="submit" class="button green" value="[`Save`]"> [`or`] <a href="#/payment/" class="inline-link">[`cancel`]</a>
			</div>
		</div>
	</div>
</form>
{/if}