<h1>[`Add custom notification`]</h1>

<form id="notification-form" method="post" action="?module=settings&action=notificationsSave">
<div class="fields form">

    <!-- hook -->
    <div class="field-group">
        <div class="field">
            <div class="name">[`Event`]</div>
            <div class="value no-shift">
                <select id="n-events" name="data[event]">
                    <option value="" selected></option>
                    {foreach $events as $event_id => $event}
                    <option value="{$event_id}">{$event.name|escape}</option>
                    {/foreach}
                </select>
            </div>
        </div>
    </div>

    <div id="notifications-settings-content" style="display:none">
    <!-- basic notification info -->
    <div class="field-group">
        <div class="field">
            <div class="name">[`Notification name`]</div>
            <div class="value">
                <input id="n-name" name="data[name]" type="text" class="bold" value="">
                <br>
                <span class="hint">[`This name is for your convenience only. It will never be shown to customers.`]</span>
            </div>
        </div>
        <div class="field">
            <div class="name">[`Transport`]</div>
            {foreach $transports as $t_id => $t}
            <div class="value no-shift">
                <label>
                    <input class="transport" {if $t@first}checked{/if} type="radio" name="data[transport]" value="{$t_id}">
                    <i class="icon16 {$t.icon}"></i>{$t.name}
                </label>
            </div>
            {/foreach}
        </div>
        <div class="field">
            <div class="name">[`Enabled`]</div>
            <div class="value no-shift">
                <input type="checkbox" name="data[status]" value="1" checked>
            </div>
        </div>
    </div>

    <div class="field-group">
        <div class="field">
            <div class="name">[`Order source`]</div>
            <div class="value no-shift">
                <select name="data[source]">
                    <option value="">[`All order sources`]</option>
                    <option value="backend">[`Backend orders only`]</option>
                    {foreach $routes as $domain => $domain_routes}
                        {foreach $domain_routes as $route}
                            {$url = $domain|cat:"/":$route.url}
                            <option value="{$url}">{$url}</option>
                        {/foreach}
                    {/foreach}
                </select>
                <p class="hint">[`Notification will be sent only for orders placed via the selected source.`]</p>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $("#n-events").change(function () {
            $("#n-name").val($(this).children(':selected').html());
        }).change();
    </script>

    {foreach $transports as $t_id => $t}
    <div id="{$t_id}-content" {if !$t@first}style="display:none"{/if} class="field-group transport-content">
        {include file="templates/actions/settings/SettingsNotifications.`$t_id`.html" inline}
    </div>
    {/foreach}


    {include file="templates/actions/settings/SettingsNotificationsHelp.html" inline}
    </div>

</div>
{$wa->csrf()}
</form>
<script type="text/javascript">
    $(function () {
        var notification_templates = [];
        {foreach $templates as $event => $t}
        notification_templates['{$event}'] = [{json_encode($t.subject)}, {json_encode($t.body)}, {json_encode($t.sms)}];
        {/foreach}
        $("#n-events").change(function () {
            var e = $(this).val();
            if (e) {
                $("#notifications-settings-content").show();
                var t = notification_templates[e] || notification_templates['order'];
                $("#email-content .subject").val(t[0]);

                var email_body = $('#n-email-body');
                email_body.val(t[1]).change();
                email_body.data('wa_editor').getSession().setValue(email_body.val());

                var sms_text = $("#n-sms-text");
                sms_text.val(t[2]).change();
                sms_text.data('wa_editor').getSession().setValue(sms_text.val());

                $('#n-send-button').removeClass('yellow').addClass('green');

            } else {
                $("#notifications-settings-content").hide();
            }
        });
    });
</script>
<div class="clear-left"></div>

