<div class="dialog s-settings-unit-dialog s-settings-unit-delete-dialog">
    <div class="dialog-background"></div>
    <div class="wa-dialog-body dialog-body">
        <header class="dialog-header">
            <h1 class="s-title">{sprintf('[`Deletion of quantity unit “%s”`]', $unit.name|escape)}</h1>
        </header>
        <div class="dialog-content">
            [`Are you sure to delete this quantity unit? The unit will be completely deleted from your online store.`]
        </div>
        <div class="dialog-footer">
            <button class="s-button button red js-submit-button" type="submit">[`Delete`]</button>
            <button class="button js-close-dialog light-gray">[`Cancel`]</button>
        </div>
    </div>
</div>
