<div class="blank s-settings-form">
    <div class="block double-padded">
        <h1>[`Countries & Regions`]</h1>
        <div style="font-size: 16px;">
            {if !empty($wa_settings)}
                {$wa_backend_url|cat:'webasyst/settings/regions/'|string_format:'[`You can set up countries and regions in “<a href="%s">Settings</a>” app.`]'}
            {else}
                [`To edit countries and regions, you need to access the “Settings” app‘s.`]
            {/if}
        </div>
    <div class="clear-both"></div>
</div>