<script type="text/template" id="by_shipping_condition_template">
    <div class="wide">
        <p>[`Shipping option`]:</p>
        <div class="wa-select small">
            <select name="rules[%%ID%%][rule_data]">
                {foreach $shipping_types as $t}
                <option value="{$t.id|escape}">{$t.name|escape}</option>
                {/foreach}
            </select>
        </div>
    </div>
</script>

<script>(function() { "use strict";

    const template_form = $('#by_shipping_condition_template').html();
    const $table_tbody = $('#s-settings-stock-rules-form table tbody').first();
    $table_tbody.on('rules:condition_init.by_shipping', '.stock-rule-condition', function(evt) {
        const $condition_wrapper = $(this);
        const tmpl = template_form.replace(/%%ID%%/g, evt.rule_id);
        // Replace default hidden field with our custom form
        $condition_wrapper.find('input[name$="[rule_data]"]').replaceWith($.parseHTML(tmpl));
        // Set values in our custom form
        $condition_wrapper.find('select[name$="[rule_data]"]').val(evt.rule_data);
    });

})();</script>
