
<div class="blank s-settings-form">
    <div class="block double-padded">
        <h1>[`Countries & Regions`]</h1>
        <div class="fields form">
            <form id="regions-form" action="?module=settings&action=regions">
                <div class="field">
                    <div class="name">
                        [`Country`]
                    </div>
                    <div class="value no-shift">
                        <i class="icon16 overhanging" style="background: url({$wa_url}wa-content/img/country/{$country.iso3letter}.gif) no-repeat;"></i>
                        <select>
                            {if !$country.iso3letter}
                                <option value="">[`Select a country`]</option>
                            {/if}
                            {foreach $countries as $c}
                                {if $c.name}
                                    <option value="{$c.iso3letter|escape}"{if $c.iso3letter === $country.iso3letter} selected{/if}>{$c.name|escape}</option>
                                {else}
                                    <option disabled></option>
                                {/if}
                            {/foreach}
                        </select>
                        <a href="javascript:void(0)" style="position:relative;top:2px;left:10px;" title="[`Clone on top of the list`]">
                            <input type="hidden" name="country_fav" value="{ifset($country.fav_sort, '')}">
                            <i id="favorite-country" class="icon16 star{if $country.fav_sort === null}-empty{/if}"></i>
                        </a>
                    </div>
                </div>
                {if $country.iso3letter}
                    <input type="hidden" name="country" value="{$country.iso3letter|escape}">
                    <div class="field">
                        <div class="name">
                            [`Regions`]
                        </div>
                        <div class="value no-shift">
                            <table class="zebra">
                                <thead>
                                    <tr>
                                        <th>[`Region name`] <i class="icon10 uarr"></i></th>
                                        <th>[`Region code`]</th>
                                        <th class="min-width"></th>
                                    </tr>
                                </thead>
                                <tbody>

                                {foreach $regions as $r}
                                    <tr data-orig-code="{$r.code|escape}">
                                        <td><input type="text" name="region_names[]" placeholder="[`Region name`]" value="{$r.name|escape}" rel="{$r.name|escape}"></td>
                                        <td><input type="text" name="region_codes[]" placeholder="[`Region code`]" value="{$r.code|escape}"></td>
                                        <td class="min-width"><a class="nowrap" href="javascript:void(0)">
                                                {if $r.fav_sort === null}
                                                    <input type="hidden" name="region_favs[]" value="">
                                                    <i class="icon16 fav star-empty" title="[`Clone on top of the list`]"></i>
                                                {else}
                                                    <input type="hidden" name="region_favs[]" value="{ifset($r.fav_sort, '')}">
                                                    <i class="icon16 fav star" title="[`Clone on top of the list`]"></i>
                                                {/if}
                                            <i class="icon16 delete"></i>
                                        </a></td>
                                    </tr>
                                {foreachelse}
                                    <tr class="empty-stub">
                                        <td colspan="3">
                                            <em class="grey">[`No regions (states, provinces) are defined for this country.`]</em>
                                        </td>
                                    </tr>
                                {/foreach}

                                <tr class="white">
                                    <td colspan="3"><a id="add-region-link" href="javascript:void(0)" class="inline-link"><i class="icon16 add"></i><b><i>[`Add region`]</i></b></a></td>
                                </tr>

                                {* Template for new rows *}
                                <tr class="hidden highlighted just-added template-new">
                                    <td><input type="text" name="region_names[]" value="" placeholder="[`Region name`]"></td>
                                    <td><input type="text" name="region_codes[]" value="" placeholder="[`Region code`]"></td>
                                    <td class="min-width"><a href="javascript:void(0)">
                                        <input type="hidden" name="region_favs[]" value="">
                                        <i class="icon16 fav star-empty"></i>
                                        <i class="icon16 delete"></i>
                                    </a></td>
                                </tr>

                                {* Template for deleted rows *}
                                <tr class="gray hidden highlighted template-deleted">
                                    <td class="bold strike insert-name-here"></td>
                                    <td><em class="small">[`Click “Save” button below to commit the delete.`]</em></td>
                                    <td class="min-width"></td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                        <div class="value no-shift">
                            <input type="submit" class="button green" value="[`Save`]">
                        </div>
                    </div>
                {/if}
            </form>
    </div>
    <div class="clear-both"></div>
</div>
<script>(function() { "use strict";
    document.title = '{"[`Countries & Regions`]"|cat:" — ":{$wa->accountName(false)}|escape:'javascript'}';
    var form = $('#regions-form');
    var selector = form.find('select');
    var table = form.find('table');

    // Helper to determine whether the form has changed and we should warn user if he leaves the page
    var getFormValueNoFavs = function() {
        // Ignore fav change since it is saved on the fly
        return form.serialize().replace(/region_favs%5B%5D=[^&]*&/g, '').replace(/country_fav=[^&]*&/g, '');
    };

    var initial_form_value = getFormValueNoFavs();

    // Reload the page when user changes country in the selector
    selector.change(function() {
        if (initial_form_value !== getFormValueNoFavs()) {
            if (!confirm('[`Regions are not saved. Are you sure you want to leave current page?`]')) {
                selector.val('{$country.iso3letter}');
                return false;
            }
        }
        var new_country = selector.val();
        selector.attr('disabled', true);
        $('#s-settings-content').load('?module=settings&action=regions&country='+new_country);
    });

    // Icon to mark region as favorite
    table.on('click', '.fav', function() {
        var i = $(this).toggleClass('star').toggleClass('star-empty');
        var fav_sort = i.hasClass('star') ? '1' : '';
        i.siblings('input:hidden').val(fav_sort);

        // Save immidiately via AJAX so user does not have to click save
        if (i.parents('.just-added').length <= 0) {
            $.post(form.attr('action'), { fav: 1, country: '{$country.iso3letter}', region: i.parents('tr').data('origCode'), fav_sort: fav_sort });
        }
    });

    // Icon to mark country as favorite
    $('#favorite-country').click(function() {
        var i = $(this).toggleClass('star').toggleClass('star-empty');
        var fav_sort = i.hasClass('star') ? '1' : '';
        i.siblings('[name="country_fav"]').val(fav_sort);

        // Save immidiately via AJAX so user does not have to click save
        $.post(form.attr('action'), { fav: 1, country: '{$country.iso3letter}', fav_sort: fav_sort });
    });

    // Mark table row for deletion when user clicks delete icon
    table.on('click', '.delete', function() {
        var tr = $(this).parents('tr');
        var initial_value = tr.find('[name="region_names[]"]').attr('rel');
        if (!initial_value) {
            tr.remove();
            if (table.find('tbody tr:not(.white):visible').length <= 0) {
                table.find('.empty-stub').show();
            }
            return;
        }

        var row = table.find('tr.template-deleted').clone().removeClass('hidden').removeClass('template-deleted');
        row.find('.insert-name-here').text(initial_value);
        tr.after(row).remove();
    });

    // Link to add new region
    $('#add-region-link').click(function() {
        var row = table.find('tr.template-new').clone().removeClass('hidden').removeClass('template-new');
        $(this).parents('tr').before(row);
        row.siblings('.empty-stub').hide();
    });

    // Submit form via XHR
    form.submit(function() {
        // Validation
        var errors = false;
        form.find('.zebra input:visible').each(function() {
            var self = $(this);
            if (!self.val()) {
                self.addClass('error').one('focus', function() {
                    self.removeClass('error');
                });
                errors = true;
            }
        });

        if (!errors) {
            //form.find(':submit').after('<i class="icon16 loading"></i>');
            form.find(':submit').attr('disabled', true);
            $.post(form.attr('action'), form.serialize(), function(r) {
                $('#s-settings-content').html(r);
                setTimeout(function() {
                    var s = $('<span class="s-msg-after-button"><i class="icon16 yes"></i></span>');
                    $('#regions-form :submit').after(s);
                    s.fadeOut(1500, function() {
                        $(this).remove();
                    });
                }, 0);
            });
        }

        return false;
    });
})();</script>
