<div class="blank block double-padded s-settings-form">
    <h1>[`General settings`]</h1>
    <form id="s-settings-general-form" action="?module=settings&action=general">
        <div class="fields form">
            <div class="field-group">
                <div class="field">
                    <div class="name">[`Store name`]</div>
                    <div class="value">
                        <input type="text" class="large bold" name="name" value="{$name|escape}">
                    </div>
                </div>
                <div class="field">
                    <div class="name">[`Phone number and work hours`]</div>
                    <div class="value">
                        <input type="text" name="phone" value="{$phone|escape}" placeholder="[`+1 212-555-1312`]"><br />
                        <span class="hint">[`Phone number is published in the storefront and included in email notification`]</span>
                    </div>
                    <div class="value no-shift">
                        <label><input type="radio" name="workhours_type" value="0" {if $workhours === ''}checked{/if}> [`Always open (24/7)`]</label>
                    </div>
                    <div class="value no-shift">
                        <label><input type="radio" name="workhours_type" value="1" {if is_array($workhours)}checked{/if}> [`Define work hours`]</label>
                    </div>
                    <div id="workhours-div"{if !is_array($workhours)} style="display:none"{/if}>
                        <div class="value">
                            <ul class="menu-h s-workhours">
                                <li><label><input value="1" type="checkbox" name="workhours_days[]" {if $workhours && in_array(1, $workhours.days)}checked="checked"{/if}> [s`Mon`]</label></li>
                                <li><label><input value="2" type="checkbox" name="workhours_days[]" {if $workhours && in_array(2, $workhours.days)}checked="checked"{/if}> [s`Tue`]</label></li>
                                <li><label><input value="3" type="checkbox" name="workhours_days[]" {if $workhours && in_array(3, $workhours.days)}checked="checked"{/if}> [s`Wed`]</label></li>
                                <li><label><input value="4" type="checkbox" name="workhours_days[]" {if $workhours && in_array(4, $workhours.days)}checked="checked"{/if}> [s`Thu`]</label></li>
                                <li><label><input value="5" type="checkbox" name="workhours_days[]" {if $workhours && in_array(5, $workhours.days)}checked="checked"{/if}> [s`Fri`]</label></li>
                                <li><label><input value="6" type="checkbox" name="workhours_days[]" {if $workhours && in_array(6, $workhours.days)}checked="checked"{/if}> [s`Sat`]</label></li>
                                <li><label><input value="0" type="checkbox" name="workhours_days[]" {if $workhours && in_array(0, $workhours.days)}checked="checked"{/if}> [s`Sun`]</label></li>
                            </ul>
                        </div>
                        <div class="value">
                            <input type="text" class="short" name="workhours_from" placeholder="[`9:00 am`]" {if $workhours}value="{$workhours.from|escape}"{/if}>
                            &mdash;
                            <input type="text" class="short" name="workhours_to" placeholder="[`5:00 pm`]" {if $workhours}value="{$workhours.to|escape}"{/if}>
                        </div>
                    </div>
                    <div class="value">
                        <span class="hint">[`Work hours are displayed in the storefront and help your customers to know which is the best time to call you`]</span>
                    </div>
                </div>
                <div class="field">
                    <div class="name">[`Primary email`]</div>
                    <div class="value">
                        <input type="text" name="email" value="{$email|escape}"><br />
                        <span class="hint">[`All email notifications sent to store customers will be sent from the primary email address`]</span>
                    </div>
                </div>
                <div class="field">
                    <div class="name">[`Country`]</div>
                    <div class="value">
                        <select name="country">
                            {if empty($country)}
                                <option value=""></option>
                            {/if}
                            {foreach $countries as $c}
                                <option value="{$c.iso3letter|escape}"{if $country == $c.iso3letter} selected{/if}>{$c.name|escape}</option>
                            {/foreach}
                        </select><br />
                        <span class="hint">[`Your online store base country.`]</span>
                    </div>
                </div>
            </div>
            
            <div class="field-group">
                <div class="field">
                    <div class="name">[`Storefront settings`]</div>                
                    {foreach $routes as $_d => $_d_routes}
                        {foreach $_d_routes as $_r_id => $_r}
                            <div class="value no-shift s-settings-storefront-list">
                                <a href="?action=storefronts#/design/theme={ifset($_r.theme, 'default')}&domain={urlencode($_d)}&route={$_r_id}&action=settings">
                                    {$_d}/{$_r.url}
                                    <i class="icon10 settings"></i>
                                </a>
                            </div>
                        {/foreach}
                    {/foreach}
                </div>
            </div>
            
            <h5 class="heading">[`Orders & Customers`]</h5>
            <div class="field-group">
                <div class="field">
                    <div class="name">[`Order ID format`]</div>
                    <div class="value">
                        <input type="text" name="order_format" value="{$order_format}">
                        <p class="hint">[`<strong>&#123;$order.id&#125;</strong> will be replaced with the actual order ID. Do not delete &#123;$order.id&#125; from this string.`]</p>
                    </div>
                </div>
                <div class="field">
                    <div class="name">[`Gravatar`]</div>
                    <div class="value no-shift">
                        <label>
                            <input type="checkbox" name="use_gravatar" value="1" {if $use_gravatar}checked="checked"{/if}>
                            [`Display Gravatar userpics`]
                            <p class="hint">[`Gravatar.com (Globally Recognized Avatars) is a web service that returns userpic (profile photo, avatar) by email address. In case userpic is not uploaded in the Contacts app for a particular customer, his Gravatar userpic will be displayed.`]</p>
                        </label>
                    </div>
                    <div class="value no-shift">
                        <label>
                        [`In case there were no Gravatar userpic uploaded`]:
                            <select name="gravatar_default">
                                <option value="custom" {if $gravatar_default == 'custom'}selected="selected"{/if}>[`Use default userpic`]</option>
                                <option value="mm" {if $gravatar_default == 'mm'}selected="selected"{/if}>[`(mystery-man) a simple, cartoon-style silhouetted outline of a person (does not vary by email hash)`]</option>
                                <option value="identicon" {if $gravatar_default == 'identicon'}selected="selected"{/if}>[`a geometric pattern based on an email hash`]</option>
                                <option value="monsterid" {if $gravatar_default == 'monsterid'}selected="selected"{/if}>[`a generated 'monster' with different colors, faces, etc`]</option>
                                <option value="wavatar" {if $gravatar_default == 'wavatar'}selected="selected"{/if}>[`generated faces with differing features and backgrounds`]</option>
                                <option value="retro" {if $gravatar_default == 'retro'}selected="selected"{/if}>[`awesome generated, 8-bit arcade-style pixelated faces`]</option>
                            </select>
                            <img id="s-settings-general-gravatar" class="userpic" {if $saved}src="{shopHelper::getGravatar($wa->user('email', 'default'), 50, $gravatar_default)}"{/if} style='width: 50px; {if !$saved}display:none;{else}display:block;{/if} margin-top: 10px;'>
                        </label>
                    </div>
                </div>
            </div>
            <div class="field-group">
                <div class="field">
                    <div class="name">[`Reviews`]</div>
                    <div id="setting-require-auth" class="value no-shift">
                        <label>
                            <input type="checkbox" name="require_authorization" {if $require_authorization == '1'}checked="checked"{/if} value="1">
                            [`Only authorized users can post reviews`]
                            <br>
                            <p class="hint">
                                [`If enabled, user needs to sign in to post a review.`]<br>
                                <strong>{sprintf('[`Make sure sign up and login forms are enabled in your <a href="%s">Site app settings</a>.`]',$wa_backend_url|cat:'site/#/settings/')}</strong>
                            </p>
                        </label>
                    </div>
                    <div id="setting-require-captcha" class="value no-shift">
                        <label>
                            <input type="checkbox" name="require_captcha" {if $require_captcha == '1'}checked="checked"{/if} value="1">
                            [`Protect product review form with CAPTCHA`]
                        </label>
                    </div>
                </div>
            </div>
            {if !empty($map_adapters) && count($map_adapters) > 1}
            <div class="field-group">
                <div class="field">
                    <div class="name">[`Maps`]</div>
                    {foreach $map_adapters as $a}
                    <div class="value no-shift">
                        <label>
                            <input type="radio" name="map" {if ifset($map, 'google') == $a->getId()}checked{/if} value="{$a->getId()}"> {$a->getName()}
                        </label>
                    </div>
                    {/foreach}
                </div>
            </div>
            {/if}
            <div class="field-group">
                <div class="field">
                    <div class="name">[`SMS`]</div>
                    {if count($sms_adapters)}
                        {foreach $sms_adapters as $i => $a}
                        <div class="value no-shift">
                            <input name="sms[{$i}][adapter]" type="hidden" value="{$a.id}">
                            <strong><i class="icon16" style="background-image: url('{$a.icon}');"></i>{$a.name}</strong><br>
                            <div class="field">
                                <div class="name">{if isset($a.controls.from.title)}{$a.controls.from.title}{else}[`Sender IDs`]{/if}</div>
                                <div class="value">
                                    {strip}
                                    <textarea name="sms[{$i}][from]">
                                        {if !empty($a.config.from)}{implode("\n", $a.config.from)}{/if}
                                    </textarea>
                                    {/strip}
                                    <p class="hint">{if isset($a.controls.from.description)}{$a.controls.from.description}{else}[`Enter Sender IDs to use with this SMS gateway (Sender ID is either your phone number or up-to-11-characters text label). Enter * to use default Sender ID issued for your account by the gateway.`]{/if}</p>
                                </div>
                            </div>
                            {foreach $a.controls as $k => $v}
                            {if $k != 'from'}
                            <div class="field">
                                <div class="name">{$v.title}</div>
                                <div class="value">
                                    {if ifset($v.control_type) == 'checkbox'}
                                    <input type="hidden" name="sms[{$i}][{$k}]" value="">
                                    <input type="checkbox" name="sms[{$i}][{$k}]" value="1" {if !empty($a.config[$k])}checked{/if}>
                                    {else}
                                    <input type="text" name="sms[{$i}][{$k}]" value="{if !empty($a.config[$k])}{$a.config[$k]|escape}{/if}">
                                    {/if}
                                    {if !empty($v.description)}
                                    <p class="hint">{$v.description}</p>
                                    {/if}
                                </div>
                            </div>
                            {/if}
                            {/foreach}
                        </div>
                        <div class="value no-shift">
                            <p class="small">
                                {sprintf('[`Once gateway is setup, add new and edit existing SMS notifications using the <a href="%s">Notifications</a> settings screen.`]', '#/notifications/')}
                                <br>
                                {sprintf('[`<a href="%s" target="_blank">See documentation</a> for details.`]', '[`http://www.shop-script.com/help/1061/shop-script-5-sms-setup/`]')}
                            </p>
                        </div>
                        {/foreach}
                    {else}
                        <div class="value no-shift">
                            <p>
                                {sprintf('[`To enable SMS message sending, install and configure sending plugin for your preferred SMS gateway.<br /> <a href="%s">Browse for SMS gateway plugins</a> in Installer app.`]', $wa_backend_url|cat:'installer/#/plugins/wa-plugins/sms/')}
                            </p>
                        </div>
                    {/if}
                </div>
            </div>
            <div class="field-group">
                <div class="field">
                    <div class="name">[`Shop-Script version`]</div>
                    <div class="value no-shift">
                        {$wa->version()}
                    </div>
                </div>
            </div>
            <div class="field-group">
                <div class="field">
                    <div class="value submit">
                        <input type="submit" class="button green" value="[`Save`]">
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="clear"></div>
</div>
<script type="text/javascript">


    $('#setting-require-auth input').change(function () {
       if ($(this).is(':checked')) {
           $('#setting-require-captcha').slideUp(200);
       } else {
           $('#setting-require-captcha').slideDown(200);
       }
    }).change();

    $('input[name="workhours_type"]').change(function () {
       if ($(this).val() == '1') {
           $('#workhours-div').show();
       } else {
           $('#workhours-div').hide();
       }
    });

    var form = $('#s-settings-general-form');
    document.title = '{"[`General settings`]"|cat:" — ":{$wa->accountName(false)}|escape:'javascript'}';
    form.submit(function() {
        var self = $(this);
        form.find(':submit').after('<span class="s-msg-after-button"><i class="icon16 loading"></i></span>');
        $.post(self.attr('action'), self.serialize(), function(r) {
            $('#s-settings-content').html(r);
        });
        return false;
    });

    {if $wa->post('name')}
        form.find(':submit').after(
            $('<span class="s-msg-after-button"><i class="icon16 yes"></i></span>').animate({ opacity: 0 }, 1500, function() {
                $(this).remove();
            })
        );
    {/if}
    
    
    form.find('[name="gravatar_default"]').change(function () {
        $.get('?module=settings&action=generalGetGravatar', { 
            'email': '{$wa->user('email', 'default')}',
            'default': form.find('[name="gravatar_default"]').val() 
            }, 
            function(r) {
                $('#s-settings-general-gravatar').css('display', 'block').attr('src', r.data);
            }, 'json'
        );
    });
    
</script>