<div class="blank">

<div class="sidebar right250px">
    <div class="block double-padded">
        <p class="small">
            <strong>[`Recommended setup`]:</strong>
            <br /><br />
            [`For online stores shipping to multiple countries and regions: <em>1. Contact info &rarr; 2. Shipping &rarr; 3. Payment &rarr; 4. Confirmation.</em>`]
            <br /><br />
            [`For one-city-centric stores offering mostly courier shipping: <em>1.Shipping &rarr; 2. Contact info &rarr; 3. Payment &rarr; 4. Confirmation</em>`]
            <br /><br />
            [`For electronic-delivery-only stores: <em>1. Contact info &rarr; 2. Payment &rarr; 3. Confirmation</em>`]
            <br /><br />
            [`Be sure to keep the checkout process simple.`]
        </p>
        <p class="hint">
            <i class="icon10 exclamation"></i>
            <strong>[`Shipping & Contacts`].</strong>
            [`Some shipping options require to know the destination address. If shipping step is before the contact info step (i.e. customer didn't input the address yet), certain shipping options may not calculate shipping rates properly.`]
        </p>
        <p class="hint">
            <i class="icon10 exclamation"></i>
            <strong>[`Confirmation`].</strong>
            [`Disabling the Confirmation step is bad if the order total can be changed during the checkout, e.g. if shipping, tax, or promotions can increase the order total. Make sure your customer seen the final order amount before the order is placed.`]
        </p>
    </div>
</div>

<div class="content right250px">
    <div class="block double-padded s-settings-form">
        <h1 style="margin-bottom: 1.3em;">[`Checkout`]</h1>

        <h2><i class="icon16 ss cart-bw"></i>[`Storefront`]</h2>
        <p>[`Define the checkout step order and each step settings using the form below.`]</p>
        <table id="checkout-steps" class="s-big-table">
        {foreach $steps as $step_id => $step}
        <tr {if !$step.status}class="disabled"{/if} id="step-{$step_id}" data-step-id="{$step_id}">
            <td class="min-width gray valign-top">{if $step.status}<h3 class="gray"><!--{$step@iteration}.--></h3>{/if}</td>
            <td class="min-width valign-top"><i class="icon16 sort checkout-steps-handle"></i></td>
            <td>
                <div class="float-right links">
                    {if $step.status}
                        <a href="#" class="link-options inline-link inline"><i class="icon16 settings"></i><b><i>[`Configure`]</i></b></a>
                    {else}
                        [`Disabled`]
                        <a href="#" class="link-enable inline-link"><b><i>[`Turn on`]</i></b></a>
                    {/if}
                </div>
                <h3 class="name{if !$step.status} gray{/if}">{$step.name}</h3>
                <form id="checkout-step-{$step_id}-form" method="post" action="?module=settingsCheckoutSave" style="display: none;">
                    <input type="hidden" name="step_id" value="{$step_id}">
                    {if !empty($step.description)}
                        <p style="margin-top: 10px;">{$step.description}</p>
                    {/if}
                    <div class="fields form width100px">
                        <div class="field-group">
                            <div class="field system">
                                <div class="name">[`Checkout step name`]</div>
                                <div class="value">
                                    <input type="text" name="name" class="bold" value="{$step.name}">
                                    <br />
                                    <span class="hint">[`Will be displayed in the storefront in the checkout navigation`]</span>
                                </div>
                            </div>
                            <div class="field system">
                                <div class="value submit">
                                    <br>
                                    {if $step_id != 'contactinfo'}
                                    <div class="float-right">
                                        <ul class="menu-h with-icons">
                                            <li><a href="#" class="link-disable"><i class="icon16 no"></i>[`Disable this step`]</a></li>
                                        </ul>
                                    </div>
                                    {/if}
                                    <input type="submit" class="button green submit" value="[`Save`]">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </td>
        </tr>
        {/foreach}
        </table>

        <div class="fields form">
            <div class="field">
                <div class="name">[`Guest checkout`]</div>
                <div class="value no-shift">
                    <label>
                        <input class="guest-checkout" type="radio" name="guest_checkout" value="" {if !$guest_checkout}checked{/if}>
                        [`Create new customer record for every guest order`]
                    </label>
                </div>
                <div class="value no-shift">
                    <label>
                        <input class="guest-checkout" type="radio" name="guest_checkout" value="merge_email" {if $guest_checkout == 'merge_email'}checked{/if}>
                        [`Automatically add order to existing customer record if same email address were entered`]
                    </label>
                </div>
                {if $auth_alert}
                <div class="guest-checkout-alert value no-shift"{if $guest_checkout != 'merge_email'} style="display:none"{/if}>
                    <p class="small">
                        <span class="highlighted"><i class="icon10 exclamation"></i> {sprintf('[`Automated assignment of guest orders to existing customers will not work on following sites: <strong>%s</strong>. Due to privacy considerations, auto order assignment requires enabling “Confirm email on signup” option in <em>Site app > select your domain > Personal > Auth & Sign up settings</em>.`]', implode(', ', $auth_alert))}</span>
                    </p>
                </div>
                {/if}
                <div class="value no-shift" style="display: none">
                    <input id="guest-checkout-save" type="button" class="button green" value="[`Save`]">
                </div>
            </div>
            <script type="text/javascript">
                $('.guest-checkout').change(function () {
                    if ($('.guest-checkout:checked').val() == 'merge_email') {
                        $('.guest-checkout-alert').show();
                    } else {
                        $('.guest-checkout-alert').hide();
                    }
                    $('#guest-checkout-save').parent().show();
                });
                $('#guest-checkout-save').click(function () {
                    $.post('?module=settingsCheckoutSave&action=guest', { value: $('.guest-checkout:checked').val()}, function () {
                        $('#guest-checkout-save').parent().hide();
                    });
                    return false;
                });
            </script>
        </div>
    </div>
    <div class="block double-padded">
        <h2><i class="icon16 lock-bw"></i>[`Backend`]</h2>
        <div class="fields form">
            <div class="field">
                <div class="name">[`Required fields validation`]</div>
                <div class="value s-ibutton-checkbox">
                    <ul class="menu-h">
                        <li><span {if empty($disable_backend_customer_form_validation)} class="gray"{/if} id="s-toggle-backend-validation-disabled-label">[`Disabled`]</span></li>
                        <li>
                            <input type="checkbox" id="s-toggle-backend-validation-status" name="enabled" value="1"{if empty($disable_backend_customer_form_validation)} checked{/if}>
                        </li>
                        <li><span id="s-toggle-backend-validation-enabled-label" {if !empty($disable_backend_customer_form_validation)} class="gray"{/if}>[`Enabled`]</span></li>
                    </ul>
                </div>
                <div class="value description"{if empty($disable_backend_customer_form_validation)} style="display:none"{/if}>
                    <!-- enabled -->
                    <p class="small">[`When a new order is created via backend manually, contact info form will not be validated. Fields which are necessary to fill in when order is placed in the storefront, can be left blank when order is created via backend.`]</p>
                </div>
                <div class="value description"{if !empty($disable_backend_customer_form_validation)} style="display:none"{/if}>
                    <!-- disabled -->
                    <p class="small">[`When a new order is created via backend manually, contact info form will be validated according the Contact info form setup defined for the storefront (above). All required fields will be necessary to fill in.`]</p>
                </div>
                <div class="value saved" style="opacity:0;">
                    <i class="icon16 yes"></i> [`Saved`]
                </div>
            </div>
        </div>
    </div>
    <div class="block double-padded">
        <h2>[`Anti-spam`]</h2>
        {$enable_checkout_antispam_filters = $checkout_antispam}
        <form id="s-checkout-antispam-form" method="post" action="?module=settingsCheckoutSave&action=antispam">
        <div class="fields form">
            <div class="field">
                <div class="name">[`Checkout anti-spam filter`]</div>
                <div class="value s-ibutton-checkbox">
                    <ul class="menu-h">
                        <li><span {if !empty($enable_checkout_antispam_filters)} class="gray"{/if} id="s-toggle-checkout-antispam-disabled-label">[`Disabled`]</span></li>
                        <li>
                            <input type="checkbox" id="s-toggle-checkout-antispam-status" name="enabled" value="1"{if !empty($enable_checkout_antispam_filters)} checked{/if}>
                        </li>
                        <li><span id="s-toggle-checkout-antispam-enabled-label" {if !!empty($enable_checkout_antispam_filters)} class="gray"{/if}>[`Enabled`]</span></li>
                    </ul>
                </div>
                <div class="value description antispam-enabled"{if empty($enable_checkout_antispam_filters)} style="display:none"{/if}>
                    <!-- enabled -->
                    <p class="small">[`Checkout anti-spam filtering is seamless for real customers and will automatically reject spammy orders placed by robots.`]</p>
                    
                    <div class="fields form width100px">
                        <div class="field">
                            <div class="name">[`Alerts on rejected checkout attempts`]</div>
                            <div class="value">
                                <input name="email" type="email" placeholder="your@email.here" value="{$checkout_antispam_email|escape}" class="long">
                            </div>
                            <div class="value">
                                <span class="hint">[`Enable alerts on spammy checkout attempts to make sure none of real orders were rejected by the anti-spam filter.`]</span>
                            </div>
                        </div>
                        <div class="field">
                            <div class="name">[`Captcha`]</div>
                            <div class="value no-shift">
                                <label><input name="captcha" value="1" type="checkbox"{if $checkout_antispam_captcha} checked{/if}> [`Enable captcha for checkout (not required)`]</label>
                            </div>
                            <div class="value">
                                <span class="hint">[`Optional. Enable checkout captcha when seamless anti-spam protection is not enough.`]</span>
                            </div>
                        </div>
                        <div class="field">
                            <div class="value no-shift submit">
                                <label><input type="submit" class="button green" value="[`Save`]"></label>
                            </div>
                        </div>
                    </div>
                    <div class="clear-both"></div>
                </div>
                <div class="value description antispam-disabled"{if !empty($enable_checkout_antispam_filters)} style="display:none"{/if}>
                    <!-- disabled -->
                    <p class="hint">[`If your store is under spammers attack and you receive lots of fraudulent orders placed by robots, protect the checkout routine with seamless anti-spam filtering. This will automatically filter all spam and save genuine orders only.`]</p>
                </div>
                <div class="value saved" style="opacity:0;">
                    <i class="icon16 yes"></i> [`Saved`]
                </div>
            </div>
        </div>
        </form>
    </div>
    <div class="clear-both"></div>
</div>

</div>{* .blank *}

<script type="text/javascript" src="{$wa_app_static_url}js/settings/checkout.js?{$wa->version()}"></script> {* !!! move to layout? *}
<script type="text/javascript">
    document.title ='{"[`Checkout`]"|cat:" — ":{$wa->accountName(false)}|escape:'javascript'}';
    $.settings.checkoutInit({
        loc: {
            field_is_required: "[`This field is required.`]",
            saved: "[`Saved`]"
        }
    });

    $('#s-toggle-checkout-antispam-status').iButton( { labelOn : "", labelOff : "", className: 'mini' } ).change(function() {
        if (this.checked) {
            $('#s-toggle-checkout-antispam-disabled-label').addClass('gray');
            $('#s-toggle-checkout-antispam-enabled-label').removeClass('gray');
            $('.antispam-enabled').show();
            $('.antispam-disabled').hide();
        } else {
            $('#s-toggle-checkout-antispam-disabled-label').removeClass('gray');
            $('#s-toggle-checkout-antispam-enabled-label').addClass('gray');
            $('.antispam-enabled').hide();
            $('.antispam-disabled').show();
        }
        $('#s-checkout-antispam-form').submit();
    });

    $('#s-checkout-antispam-form').submit(function () {
        var self = $(this);
        $.post(self.attr('action'), self.serialize(), function (response) {
            setTimeout(function () {
                self.find('.value.saved').animate({ 'opacity': 0.8}, 200).delay(500).animate({ 'opacity': 0}, 800);
            }, 400);
        }, 'json');
        return false;
    });

    // Logic for backend validation iButton
    $('#s-toggle-backend-validation-status').iButton( { labelOn : "", labelOff : "", className: 'mini' } ).change(function() {
        var self = $(this);
        self.closest('.value').siblings('.value.description').toggle(200);
        if (this.checked) {
            $('#s-toggle-backend-validation-disabled-label').addClass('gray');
            $('#s-toggle-backend-validation-enabled-label').removeClass('gray');
        } else {
            $('#s-toggle-backend-validation-disabled-label').removeClass('gray');
            $('#s-toggle-backend-validation-enabled-label').addClass('gray');
        }
        $.post('?module=settingsCheckoutSave&action=backendCustomerFormValidation', { enable: self.is(':checked') ? '1' : '0' }, function() {
            setTimeout(function(){
                self.closest('.value').siblings('.value.saved').animate({ 'opacity': 0.8 }, 200).delay(500).animate({ 'opacity': 0 }, 800);
            }, 400);
        });
    });
</script>
