{if isset($saved) && $saved}
    <div class="alert-fixed-box">
        <div class="alert success js-success-alert">
            <i class="fas fa-check-circle"></i>
            [`Settings updated`]
        </div>
    </div>

    <script>
      ( function($) {
        const $alert = $('.js-success-alert');

        setTimeout( function() {
          if ( $.contains(document, $alert[0])) {
            $alert.hide();
          }
        }, 2000);
      })(jQuery);
    </script>
{/if}

<div class="s-settings-form">
    <h1>[`Images`]</h1>

    <div id="s-settings-block">
        <form action="?module=settings&action=images" method="post" id="s-settings-form">
            <div class="fields form">
                <div class="fields-group">

                    <div class="field" id="s-thumbnail-size">
                        <div class="name">
                            [`Thumbnails to be created when image is uploaded`]
                        </div>

                        <div class="value">
                            {if !empty($settings.image_sizes)}
                            <div id="s-saved-size">
                                <ul class="zebra small">
                                {foreach $settings.image_sizes as $set_type => $sizes_set}
                                    {foreach $sizes_set as $key => $size_item}
                                        <li>
                                            <div class="flexbox">
                                                <div class="wide">
                                                {foreach $size_item as $type => $size}
                                                    {if $type == 'crop'}
                                                        [`Square crop`]: <strong>{$size}x{$size} [`px`]</strong>
                                                    {else if $type == 'max'}
                                                        [`Max`] ( [`Width`], [`Height`] ) = <strong>{$size} [`px`]</strong>
                                                    {else if $type == 'width'}
                                                        [`Width`] = <strong>{$size} [`px`]</strong>, [`Height`] = [`auto`]
                                                    {else if $type == 'height'}
                                                        [`Width`] = [`auto`], [`Height`] = <strong>{$size} [`px`]</strong>
                                                    {else if $type == 'rectangle'}
                                                        [`Width`] = <strong>{$size[0]} [`px`]</strong>, [`Height`] = <strong>{$size[1]} [`px`]</strong>
                                                    {/if}
                                                {/foreach}
                                                </div>

                                                {if $set_type == 'custom'}
                                                <a href="#" class="s-delete-action text-red" data-key="{$key}" title="[`delete`]">
                                                    <i class="fas fa-trash-alt"></i>
                                                </a>
                                                {/if}
                                            </div>
                                        </li>
                                    {/foreach}
                                {/foreach}
                                </ul>
                            </div>
                            {/if}

                            <div class="s-size-set" id="s-size-set" style="display: none;">
                                <div class="js-size-option">
                                    <label class="s-label-with-check">
                                        <span class="wa-radio">
                                            <input class="js-radio" type="radio" name="size_type[0]" value="max">
                                            <span></span>
                                        </span>
                                        [`Max`] ( [`Width`], [`Height`] ) = <strong><span class="star">*</span></strong><input type="number" name="size[0]" value="" size="4" class="small shortest numerical js-input" style="display:none;" disabled>[`px`]
                                    </label>
                                </div>
                                <div class="js-size-option">
                                    <label class="s-label-with-check">
                                        <span class="wa-radio">
                                            <input class="js-radio" type="radio" name="size_type[0]" value="width">
                                            <span></span>
                                        </span>
                                        [`Width`] = <strong><span class="star">*</span></strong><input type="number" name="size[0]" value="" size="4" class="small shortest numerical js-input" style="display:none;" disabled>[`px`], [`Height`] = <span class="gray">[`auto`]</span>
                                    </label>
                                </div>
                                <div class="js-size-option">
                                    <label class="s-label-with-check">
                                        <span class="wa-radio">
                                            <input class="js-radio" type="radio" name="size_type[0]" value="height">
                                            <span></span>
                                        </span>
                                        [`Width`] = <span class="gray">[`auto`]</span>, [`Height`] = <strong><span class="star">*</span></strong><input type="number" name="size[0]" value="" size="4" class="small shortest numerical js-input" style="display:none;" disabled>[`px`]
                                    </label>
                                </div>
                                <div class="js-size-option">
                                    <label class="s-label-with-check">
                                        <span class="wa-radio">
                                            <input class="js-radio" type="radio" name="size_type[0]" value="crop">
                                            <span></span>
                                        </span>
                                        [`Square crop`]: [`Size`] = <strong><span class="star">*</span></strong><input type="number" name="size[0]" value="" size="4" class="small shortest numerical js-input" style="display:none;" disabled>[`px`]
                                    </label>
                                </div>
                                <div class="js-size-option">
                                    <label class="s-label-with-check">
                                        <span class="wa-radio">
                                            <input class="js-radio" type="radio" name="size_type[0]" value="rectangle">
                                            <span></span>
                                        </span>
                                        [`Rectangular crop`]: [`Width`] = <strong><span class="star">*</span></strong><input type="number" name="width[0]" value="" class="small shortest numerical js-input" style="display:none;" disabled>[`px`], [`Height`] = <strong><span class="star">*</span></strong><input type="number" name="height[0]" value="" size="4" class="small shortest numerical js-input" style="display:none;" disabled>[`px`]
                                    </label>
                                </div>
                            </div>

                            <a id="s-add-action" href="#" class="button rounded light-gray smaller custom-mt-16">
                                <span class="icon text-green"><i class="fas fa-plus-circle"></i></span>
                                [`Add`]
                            </a>
                        </div>
                    </div>
                </div>

                <div class="fields-group">
                    <div class="field">
                        <div class="name">
                            [`Custom-sized thumbnails`]
                        </div>

                        <div class="value">
                            <label>
                                <span class="wa-checkbox">
                                    <input type="checkbox" name="image_thumbs_on_demand" id="s-thumbs_on_demand" value="1"{if !empty($settings.image_thumbs_on_demand)} checked{/if}>
                                    <span>
                                        <span class="icon">
                                            <i class="fas fa-check"></i>
                                        </span>
                                    </span>
                                </span>
                                [`Allow on demand generation of custom-sized thumbnails`]
                            </label>
                            <div class="hint">[`If enabled, frontend design theme can request generation of custom-sized image thumbnails on fly (any custom size can be requested in addition to the listed above, including cropped versions)`]</div>

                            <div class="custom-mt-12" id="s-max-size"{if !$settings.image_thumbs_on_demand} style="display:none;"{/if}>
                                <h5 class="heading custom-mt-0 custom-mb-4">[`Max thumbnail size`]</h5>

                                <input type="number" name="image_max_size" value="{$settings.image_max_size}" size="4" class="small shortest"> [`px`]

                                <div class="hint custom-mt-4">[`Limits the maximum thumbnail size that can be created on demand. Must be no less than 970 px.`]</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="fields-group">
                    <div class="field">
                        <div class="name">
                            [`Sharpen`]
                        </div>

                        <div class="value">
                            <label>
                                <span class="wa-checkbox">
                                    <input type="checkbox" name="image_sharpen" value="1" {if !empty($settings.image_sharpen)}checked{/if}>
                                    <span>
                                        <span class="icon">
                                            <i class="fas fa-check"></i>
                                        </span>
                                    </span>
                                </span>
                                [`Apply sharpening filter when creating thumbnails (recommended)`]
                            </label>
                        </div>
                    </div>

                    <div class="field">
                        <div class="name">
                            [`Thumbnail quality`]
                        </div>

                        <div class="value">
                            <input type="number" name="image_save_quality" class="small shortest" value="{if isset($settings.image_save_quality) && $settings.image_save_quality !== ''}{str_replace(',', '.', $settings.image_save_quality)}{/if}">

                            <div class="hint custom-mt-4">[`JPEG compression ratio for photo thumbnails. From 0 (min. quality & min. file size) to 100 (max. quality & max. file size). Recommended value is 90.`]</div>
                        </div>
                    </div>

                    <div class="field">
                        <div class="name">
                            [`Thumbnail filenames`]
                        </div>

                        <div class="value">
                            <label>
                                <span class="wa-checkbox">
                                    <input type="checkbox" id="s-image-filename" name="image_filename" value="1" {if !empty($settings.image_filename)}checked{/if}>
                                    <span>
                                        <span class="icon">
                                            <i class="fas fa-check"></i>
                                        </span>
                                    </span>
                                </span>
                                [`Keep original filenames`]
                            </label>

                            <div class="hint">[`When enabled, thumbnails’ file names are derived from the name of an original image file you upload.`]<br>
                            [`When disabled, thumbnails’ file names are generated only with the use of numbers denoting thumbnail dimensions.`]</div>

                            <div id="s-image-filename-hint" class="small"{if empty($settings.image_filename)} style="display: none"{/if}>
                                <p class="highlighted box rounded">{sprintf('[`If you enable this setting for the first time, it is <strong>strongly recommended</strong> to 1) Re-generate all product image thumbnails (use the link below) right after this setting has been changed, and 2) Update your store theme product.html template with the <a href="%s" target="_blank">new product thumbnail display code</a>.`]', '[`https://www.shop-script.com/help/4750/shopscript610-design-theme-changes/`]')}</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="fields-group">

                    <div class="field">
                        <div class="name">
                            [`@2x image thumbnail generation`]
                        </div>

                        <div class="value">
                            <label>
                                <span class="wa-checkbox">
                                    <input type="checkbox" name="enable_2x" value="1"{if !empty($settings.enable_2x)} checked{/if}>
                                    <span>
                                        <span class="icon">
                                            <i class="fas fa-check"></i>
                                        </span>
                                    </span>
                                </span>
                                [`Automatic @2x image thumbnail generation (recommended)`]
                            </label>

                            <div class="hint">[`Enabling this option will allow automatic creation of image thumbnails on-fly for devices with high pixel density displays, e.g. Retina displays. Generating bigger images require more memory resources for image generation, requires more disk space for storing images, but significantly improves user experience on devices with high-end displays`]</div>
                        </div>
                    </div>

                    <div class="field">
                        <div class="name">
                            [`Thumbnail quality @2x`]
                        </div>

                        <div class="value">
                            <input type="number" name="image_save_quality_2x" class="small shortest" value="{if isset($settings.image_save_quality_2x) && $settings.image_save_quality_2x !== ''}{str_replace(',', '.', $settings.image_save_quality_2x)}{/if}">

                            <div class="hint custom-mt-4">[`JPEG, WEBP compression quality for photo thumbnails. From 0 (min quality, min file size) to 100 (max quality, max file size). 70 is recommended.`]</div>
                        </div>
                    </div>
                </div>

                <div class="fields-group">

                    <div class="field">
                        <div class="name">
                            [`Originals`]
                        </div>

                        <div class="value">
                            <label>
                                <span class="wa-checkbox">
                                    <input type="checkbox" name="image_save_original" value="1" {if !empty($settings.image_save_original)}checked{/if}>
                                    <span>
                                        <span class="icon">
                                            <i class="fas fa-check"></i>
                                        </span>
                                    </span>
                                </span>
                                [`Backup image originals`]
                            </label>

                            <div class="hint custom-mt-4">[`When enabled, every uploaded image file is automatically backed up and stored independently from image full size version, which is modified when you edit it, e.g. rotate, apply watermarks or image visual effects. Originals are never updated. Pros: you have backups of all uploaded images. Cons: almost twice more disk space is required for storing original images than for storing only full size versions and thumbnails.`]</div>
                        </div>
                    </div>
                </div>

                <div class="fields-group">
                    <div class="field">
                        <div>
                            <a href="#" id="s-regenerate-thumbs" class="button small outlined red">
                                <i class="fas fa-recycle"></i>
                                [`Re-generate all product image thumbnails`]
                            </a>

                            {if $has_required_files === false}
                            <div class="state-error">[`Image thumbnails cannot be generated because required system files are missing in <em>wa-data/public/shop/products/</em> directory.`]</div>
                            {/if}

                            <div class="hint custom-mt-4">[`Re-generating all public product image thumbnails allows you to save some disk space on server and to optimize images after thumbnail generation settings such as sharpening and JPEG compression quality were changed. Depending on the number of products, the entire process may take from few seconds to few minutes or even hours for very large product databases.`]</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="bottombar sticky s-settings-fixed-bottombar" style="top: auto;height: auto;">
                <p class="js-updated-settings-alert highlighted box rounded small" style="display: none;">
                    [`Updated settings will be applied only to newly created thumbnails. To apply updated settings to all existing product thumbnails, start thumbnail re-generation process.`]
                </p>
                <button type="submit" name="save" class="button green">
                    [`Save`]
                </button>
            </div>
            {$wa->csrf()}
        </form>
    </div>
</div>

{* dialogs section *}

<div class="dialog" id="s-regenerate-thumbs-dialog">
    <div class="dialog-background"></div>

    <div class="dialog-body">
        <form method="post" action="?module=settings&action=imagesRegenerate">
            <a href="#" class="dialog-close js-close-dialog"><i class="fas fa-times"></i></a>

            <header class="dialog-header">
                <h1 class="custom-pr-32">[`Re-generate product image thumbnails`]</h1>
            </header>

            <main class="dialog-content">
                <p>[`This will start the process of deleting all existing product thumbnails and re-generating them from full-size versions according to latest thumbnail generation settings such as sharpening and JPEG compression quality. Depending on the number of products, re-generation may take some time to complete and may free some disk space on your server.`]</p>
                <p class="small">
                    <i class="fas fa-exclamation-triangle"></i>
                    <em>[`While thumbnails are re-generated, your storefront visitors should see no difference in your storefront functioning, and there should be no broken images, because new thumbnails are created by Webasyst automatically upon user request. However, since creating new thumbnails consume server resources, your server may experience above-average load while new thumbnails are created. The overload depends on the number of requests on thumbnails generation, i.e. on your storefront traffic. It is recommended to perform thumbnail re-generation when your storefront traffic is at its lowest.`]</em>
                </p>

                <h5>[`Optional settings`]</h5>

                <div>
                    <label>
                        <span class="wa-checkbox">
                            <input type="checkbox" name="create_thumbnails" value="1">
                            <span>
                                <span class="icon">
                                    <i class="fas fa-check"></i>
                                </span>
                            </span>
                        </span>
                        [`Automatically create thumbnails of predefined custom sizes`]
                    </label>

                    <div class="hint custom-mt-4">
                        [`Enable to get thumbnails of all available sizes created at once. It is recommended if automatic image thumbnail generation is disabled in image settings.`]<br>
                        [`If you leave this option disabled, thumbnails will be automatically created later, at the first request of an image on the website, if automatic image thumbnail generation is enabled.`]
                    </div>
                </div>

                <div class="custom-mt-12">
                    <label>
                        <span class="wa-checkbox">
                            <input type="checkbox" name="with_2x" value="1" disabled>
                            <span>
                                <span class="icon">
                                    <i class="fas fa-check"></i>
                                </span>
                            </span>
                        </span>
                        [`Create @2x image thumbnails`]
                    </label>

                    <div class="hint custom-mt-4">[`@2x thumbnails require more disk space than ordinary ones. Ensure that you have sufficient space to store all image files.`]</div>
                </div>

                <div class="custom-mt-12">
                    <label>
                        <span class="wa-checkbox">
                            <input type="checkbox" name="restore_originals" value="1">
                            <span>
                                <span class="icon">
                                    <i class="fas fa-check"></i>
                                </span>
                            </span>
                        </span>
                        [`Restore product full-size images from originally uploaded versions (backups)`]
                    </label>

                    <div class="hint custom-mt-4">[`Enable this to flush all source full-size images and re-generate them from backups. All plugin customizations to source images will be re-applied. Source images without backups will be skipped.`]</div>
                </div>

                <div id="s-regenerate-progressbar" class="custom-mt-12" style="display: none;">
                    <div class="progressbar">
                        <div class="progressbar-line-wrapper text-inside">
                            <div class="progressbar-outer">
                                <div class="progressbar-inner" style="width: 0%;">
                                    <div class="progressbar-text">0%</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="hint">[`Please don’t close your browser window until re-generation is over.`]</div>

                    <div class="state-error"></div>
                </div>

                <div id="s-regenerate-report" class="custom-mt-12" style="display: none;"></div>
            </main>

            <footer class="dialog-footer">
                {$wa->csrf()}
                <button type="submit" class="button green js-regenerate-button">[`Start re-generation process`]</button>

                <button type="button" class="button small light-gray js-dialog-close">[`Cancel`]</button>
            </footer>
        </form>
    </div>
</div>

<script type="text/javascript" src="{$wa_app_static_url}js/settings/images.js?{$wa->version()}"></script>
<script type="text/javascript">
    document.title = '{"[`Product images`]"|cat:" — ":{$wa->accountName(false)}|escape:'javascript'}';
    if(typeof($)!='undefined') {
        $.settings.imagesInit();
    }
</script>
