<script type="text/javascript" src="{$wa_app_static_url}js/tmpl.min.js?{$wa->version()}"></script>
<script type="text/javascript" src="{$wa_app_static_url}js/inline.editable.widget.js?{$wa->version()}"></script>
<script type="text/javascript" src="{$wa_app_static_url}js/settings/currencies.js?{$wa->version()}"></script>
<div id="s-settings-currencies">
    <div class="flexbox space-12">
        <div class="wide">
            <h1>[`Currencies`]</h1>
        </div>

        <div>
            <button type="button" class="button js-settings-change-primary-currency rounded small light-gray">
                <i class="fas fa-dollar-sign text-blue"></i>
                [`Change primary currency`]
            </button>
        </div>
    </div>

    <div class="fields custom-mt-16">
        <div class="fields-group">
            <div class="field">
                <div class="value">
                    <table class="s-settings-currencies">
                        {foreach $currencies as $currency}
                        <tr data-code="{$currency.code}" class="s-settings-currency {if $currency.code == $primary}primary{/if}">
                            <td class="min-width">
                                <div class="icon js-sort text-gray"><i class="fas fa-grip-vertical cursor-pointer"></i></div>
                                <input type="hidden" name="currency[{$currency.code}]" value="{$currency.code}">
                            </td>

                            <td>
                                <strong>{$currency.title}</strong> <span class="hint">{$currency.sign}</span>
                            </td>

                            <td class="s-rate editable {if $currency.code == $primary}primary{/if}">
                              <div class="box">
                                {if $currency.code == $primary}
                                <span class="badge squared small blue">[`Primary currency`]</span>
                                {else}
                                1 {$currency.code} = <span id="s-rate-{$currency.code}" class="numerical-readonly bold">{$currency.rate}</span>
                                <input type="text" name="rate[{$currency.code}]" value="{(float)$currency.rate}" id="s-rate-{$currency.code}-input" style="display: none;" class="small numerical bold">
                                {$primary}
                                {/if}

                                <div class="rounding-readonly" style="display: none;">
                                    <span class="rounding-value small"></span>
                                    <div class="rounding-up-only-enabled hint">[`(up only)`]</div>
                                </div>

                                <div class="rounding custom-mt-4" style="display: none;">
                                    <div class="smaller">
                                        <select name="rounding[{$currency.code}]">
                                            {foreach $rounding_options as $o_value => $o_label}
                                            <option value="{$o_value|escape}"{if empty($o_value) && !empty($currency.precision)} disabled{elseif ifempty($currency.rounding) == $o_value} selected{/if}>{$o_label|escape}</option>
                                            {/foreach}
                                        </select>
                                    </div>
                                    <div>
                                        <input type="hidden" name="round_up_only[{$currency.code}]" value="">
                                        <label class="smaller">
                                            <span class="wa-checkbox">
                                                <input type="checkbox" name="round_up_only[{$currency.code}]" value="1"{if !empty($currency.round_up_only)} checked{/if}>
                                                <span>
                                                    <span class="icon">
                                                        <i class="fas fa-check"></i>
                                                    </span>
                                                </span>
                                            </span>
                                            [`Round fractions up only`]
                                        </label>
                                    </div>
                                    <button type="button" class="button smallest light-gray save"><span class="icon text-green custom-mr-4"><i class="fas fa-check"></i></span> [`Save`]</button>
                                </div>
                              </div>
                            </td>

                            <td class="s-actions nowrap">
                                <button class="button smaller circle light-gray settings"><span class="icon text-blue"><i class="fas fa-edit"></i></span></button>

                                {if $currency.code != $primary}
                                <button class="button smaller circle light-gray delete">
                                    <span class="js-delete-trash"><span class="icon text-red"><i class="fas fa-trash-alt"></i></span></span>
                                    <span class="js-delete-spinner" style="display: none;"><span class="icon text-light-gray"><i class="fas fa-spinner fa-spin"></i></span></span>
                                </button>
                                {/if}
                            </td>
                        </tr>
                        {/foreach}

                        {capture "template-new-currency"}{literal}
                        <tr data-code="{%#o.code%}" class="s-settings-currency new" style="display: none;">
                            <td class="min-width">
                                <i class="fas fa-grip-vertical js-sort text-gray"></i>
                                <input type="hidden" name="currency[{%#o.code%}]" value="{%#o.code%}">
                            </td>

                            <td class="width-25">
                                <strong class="s-settings-name">{%#o.title%}</strong> <span class="hint">{%#o.sign%}</span>
                            </td>

                            <td class="s-rate editable">
                                1 {%#o.code%}  = <span id="s-rate-{%#o.code%}" class="numerical-readonly">1</span>
                                <input type="number" name="rate[{%#o.code%}]" value="1" id="s-rate-{%#o.code%}-input" style="display: none;" class="smaller numerical short">
                                {/literal}{$primary}{literal}

                                <div class="rounding-readonly" style="display: none;">
                                    <span class="rounding-value small"></span>
                                    <div class="rounding-up-only-enabled hint">[`(up only)`]</div>
                                </div>

                                <div class="rounding custom-mt-4">
                                    <div class="small">
                                        <select name="rounding[{%#o.code%}]">
                                            {/literal}{foreach $rounding_options as $o_value => $o_label}
                                                <option value="{$o_value|escape}"
                                                        {if empty($o_value)}{literal}
                                                            {% if(o.precision){ %} disabled {% } %}
                                                        {/literal}{else}{literal}
                                                            {% if(o.precision='{/literal}{$o_value}{literal}'){ %} selected {% } %}
                                                        {/literal}{/if}
                                                >{$o_label|escape}</option>
                                            {/foreach}{literal}
                                        </select>
                                    </div>
                                    <div>
                                        <input type="hidden" name="round_up_only[{%#o.code%}]" value="">
                                        <label class="smaller">
                                            <span class="wa-checkbox">
                                                <input type="checkbox" name="round_up_only[{%#o.code%}]" value="1" checked>
                                                <span>
                                                    <span class="icon">
                                                        <i class="fas fa-check"></i>
                                                    </span>
                                                </span>
                                            </span>
                                            [`Round fractions up only`]
                                        </label>
                                    </div>
                                    <button type="button" class="button smallest light-gray save" title="[`Save`]"><span class="icon text-blue custom-mr-4"><i class="fas fa-save"></i></span> [`Save`]</button>
                                </div>
                            </td>

                            <td class="s-actions nowrap">
                                <button class="button smaller circle light-gray settings"><span class="icon"><i class="fas fa-cog"></i></span></button>

                                <button class="button smaller circle light-gray delete">
                                    <span class="js-delete-trash"><span class="icon text-red"><i class="fas fa-trash-alt"></i></span></span>
                                    <span class="js-delete-spinner" style="display: none;"><span class="icon text-light-gray"><i class="fas fa-spinner fa-spin"></i></span></span>
                                </button>
                            </td>
                        </tr>
                        {/literal}{/capture}

                        {if !empty($rest_system_currencies)}
                        <tr>
                            <td class="min-width" style="border-bottom: none;"></td>
                            <td colspan="4" style="border-bottom: none;">
                                <div class="small custom-mt-8">
                                    <select class="add-new-currency">
                                        <option value="0">[`Add currency...`]</option>

                                        {foreach $system_currencies as $code => $currency}
                                        <option value="{$code}" {if !isset($rest_system_currencies[$code])}disabled="disabled" style="display:none;"{/if} data-sign="{$currency.sign}" data-title="{$currency.title}">{$code} - {$currency.title}</option>
                                        {/foreach}
                                    </select>
                                </div>

                                <span class="js-new-currency-spinner" style="display: none;"><i class="fas fa-spinner fa-spin"></i></span>
                            </td>
                        </tr>
                        {/if}
                    </table>

                    <div class="hint custom-mt-4">
                        [`Maximum available rounding precision is to nearest 0.01.`]<br>
                        [`“Not round” option is not available by default, unless enabled in user configuration.`]
                    </div>
                </div>
            </div>
        </div>

        <form method="POST" action="?module=settings&action=currenciesSave">
            <div class="fields-group">
                <div class="field">
                    <div class="name">
                        [`Rounding`]
                    </div>

                    <div class="value">
                        <div>
                            <label>
                                <span class="wa-checkbox">
                                    <input type="checkbox" checked disabled>
                                    <span>
                                        <span class="icon">
                                            <i class="fas fa-check"></i>
                                        </span>
                                    </span>
                                </span>
                                [`For product prices`]
                            </label>

                            <div class="hint">[`Rounding is always applied when product price is converted to storefront currency, if rounding is enabled for that currency.`]</div>
                        </div>

                        <div class="custom-mt-12">
                            <label>
                                <span class="wa-checkbox">
                                    <input type="checkbox" name="round_services" value="1"{if !empty($round_services)} checked{/if}>
                                    <span>
                                        <span class="icon">
                                            <i class="fas fa-check"></i>
                                        </span>
                                    </span>
                                </span>
                                [`For service cost`]
                            </label>

                            <div class="hint">[`If checked, service cost in newly placed orders will be rounded according to order currency settings.`]</div>
                        </div>

                        <div class="custom-mt-12">
                            <label>
                                <span class="wa-checkbox">
                                    <input type="checkbox" name="round_discounts" value="1"{if !empty($round_discounts)} checked{/if}>
                                    <span>
                                        <span class="icon">
                                            <i class="fas fa-check"></i>
                                        </span>
                                    </span>
                                </span>
                                [`For total discount amount`]
                            </label>

                            <div class="hint">[`If checked, total discount amount of new orders will be rounded according to order currency settings.`]</div>
                        </div>

                        <div class="custom-mt-12">
                            <label>
                                <span class="wa-checkbox">
                                    <input type="checkbox" name="round_shipping" value="1"{if !empty($round_shipping)} checked{/if}>
                                    <span>
                                        <span class="icon">
                                            <i class="fas fa-check"></i>
                                        </span>
                                    </span>
                                </span>
                                [`For shipping cost`]
                            </label>

                            <div class="hint">[`If checked, shipping cost of new orders will be rounded according to order currency settings.`]</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="fields-group">
                <div class="field">
                    <div class="name">
                        [`Product prices`]
                    </div>

                    <div class="value">
                        <label>
                            <span class="wa-radio">
                                <input type="radio" name="use_product_currency" value="0" {if !$use_product_currency}checked{/if}>
                                <span></span>
                            </span>
                            [`I will input all prices in the primary currency`]
                        </label>

                        <div class="custom-mt-4">
                            <label>
                                <span class="wa-radio">
                                    <input type="radio" name="use_product_currency" value="1" {if $use_product_currency}checked{/if}>
                                    <span></span>
                                </span>
                                [`I will input prices in different currencies depending on product`]
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="fields-group">
                <div class="field">
                    <div class="name">
                        [`Order discount adjustment`]
                    </div>

                    <div class="value">
                        <div class="custom-mb-4">[`When it is impossible to equally distribute the discount amount across all order items,`]</div>

                        <label>
                            <span class="wa-radio">
                                <input type="radio" name="discount_distribution" value="increase_discount"{if $discount_distribution == 'increase_discount'} checked{/if}>
                                <span></span>
                            </span>
                            [`increase the discount`]
                        </label>

                        <div class="hint custom-mt-4">
                            [`The discount will be increased, and the order total will be reduced, by a minimum amount necessary for correct discount distribution across order items.`]
                            [`To set a certain rounding precision for the discount adjustment amount, enable rounding for the <em>total discount amount</em> and select the desired rounding precision for the currencies, in which you receive orders, in their settings on this page.`]
                        </div>

                        {if $discount_distribution == 'increase_discount_no_rounding'}
                        <div class="custom-mt-12">
                            <label>
                                <span class="wa-radio">
                                    <input type="radio" name="discount_distribution" value="increase_discount_no_rounding" checked>
                                    <span></span>
                                </span>
                                [`Increase discount without rounding`]
                            </label>

                            <div class="hint custom-mt-4">
                                [`The discount will be increased, and the order total will be reduced, by a minimum amount necessary for correct discount distribution across order items.`]
                                [`Order currency rounding settings are not applied as when rounding to 0.01 is selected.`]
                            </div>
                        </div>
                        {/if}

                        <div class="custom-mt-12">
                            <label>
                                <span class="wa-radio">
                                    <input type="radio" name="discount_distribution" value="split_order_item"{if $discount_distribution == 'split_order_item'} checked{/if}>
                                    <span></span>
                                </span>
                                [`split one of order items into two`]
                            </label>

                            <div class="hint custom-mt-4">
                                [`One of order items will be split into two separate items.`]
                                [`The price of a new order item will differ by one cent.`]<br>
                                <em>[`This option is not available for multi-step checkout.`]</em>
                            </div>
                        </div>

                        {if $discount_distribution == 'split_order_item_with_rounding'}
                        <div class="custom-mt-4">
                            <label>
                                <span class="wa-radio">
                                    <input type="radio" name="discount_distribution" value="split_order_item_with_rounding" checked>
                                    <span></span>
                                </span>
                                [`Split one of order items into two with rounding applied`]
                            </label>

                            <span class="hint custom-mt-4">
                                [`One of order items will be split into two separate items.`]
                                [`The price of a new order item will differ by a minimum amount, depending on the order currency rounding settings.`]
                                <em>[`This option is not available for multi-step checkout.`]</em>
                            </span>
                        </div>
                        {/if}
                    </div>
                </div>
            </div>

            <div class="bottombar sticky s-settings-fixed-bottombar">
                {$wa->csrf()}
                <button type="submit" class="button green js-submit-button">[`Save`]</button>
            </div>
        </form>
    </div>
</div>

{* dialogs section *}

{$convert_text = "[`Convert product prices (%d) to the new primary currency (%s) according to the current exchange rate (%s)`]"}
{$convert_text = $convert_text|replace:"%d":$product_count}
<div class="dialog" id="s-settings-change-primary-currency-dialog">
    <div class="dialog-background"></div>

    <div class="dialog-body">
        <form method="post" action="?module=settings&action=currencyChange">
            <header class="dialog-header">
                <h1>[`Change primary currency`] <span class="gray">({$primary})</span></h1>
            </header>

            <main class="dialog-content">
                <div class="fields form">
                    <div class="field">
                        <div class="name">[`New primary currency`]</div>

                        <div class="value">
                            <div class="large">
                                <select name="code" data-primary="{$primary}">
                                    {foreach $currencies as $currency}
                                        {if $currency.code != $primary}
                                            <option value="{$currency.code}" {if $currency.code == $primary}checked="checked"{/if} data-rate="{(float)$currency.rate}">{$currency.code}</option>
                                        {/if}
                                    {/foreach}
                                </select>
                            </div>
                        </div>
                    </div>

                    {if $product_count > 0}
                    <div class="field">
                        <div class="name for-radio">[`Convert prices`]</div>

                        <div class="value small">
                            <div class="custom-mt-4">
                                <label>
                                    <span class="wa-radio">
                                        <input type="radio" name="convert" value="1" checked="checked">
                                        <span></span>
                                    </span>
                                    <span class="s-convert-text">{$convert_text}</span>
                                </label>
                            </div>

                            <div class="custom-mt-12">
                                <label>
                                    <span class="wa-radio">
                                        <input type="radio" name="convert" value="0">
                                        <span></span>
                                    </span>
                                    [`Don’t convert, leave all product prices as is`]
                                </label>
                            </div>
                        </div>
                    </div>
                    {/if}
                </div>
            </main>

            <footer class="dialog-footer">
                {$wa->csrf()}
                <button type="submit" class="button blue">
                    [`Change primary currency`]
                    <span class="loading" style="display: none;"><i class="fa fa-spinner fa-spin"></i></span>
                </button>

                <button type="button" class="button light-gray js-dialog-close">[`Cancel`]</button>
            </footer>
        </form>
    </div>
</div>

{* js templates block*}
{foreach $smarty.capture as $template => $template_content}
{if $template_content && (strpos($template, 'template-')===0)}
    <script id="{$template}" type="text/html">
        {$template_content|replace:'</':'<\/'}
    </script>
{/if}
{/foreach}

<script type="text/javascript">
    document.title = '{"[`Currencies`]"|cat:" — ":{$wa->accountName(false)}|escape:'javascript'}';
    $.settings.currenciesInit({
        primary: '{$primary}',
        remove_text: '[`Click “Save” button below to commit the delete.`]',
        convert_text: '{$convert_text}',
        system_currencies: {json_encode($system_currencies)}
    });
</script>
