{strip}

{* ДАННЫЕ *}

{$_page_title = _w("Online marketplaces")}

{/strip}

<div class="s-settings-marketplaces-page" id="js-settings-marketplaces-page" style="visibility: hidden;">
    {* @event backend_settings_premium.top *}
    {if !empty($backend_settings_marketplaces)}{foreach $backend_settings_marketplaces as $_}{ifset($_.top)}{/foreach}{/if}

    {* HEADER *}
    <div class="s-page-header">
        <h1 class="s-title">{$_page_title}</h1>
    </div>

    {* BODY *}
    <div class="s-page-body js-vue-section">
        {* @event backend_settings_marketplaces.middle *}
        {if !empty($backend_settings_marketplaces)}{foreach $backend_settings_marketplaces as $_}{ifset($_.middle)}{/foreach}{/if}

        <p class="small">[`Shop-Script brings all orders from various channels into a single stream. Use plugins to set up external order sources.`]</p>

        <div class="s-marketplace-wrapper">
            <div class="s-frame-wrapper custom-mt-12" id="js-marketplace-plugins"></div>
            <script>( function($) {
                var plugins_url = sessionStorage.getItem("shop/settings/marketplaces");
                plugins_url = (plugins_url ? plugins_url : {$marketplace_plugins_url|json_encode});
                $("#js-marketplace-plugins").html('<i class="icon16 loading"></i>').load(plugins_url);
                sessionStorage.removeItem("shop/settings/marketplaces");
            })(jQuery);</script>
        </div>
    </div>

    <script>
        ( function($) {

            var sources = [{
                id: "wa-settings-marketplaces-css",
                type: "css",
                uri: "{$wa_app_static_url}css/backend/settings/marketplaces.css?v={$wa->version()}"
            }, {
                id: "wa-settings-marketplaces-js",
                type: "js",
                uri: "{$wa_app_static_url}js/backend/settings/marketplaces/marketplaces.js?v={$wa->version()}"
            }];

            $.shop.loadSources(sources).then(init, function() {
                alert("Page Loading Error");
            });

            function init() {
                window.initShopMarketplacesSettingsPage({
                    $wrapper: $("#js-settings-marketplaces-page")
                });
            }

            setTitle({$_page_title|json_encode} + ' — ' + {$wa->accountName()|json_encode});

            {*
             * @description iFrame через внутреннюю магию подменяет title при загрузке плагинов.
             * Код ниже отслеживает изменения document.title, если он поменялся, то возвращает прежнее значение.
             *}
            function setTitle(title) {
                document.title = title;

                var target = document.querySelector("title");
                var observer = new MutationObserver(function(mutations) {
                    if ($.settings.path.dispatch.section !== 'marketplaces') {
                        observer.disconnect();
                        return;
                    }

                    mutations.forEach(function(mutation) {
                        if (document.title !== title) { document.title = title; }
                    });
                });
                var config = { childList: true };
                observer.observe(target, config);
            }

        })(jQuery);
    </script>

    {* @event backend_settings_marketplaces.bottom *}
    {if !empty($backend_settings_marketplaces)}{foreach $backend_settings_marketplaces as $_}{ifset($_.bottom)}{/foreach}{/if}
</div>
