{strip}

{* ДАННЫЕ *}

{$_is_ru = $wa->locale() == 'ru_RU'}
{$_lang = "en"}{if $_is_ru}{$_lang = "ru"}{/if}
{$_version = "2022.02.09.1557"}

{$_page_title = _w("Product quantity units")}

{* ПОДСКАЗКИ *}

{$_locales = [
    "close" => _w("Close")
]}

{$_tooltips = [
    "unit_dialog_code" => [
        "id" => "unit_dialog_code",
        "html" => _w("Used in printable forms; e.g., waybills.")|escape
    ],
    "unit_dialog_short_name" => [
        "id" => "unit_dialog_short_name",
        "html" => sprintf_wp('Used in printable forms. Can be used for backend settings and in the storefront if no value has been set for “%s”.', _w('Name for storefront'))|escape
    ],
    "unit_dialog_storefront_name" => [
        "id" => "unit_dialog_storefront_name",
        "html" => sprintf_wp('Displayed in backend settings and in the storefront. If no value is set then the value of the “%s” field is used.', _w('Symbol'))|escape
    ],
    "unit_move" => [
        "id" => "unit_move",
        "html" => _w("Drag to change the units sort order.")|escape,
        "position" => "top"
    ],
    "unit_status_locked" => [
        "id" => "unit_status_locked",
        "html" => _w("The unit is used in products’ properties or in product types’ settings. Such units cannot be disabled.")|escape,
        "position" => "top"
    ],
    "unit_edit" => [
        "id" => "unit_edit",
        "html" => _w("Edit")|escape,
        "position" => "top-right",
        "width" => "100px"
    ],
    "unit_delete" => [
        "id" => "unit_delete",
        "html" => _w("Delete")|escape,
        "position" => "top-right",
        "width" => "100px"
    ],
    "unit_delete_locked" => [
        "id" => "unit_delete_locked",
        "html" => _w("The unit is used in products’ properties or in product types’ settings. Such units cannot be deleted.")|escape,
        "position" => "top-right"
    ]
]}

{$LIMIT_TYPE_LINKS = 5}
{$fractional_locked = !empty($types_with_fractional) || !empty($types_with_order_count_min) || !empty($types_with_order_count_step)}
{if $fractional_locked}
    {capture assign="_tooltip_fractional_locked"}
        <p>[`To switch to the use of integer product quantities only, disable the following options in product types’ settings:`]</p>

        {if !empty($types_with_fractional)}
            {$count_links = count($types_with_fractional)}
            {if $count_links == $LIMIT_TYPE_LINKS + 1}
                {$limit_links = $LIMIT_TYPE_LINKS + 1}
            {else}
                {$limit_links = 5}
            {/if}
            <p><em>[`Add-to-cart step`]</em></p>
            <ul class="s-types-list">
                {foreach array_slice($types_with_fractional, 0, $limit_links) as $_type}
                    <li class="s-type">
                        <a href="{$wa_app_url}?action=settings#/typefeat/{$_type["id"]}/">{$_type.name|escape}</a>
                    </li>
                {/foreach}
                {if $count_links > $limit_links}
                    <li class="s-type">
                        {_w('and in %d more type', 'and in %d more types', $count_links - $limit_links)}
                    </li>
                {/if}
            </ul>
        {/if}
        {if !empty($types_with_order_count_min)}
            {$count_links = count($types_with_order_count_min)}
            {if $count_links == $LIMIT_TYPE_LINKS + 1}
                {$limit_links = $LIMIT_TYPE_LINKS + 1}
            {else}
                {$limit_links = 5}
            {/if}
            <p><em>[`Minimum orderable quantity`]</em></p>
            <ul class="s-types-list">
                {foreach array_slice($types_with_order_count_min, 0, $limit_links) as $_type}
                    <li class="s-type">
                        <a href="{$wa_app_url}?action=settings#/typefeat/{$_type["id"]}/">{$_type.name|escape}</a>
                    </li>
                {/foreach}
                {if $count_links > $limit_links}
                    <li class="s-type">
                        {_w('and in %d more type', 'and in %d more types', $count_links - $limit_links)}
                    </li>
                {/if}
            </ul>
        {/if}
        {if !empty($types_with_order_count_step)}
            {$count_links = count($types_with_order_count_step)}
            {if $count_links == $LIMIT_TYPE_LINKS + 1}
                {$limit_links = $LIMIT_TYPE_LINKS + 1}
            {else}
                {$limit_links = 5}
            {/if}
            <p><em>[`Quantity adjustment with “+/-” buttons`]</em></p>
            <ul class="s-types-list">
                {foreach array_slice($types_with_order_count_step, 0, $limit_links) as $_type}
                    <li class="s-type">
                        <a href="{$wa_app_url}?action=settings#/typefeat/{$_type["id"]}/">{$_type.name|escape}</a>
                    </li>
                {/foreach}
                {if $count_links > $limit_links}
                    <li class="s-type">
                        {_w('and in %d more type', 'and in %d more types', $count_links - $limit_links)}
                    </li>
                {/if}
            </ul>
        {/if}
    {/capture}
    {$_tooltips["fractional_locked"] = [
        "id" => "fractional_locked",
        "html" => $_tooltip_fractional_locked|trim,
        "position" => "left",
        "width" => "15rem"
    ]}
{/if}

{if !empty($types_with_stock_units)}
    {$count_links = count($types_with_stock_units)}
    {if $count_links == $LIMIT_TYPE_LINKS + 1}
        {$limit_links = $LIMIT_TYPE_LINKS + 1}
    {else}
        {$limit_links = 5}
    {/if}
    {capture assign="_tooltip_stock_units_locked"}
        <p>[`The use of different quantity units is enabled in the product types:`]</p>
        <ul class="s-types-list">
            {foreach array_slice($types_with_stock_units, 0, $limit_links) as $_type}
                <li class="s-type">
                    <a href="{$wa_app_url}?action=settings#/typefeat/{$_type["id"]}/">{$_type.name|escape}</a>
                </li>
            {/foreach}
            {if $count_links > $limit_links}
                <li class="s-type">
                    {_w('and in %d more type', 'and in %d more types', $count_links - $limit_links)}
                </li>
            {/if}
        </ul>
        <p>[`To switch to the use of quantity unit “piece” only, select that stock unit in all product types’ settings.`]</p>
    {/capture}
    {$_tooltips["stock_units_locked"] = [
        "id" => "stock_units_locked",
        "html" => $_tooltip_stock_units_locked|trim,
        "position" => "left",
        "width" => "15rem"
    ]}
{/if}

{if !empty($types_with_base_units)}
    {$count_links = count($types_with_base_units)}
    {if $count_links == $LIMIT_TYPE_LINKS + 1}
        {$limit_links = $LIMIT_TYPE_LINKS + 1}
    {else}
        {$limit_links = 5}
    {/if}
    {capture assign="_tooltip_base_units_locked"}
        <p>[`The use of base quantity units is enabled in the product types:`]</p>
        <ul class="s-types-list">
            {foreach array_slice($types_with_base_units, 0, $limit_links) as $_type}
                <li class="s-type">
                    <a href="{$wa_app_url}?action=settings#/typefeat/{$_type["id"]}/">{$_type.name|escape}</a>
                </li>
            {/foreach}
            {if $count_links > $limit_links}
                <li class="s-type">
                    {_w('and in %d more type', 'and in %d more types', $count_links - $limit_links)}
                </li>
            {/if}
        </ul>
        <p>[`To stop using base quantity units, disable them in all product types’ settings.`]</p>
    {/capture}
    {$_tooltips["base_units_locked"] = [
        "id" => "base_units_locked",
        "html" => $_tooltip_base_units_locked|trim,
        "position" => "left",
        "width" => "15rem"
    ]}
{/if}

{* КОМПОНЕНТЫ *}

{$_components = []}

{/strip}{capture assign="_component_switch"}
    <div class="vue-component-switch" v-bind:class="{ 'is-locked': disabled }">
        <div class="switch-with-text">
            <span class="switch smaller">
                <input type="checkbox" v-bind:id="'switch-'+$attrs.label_id" v-model="modelValue" v-bind:disabled="prop_disabled">
            </span>
            <label :for="'switch-'+$attrs.label_id" data-active-text="{_w("On")|escape}" data-inactive-text="{_w("Off")|escape}">
                { { modelValue ? "{_w("On")|escape}" : "{_w("Off")|escape}" } }
            </label>
        </div>
    </div>
{/capture}{strip}
{$_components["component_switch"] = $_component_switch|trim}

{/strip}{capture assign="_component_units_table"}
<table class="s-units-table small">
    <thead class="s-units-table-header">
        <th v-if="sort" class="s-column-sort"></th>
        <th class="s-column-status"></th>
        <th class="s-column-code">[`Code`]</th>
        <th>[`Quantity unit name`]</th>
        <th class="s-column-symbol">[`Symbol`]</th>
        <th class="s-column-storefront">[`Name for storefront`]</th>
        <th class="s-column-actions">[`Actions`]</th>
    </thead>
    <tbody>
        <tr v-for="unit in units"
            class="s-table-item s-unit-wrapper"
            v-bind:class="{ 'is-highlighted' : unit.states.highlight, 'is-moving' : unit.states.move }"
            v-bind:key="unit.id"
            v-bind:data-id="unit.id">
            <td v-if="sort">
                <div class="s-actions-list">
                    <template v-if="!unit.states.move_loading">
                        <div class="s-action js-unit-move-toggle cursor-move" draggable="true" data-tooltip-id="">
                            <div class="icon text-gray"><i class="fas fa-grip-vertical"></i></div>
                        </div>
                    </template>
                    <template v-else>
                        <div class="s-action"><i class="fas fa-spinner fa-spin text-gray" style="margin: 0;"></i></div>
                    </template>
                </div>
            </td>
            <td>
                <div class="flexbox middle space-4">
                    <component-switch
                    v-model="unit.states.active"
                    v-bind:disabled="unit.states.locked"
                    v-bind:class="{ 'is-loading' : unit.states.status_loading }"
                    v-bind:data-tooltip-id="(unit.states.locked ? 'unit_status_locked' : '')"
                    v-bind:label_id="unit.id"
                    v-on:change="unitStatusChange(unit)"></component-switch>
                    <span v-if="unit.states.status_loading"><i class="fas fa-spinner fa-spin text-gray" style="margin: 0;"></i></span>
                </div>
            </td>
            <td>{ { unit.okei_code } }</td>
            <td>{ { unit.name } }</td>
            <td>{ { unit.short_name } }</td>
            <td>{ { unit.storefront_name ? unit.storefront_name : unit.short_name } }</td>
            <td>
                {strip}
                <div class="s-actions-list align-center">
                    <template v-if="unit.builtin === '2'">
                        <a class="s-action is-locked" href="javascript:void(0);" title="[`This is a special unit that cannot be changed.`]">
                            <div class="icon text-light-gray"><i class="fas fa-edit"></i></div>
                        </a>
                    </template>
                    <template v-else>
                        <a class="s-action" href="javascript:void();" data-tooltip-id="unit_edit" @click.prevent="unitEdit($event, unit)">
                            <div class="icon text-blue"><i class="fas fa-edit"></i></div>
                        </a>
                    </template>
                    <template v-if="unit.states.locked || unit.states.builtin">
                        <a class="s-action is-locked" href="javascript:void(0);" data-tooltip-id="unit_delete_locked">
                            <div class="icon text-light-gray"><i class="fas fa-trash-alt"></i></div>
                        </a>
                    </template>
                    <template v-else>
                        <a class="s-action" href="javascript:void(0);" data-tooltip-id="unit_delete" @click.prevent="unitDelete($event, unit)">
                            <div class="icon text-red"><i class="fas fa-trash-alt"></i></div>
                        </a>
                    </template>
                </div>
                {/strip}
            </td>
        </tr>
    </tbody>
</table>
{/capture}{strip}
{$_components["component_units_table"] = $_component_units_table|trim}

{$_templates = []}

{capture assign="_dialog_fractional_change_confirm"}
    <div class="dialog s-settings-unit-dialog s-settings-units-confirm-dialog" id="js-settings-units-confirm-dialog">
        <div class="dialog-background"></div>
        <div class="wa-dialog-body dialog-body">
            <div class="dialog-header">
                <h2 class="s-title">[`Verify the compatibility of installed plugins & design themes`]</h2>
            </div>
            <div class="dialog-content">
                <ul class="s-content-list">
                    <li>
                        <p>[`For your online store to operate correctly, this setting must be supported by installed plugins and design themes that use product quantities:`]</p>
                        <ul>
                            <li>[`integration with payment systems and fiscal cash registers,`]</li>
                            <li>[`integration with shipping services,`]</li>
                            <li>[`integration with stock accounting systems,`]</li>
                            <li>[`printable forms generators.`]</li>
                        </ul>
                    </li>
                    <li>
                        <div class="wa-table-box">
                            <span class="s-column-icon">1.&nbsp;</span>
                            <p>{sprintf_wp('Verify the compatibility in section “%s → %s”.', _wp('Settings'), _wp('Plugins compatibility'))}</p>
                        </div>
                    </li>
                    <li>
                        <div class="wa-table-box">
                            <span class="s-column-icon">2.&nbsp;</span>
                            <div>
                                <p>[`When fractional product quantities are enabled, test installed plugins and design themes for correct functioning:`]</p>
                                <ul>
                                    <li>[`Add a test product with the updated values and walk through the entire checkout process with that product.`]</li>
                                    <li>[`Test plugins used for the integration with stock accounting systems and online marketplaces.`]</li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="dialog-footer">
                <button class="js-confirm-button button blue" type="button">[`Confirm`]</button>
                &nbsp;
                <button class="js-close-dialog button light-gray" type="button">[`Cancel`]</button>
            </div>
        </div>
    </div>
{/capture}
{$_templates["dialog-fractional-change-confirm"] = $_dialog_fractional_change_confirm}

{capture assign="_dialog_stock_change_confirm"}
    <div class="dialog s-settings-unit-dialog s-settings-units-confirm-dialog" id="js-settings-units-confirm-dialog">
        <div class="dialog-background"></div>
        <div class="wa-dialog-body dialog-body">
            <div class="dialog-header">
                <h2 class="s-title">[`Verify the compatibility of installed plugins & design themes`]</h2>
            </div>
            <div class="dialog-content">
                <ul class="s-content-list">
                    <li>
                        <p>[`For your online store to operate correctly, this setting must be supported by installed plugins and design themes that use product quantity units:`]</p>
                        <ul>
                            <li>[`integration with payment systems and fiscal cash registers,`]</li>
                            <li>[`integration with shipping services,`]</li>
                            <li>[`integration with stock accounting systems,`]</li>
                            <li>[`printable forms generators.`]</li>
                        </ul>
                    </li>
                    <li>
                        <div class="wa-table-box">
                            <span class="s-column-icon">1.&nbsp;</span>
                            <p>{sprintf_wp('Verify the compatibility in section “%s → %s”.', _wp('Settings'), _wp('Plugins compatibility'))}</p>
                        </div>
                    </li>
                    <li>
                        <div class="wa-table-box">
                            <span class="s-column-icon">2.&nbsp;</span>
                            <div>
                                <p>[`When different stock units are enabled, test installed plugins and design themes for correct functioning:`]</p>
                                <ul>
                                    <li>[`Add a test product with the updated values and walk through the entire checkout process with that product.`]</li>
                                    <li>[`Test plugins used for the integration with stock accounting systems and online marketplaces.`]</li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="dialog-footer">
                <button class="js-confirm-button button blue" type="button">[`Confirm`]</button>
                &nbsp;
                <button class="js-close-dialog button light-gray" type="button">[`Cancel`]</button>
            </div>
        </div>
    </div>
{/capture}
{$_templates["dialog-stock-change-confirm"] = $_dialog_stock_change_confirm}

{capture assign="_dialog_base_change_confirm"}
    <div class="dialog s-settings-unit-dialog s-settings-units-confirm-dialog" id="js-settings-units-confirm-dialog">
        <div class="dialog-background"></div>
        <div class="wa-dialog-body dialog-body">
            <div class="dialog-header">
                <h2 class="s-title">[`Verify the compatibility of installed plugins & design themes`]</h2>
            </div>
            <div class="dialog-content">
                <ul class="s-content-list">
                    <li>
                        <p>[`For your online store to operate correctly, this setting must be supported by installed plugins and design themes that use product quantity units in the storefront.`]</p>
                    </li>
                    <li>
                        <div class="wa-table-box">
                            <span class="s-column-icon">1.&nbsp;</span>
                            <p>{sprintf_wp('Verify the compatibility in section “%s → %s”.', _wp('Settings'), _wp('Plugins compatibility'))}</p>
                        </div>
                    </li>
                    <li>
                        <div class="wa-table-box">
                            <span class="s-column-icon">2.&nbsp;</span>
                            <div>
                                <p>[`When a base stock unit is enabled, test installed plugins and design themes for correct functioning:`]</p>
                                <ul>
                                    <li>[`Add a few test products with the updated values and check how they are displayed in the storefront.`]</li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="dialog-footer">
                <button class="js-confirm-button button blue" type="button">[`Confirm`]</button>
                &nbsp;
                <button class="js-close-dialog button light-gray" type="button">[`Cancel`]</button>
            </div>
        </div>
    </div>
{/capture}
{$_templates["dialog-base-change-confirm"] = $_dialog_base_change_confirm}

{/strip}

<div class="s-unit-settings-page" id="js-unit-settings-page" style="visibility: hidden;">
    <div class="s-page-content-section js-page-content-section" id="js-app-unit-content-section">
        {* HEADER *}
        <div class="s-section-header">
            <h1 class="s-title">{$_page_title}</h1>

            <p>
                <a href="?action=settings#/compatibility/" class="button light-gray">
                    <span class="icon custom-mr-8"><i class="fas fa-puzzle-piece"></i></span>
                    <span class="shop-sidebar-hidden">[`Plugins compatibility`]</span>
                </a>
            </p>
            {if $is_teaser}
            {include file="templates/includes/availableWithPremiumAlert.html" title="[`Product quantity units`]" inline}
            {/if}
            <div class="alert small s-section-header-help custom-mt-32">
                <div class="box">
                    <div class="flexbox space-8">
                        <span class="s-icon"><i class="fas fa-info-circle"></i></span>
                        <div class="wide">
                            <span class="cursor-pointer select-none" @click="states.help_display = !states.help_display">[`Description of available settings options`]</span>
                            <div class="small custom-mt-4 semibold">
                                <a href="javascript:void(0);" class="cursor-pointer select-none" @click="states.help_display = !states.help_display">
                                    <template v-if="{if $is_teaser}!{/if}states.help_display">[`Collapse`]</template>
                                    <template v-else>[`Expand`]</template>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="s-sections-list custom-mt-16" v-if="{if $is_teaser}!{/if}states.help_display">
                        {* 1 *}
                        <div class="s-section-wrapper">
                            <div class="s-section-header">
                                <h4 class="s-title">[`Stock units of product quantities`]</h4>
                            </div>
                            <div class="s-section-body">
                                <div class="s-text-wrapper">
                                    <ul>
                                        <li>[`Products can be sold with various quantity units used; e.g., pieces or packages for single items, kilograms for weight products, square feet for flooring.`]</li>
                                        <li>[`For each product you can select the most suitable quantity units to conveniently present it in the storefront.`]</li>
                                        <li>[`The quantity unit shown in the storefront next the product price is the one to which the price refers.`]</li>
                                    </ul>
                                </div>
                                <div class="s-image-wrapper">
                                    <img class="s-image" src="{$wa_app_static_url}img/backend/settings/premium/{$_lang}/image1.jpg?v={$_version}" alt="">
                                </div>
                            </div>
                        </div>
                        {* 2 *}
                        <div class="s-section-wrapper">
                            <div class="s-section-header">
                                <h4 class="s-title">[`Base quantity unit for convenient comparison of product prices`]</h4>
                            </div>
                            <div class="s-section-body">
                                <div class="s-text-wrapper">
                                    <p>[`It might not always be convenient to compare the prices of products sold in packages if packages contain different product quantities. For instance, porcelain stoneware is sold in packages but it is convenient to compare the prices of different items by the price of a square foot rather than by the package price.`]</p>
                                    <ul>
                                        <li>[`To make the comparison more convenient, you can add one more quantity unit to a product—a base unit.`]</li>
                                        <li>[`To use a base unit, you need to specify its conversion ratio from a stock unit. That ratio is used to calculate the price of a base product unit.`]</li>
                                        <li>[`In the storefront, shoppers can see then two prices with their corresponding quantity units, and the conversion ratio specified for those units.`]</li>
                                        <li>[`Shoppers can select the most convenient of those units to compare and sort products in the storefront.`]</li>
                                    </ul>
                                </div>
                                <div class="s-image-wrapper">
                                    <img class="s-image" src="{$wa_app_static_url}img/backend/settings/premium/{$_lang}/image2.jpg?v={$_version}" alt="">
                                </div>
                            </div>
                        </div>
                        {* 3 *}
                        <div class="s-section-wrapper">
                            <div class="s-section-header">
                                <h4 class="s-title">[`Adjustable add-to-cart step value`]</h4>
                            </div>
                            <div class="s-section-body">
                                <div class="s-text-wrapper">
                                    <p>[`It is the minimum quantity of a product by which its quantity can be changed when the shopping cart contents are updated, i.e. when a product is added to the cart or when its quantity in the cart is decreased or increased.`]</p>

                                    <h6>[`Example #1`]</h6>
                                    <p>[`Suppose that you are selling porcelain stoneware in packages. For convenience, the price is displayed in the storefront in square feet but the product is available for purchase only in quantities expressed in whole packages. Therefore, you cannot always order an arbitrary number of square feet but you can purchase only an integer number of packages corresponding to a certain value expressed in square feet.`]</p>
                                    <ul>
                                        <li>[`To make the selling of such products convenient, you can set up an add-to-cart step value that should be used when a product is added to the shopping cart. It might be equal to the number of square feet of product contained in a package, for instance.`]</li>
                                        <li>[`A customer will be able to add only such a quantity of the product to the shopping cart which is multiple of that step value. If a package contains 12.5&nbsp;sq.&nbsp;ft. then a customer will be able to add to the cart only quantities equal to 12.5&nbsp;sq.&nbsp;ft., 25&nbsp;sq.&nbsp;ft., 37.5&nbsp;sq.&nbsp;ft., etc.`]</li>
                                        <li>[`If a customer attempts to manually enter a quantity which is not multiple of the specified step value then that quantity is rounded up to the nearest value multiple of the add-to-cart step.`]</li>
                                    </ul>

                                    <h6>[`Example #2`]</h6>
                                    <p>[`Suppose that you are selling watermelons measured accurate to the ounce.`]</p>
                                    <ul>
                                        <li>[`You can set up the add-to-cart step equal to 0.16 lb.`]</li>
                                        <li>[`A customer will be able to specify a desired product quantity with the precision of 2 decimal digits because you have set the add-to-cart step value with that number of decimal digits.`]</li>
                                        <li>[`When a purchased watermelon is actually weighed, the online store personnel can edit the placed order to save the exact weight value.`]</li>
                                    </ul>
                                </div>
                                <div class="s-image-wrapper">
                                    <img class="s-image" src="{$wa_app_static_url}img/backend/settings/premium/{$_lang}/image5.jpg?v={$_version}" alt="">
                                </div>
                            </div>
                        </div>
                        {* 4 *}
                        <div class="s-section-wrapper">
                            <div class="s-section-header">
                                <h4 class="s-title">[`Minimum orderable product quantity`]</h4>
                            </div>
                            <div class="s-section-body">
                                <div class="s-text-wrapper">
                                    <p>[`You can specify any product quantity below which a customer cannot add to the shopping cart. Different product types can have their own minimum quantities.`]</p>
                                </div>
                                <div class="s-image-wrapper">
                                    <img class="s-image" src="{$wa_app_static_url}img/backend/settings/premium/{$_lang}/image6.jpg?v={$_version}" alt="">
                                </div>
                            </div>
                        </div>
                        {* 5 *}
                        <div class="s-section-wrapper">
                            <div class="s-section-header">
                                <h4 class="s-title">[`Configurable product quantity adjustment in the shopping cart with “+/-” buttons`]</h4>
                            </div>
                            <div class="s-section-body">
                                <div class="s-text-wrapper">
                                    <p>[`You can change the standard value 1 to any other, more convenient, number by which the product quantity must be changed when the “+/-” buttons are clicked. This value does not affect the rounding of the product quantity.`]</p>

                                    <h6>[`Example`]</h6>
                                    <ul>
                                        <li>[`Suppose that you are selling oranges, weighed in pounds, with the add-to-cart step of 0.16 lb.`]</li>
                                        <li>[`Shoppers and the store personnel can enter any values in quantity fields with the precision of 0.16 lb.`]</li>
                                        <li>[`However, to make it convenient for customers to change the product quantity in the shopping cart, you can set up the quantity alteration value, changed via “+/-” buttons, to 0.5 lb. so that it is not necessary to adjust the order weight to the ounce.`]</li>
                                    </ul>
                                </div>
                                <div class="s-image-wrapper">
                                    <img class="s-image" src="{$wa_app_static_url}img/backend/settings/premium/{$_lang}/image6.jpg?v={$_version}" alt="">
                                </div>
                            </div>
                        </div>

                        {* END *}
                        <div class="s-section-wrapper">
                            <div class="small custom-mt-4 semibold">
                                <a href="javascript:void(0);" class="cursor-pointer select-none" @click="{if $is_teaser}states.help_display = !states.help_display{else}closeHelp{/if}">[`Collapse`]</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        {* BODY *}
        <div class="s-section-body{if $is_teaser} opacity-50 custom-mb-48{/if}">
            <div class="s-settings-section s-content-section">
                <div class="s-section-body">
                    <div class="fields">
                        <div class="fields-group">
                            <div class="field">
                                <div class="name">[`Products adding to the shopping cart`]</div>
                                <div class="value">
                                    <div class="s-radio-group{if $is_teaser} is-locked{/if}"
                                        v-bind:class="{ 'is-locked' : states.change_type }"
                                         {if !$is_teaser}v-on:change="onFractionalChange"{/if}>
                                        <div class="s-radio-wrapper">
                                            <label :data-tooltip-id="(fractional.locked ? 'fractional_locked' : '')">
                                                <span class="wa-radio">
                                                    <input type="radio" value="0"
                                                           {if !$is_teaser}v-model="fractional.enabled"
                                                       v-bind:disabled="fractional.locked"{/if}>
                                                    <span></span>
                                                </span>
                                                [`Only integer quantity values, with the add-to-cart step equal to 1.`]
                                            </label>
                                        </div>
                                        <div class="s-radio-wrapper">
                                            <label :data-tooltip-id="(fractional.locked ? 'fractional_locked' : '')">
                                                <span class="wa-radio">
                                                    <input type="radio" value="1"
                                                           {if !$is_teaser}v-model="fractional.enabled"
                                                        v-bind:disabled="fractional.locked"{/if}>
                                                    <span></span>
                                                </span>
                                                 [`Fractional quantities, with the option to set up an arbitrary add-to-cart step, a minimum orderable quantity, and a quantity adjustment value for “+/-” buttons.`]
                                            </label>
                                            <div class="hint">[`Exact values must be saved in product types’ settings.`]</div>
                                        </div>
                                    </div>

                                    <div class="s-saving-text" v-if="states.change_type">
                                        <i class="fas fa-spinner fa-spin"></i> [`Saving`]
                                    </div>

                                    <template v-if="errors.fractional.length" >
                                        <template v-for="error in errors.fractional" :key="error.id">
                                            <div class="state-error-hint"
                                                 v-text="error.text"></div>
                                        </template>
                                    </template>
                                </div>
                            </div>
                            <div class="field">
                                <div class="name">[`Product stock quantity unit`]</div>
                                <div class="value">
                                    <div class="s-radio-group{if $is_teaser} is-locked{/if}"
                                        v-bind:class="{ 'is-locked' : states.change_stock_units }"
                                         {if !$is_teaser}v-on:change="onStockUnitsChange"{/if}>
                                        <div class="s-radio-wrapper">
                                            <label :data-tooltip-id="(fractional.stock_units.locked ? 'stock_units_locked' : '')">
                                                <span class="wa-radio">
                                                    <input type="radio" value="0"
                                                           {if !$is_teaser}v-model="fractional.stock_units.enabled"
                                                        v-bind:disabled="fractional.stock_units.locked"{/if}>
                                                    <span></span>
                                                </span>
                                                [`Pieces for all product types.`]
                                            </label>
                                            <div class="hint">[`Product quantity is stored and displayed in the storefront in pieces.`]</div>
                                        </div>
                                        <div class="s-radio-wrapper">
                                            <label :data-tooltip-id="(fractional.stock_units.locked ? 'stock_units_locked' : '')">
                                                <span class="wa-radio">
                                                    <input type="radio" value="1"
                                                           {if !$is_teaser}v-model="fractional.stock_units.enabled"
                                                        v-bind:disabled="fractional.stock_units.locked"{/if}>
                                                    <span></span>
                                                </span>
                                                [`Products can be available for order with different quantity units.`]
                                            </label>
                                            <div class="hint">[`For every product available for order, you can assign an individual quantity unit; e.g., pieces, packages, liters, or pounds. You need first to enable this option in the product type settings.`]</div>
                                        </div>
                                    </div>

                                    <div class="s-saving-text" v-if="states.change_stock_units">
                                        <i class="fas fa-spinner fa-spin text-gray"></i> [`Saving`]
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                                <div class="name">[`Base product quantity unit`]</div>
                                <div class="value">
                                    <div class="s-radio-group{if $is_teaser} is-locked{/if}"
                                         v-bind:class="{ 'is-locked' : states.change_base_units }"
                                         v-if="fractional.stock_units.enabled === '1'"
                                         {if !$is_teaser}v-on:change="onBaseUnitsChange"{/if}>
                                        <div class="s-radio-wrapper">
                                            <label :data-tooltip-id="(fractional.base_units.locked ? 'base_units_locked' : '')">
                                                <span class="wa-radio">
                                                    <input type="radio" value="0"
                                                           {if !$is_teaser}v-model="fractional.base_units.enabled"
                                                        v-bind:disabled="fractional.base_units.locked"{/if}>
                                                    <span></span>
                                                </span>
                                                [`Not used.`]
                                            </label>
                                        </div>
                                        <div class="s-radio-wrapper">
                                            <label :data-tooltip-id="(fractional.base_units.locked ? 'base_units_locked' : '')">
                                                <span class="wa-radio">
                                                    <input type="radio" value="1"
                                                           {if !$is_teaser}v-model="fractional.base_units.enabled"
                                                        v-bind:disabled="fractional.base_units.locked"{/if}>
                                                    <span></span>
                                                </span>
                                                [`You can set up base quantity units for products.`]
                                            </label>
                                            <div class="hint">[`The price of a base product quantity unit can be used for convenient price comparison. For instance, laminate flooring is sold in packages but it is more convenient to compare the prices of a square foot. In this example, a package is a stock quantity unit and a square foot is a base quantity unit.`]</div>
                                        </div>
                                    </div>
                                    <template v-else>
                                        <p class="small">{sprintf_wp('The price of a base product quantity unit can be used for convenient price comparison. For instance, laminate flooring is sold in packages but it is more convenient to compare the prices of a square foot. In this example, a package is a stock quantity unit and a square foot is a base quantity unit. To start using a base unit, enable mode “%s” for the stock unit.', _w('Products can be available for order with different quantity units.'))}</p>
                                    </template>

                                    <div class="s-saving-text" v-if="states.change_base_units">
                                        <i class="fas fa-spinner fa-spin text-gray"></i> [`Saving`]
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            {if !$is_teaser}
            <div class="s-units-section s-content-section">
                <div class="s-section-header">
                    <h5 class="s-title">[`Product quantity units`]</h5>

                    <div class="alert custom-mt-16 small" v-if="fractional.stock_units.enabled === '1'">
                        <div class="flexbox space-8">
                            <span class="s-icon"><i class="fas fa-info-circle"></i></span>
                            <div class="wide">[`Select a desired unit from the list and enable it, or add your own unit. Only enabled units will be available in product properties. You can adjust the sort order of enabled units by dragging them by the sorting icons next to their names.`]</div>
                        </div>
                    </div>
                    <div class="alert custom-mt-16 small" v-else>
                        <div class="flexbox space-8">
                            <span class="s-icon"><i class="fas fa-info-circle"></i></span>
                            <div class="wide">[`The list of units will be available after you enable the option of selling product with different quantity units.`]</div>
                        </div>
                    </div>
                </div>
                <div class="s-section-body" v-if="fractional.stock_units.enabled === '1'">
                    {* ACTIVE UNITS TABLE *}
                    <div class="fields">
                        <div v-if="active_units.length" class="fields-group">
                            <component-units-table
                                v-bind:class="'s-active-units-table'"
                                v-bind:sort="true"
                                v-bind:units="active_units"></component-units-table>
                        </div>
                        <div class="s-add-wrapper">
                            <button type="button" class="button light-gray rounded small" @click="unitAdd">
                                <i class="icon fas fa-plus-circle text-green"></i> [`Add quantity unit`]
                            </button>
                        </div>
                        {* INACTIVE UNITS TABLE *}
                        <template v-if="units.length">
                            <div v-if="inactive_units.length" class="custom-mb-32">
                                {* SEARCH *}
                                <div class="s-search-section small width-40 state-with-inner-icon left">
                                    <div class="icon text-gray"><i class="fas fa-search"></i></div>
                                    <input class="s-search-field js-search-field full-width" type="text" name="search"
                                        placeholder="{_w('Quantity units search')|escape}"
                                        autocomplete="off"
                                        v-model="unit_search"
                                        v-on:input="searchUnits" />
                                </div>
                                <div class="fields-group custom-mt-8">
                                    {* TABLE *}
                                    <template v-if="visible_inactive_units.length">
                                        <component-units-table
                                            v-bind:class="'s-inactive-units-table'"
                                            v-bind:sort="false"
                                            v-bind:units="visible_inactive_units"></component-units-table>
                                    </template>
                                    <div class="s-message-empty" v-else>[`Specified units not found`]</div>
                                </div>
                            </div>
                        </template>
                        <!-- <div class="s-message-empty" v-else>[`No quantity units`]</div> -->
                    </div>
                </div>
            </div>
            {/if}
        </div>
    </div>

    <script>
        ( function($) {

            document.title = {$_page_title|json_encode} + ' — ' + {$wa->accountName()|json_encode};

            var sources = [{
                id: "vue-js",
                type: "js",
                uri: "{$wa_app_static_url}js/backend/vue/{if $wa->debug()}vue.global.js{else}vue.global.prod.js{/if}?v={$wa->version()}"
            }, {
                id: "wa-units-settings-css",
                type: "css",
                uri: "{$wa_app_static_url}css/backend/settings/units.css?v={$wa->version()}"
            }, {
                id: "wa-units-settings-js",
                type: "js",
                uri: "{$wa_app_static_url}js/backend/settings/units/units.js?v={$wa->version()}"
            }];

            $.shop.loadSources(sources).then(init, function() {
                alert("Page Loading Error");
            });

            function init() {
                window.initShopUnitSettingsPage({
                    loading: '<span><i class="fas fa-spinner fa-spin text-gray loading"></span>',
                    $wrapper: $("#js-unit-settings-page"),
                    components: {$_components|json_encode},
                    templates: {$_templates|json_encode},
                    tooltips: {$_tooltips|json_encode},
                    locales: {$_locales|json_encode},
                    {if !$is_teaser}
                    urls: {
                        "reload": {$wa_app_url|json_encode} + "?module=settings&action=Unit",
                        "unit_edit_dialog": {$wa_app_url|json_encode} + "?module=settingsUnit&action=EditDialog",
                        "unit_save": {$wa_app_url|json_encode} + "?module=settingsUnit&action=Save",
                        "unit_delete": {$wa_app_url|json_encode} + "?module=settingsUnit&action=Delete",
                        "unit_delete_dialog": {$wa_app_url|json_encode} + "?module=settingsUnit&action=DeleteDialog",
                        "unit_move": {$wa_app_url|json_encode} + "?module=settingsUnit&action=sort",
                        "unit_status": {$wa_app_url|json_encode} + "?module=settingsUnit&action=changeStatus",
                        "change_type": {$wa_app_url|json_encode} + "?module=settingsUnit&action=changeType",
                        "change_stock_units": {$wa_app_url|json_encode} + "?module=settingsUnit&action=changeStockUnits",
                        "change_base_units": {$wa_app_url|json_encode} + "?module=settingsUnit&action=changeBaseUnits"
                    },
                    {/if}
                    fractional: {
                        "enabled": {if !empty($frac_enabled)}1{else}0{/if},
                        "locked" : {if !empty($fractional_locked)}true{else}false{/if},
                        "stock_units": {
                            "enabled": {if !empty($stock_units_enabled)}1{else}0{/if},
                            "locked" : {if !empty($types_with_stock_units)}true{else}false{/if}
                        },
                        "base_units": {
                            "enabled": {if !empty($base_units_enabled)}1{else}0{/if},
                            "locked" : {if !empty($types_with_base_units)}true{else}false{/if}
                        }
                    },
                    units: {$units|default:[]|json_encode}
                });
            }

        })(jQuery);
    </script>
</div>
