<script type="text/javascript" src="{$wa_app_static_url}js/settings/notifications.js?v={$wa->version()}"></script>
<script type="text/javascript" src="{$wa_url}wa-content/js/ace/ace.js?{$wa->version(true)}"></script>
<script type="text/javascript" src="{$wa_url}wa-content/js/jquery-wa/wa.elrte.ace.js"></script>
<link rel="stylesheet" href="{$wa_url}wa-content/css/wa/design.css?{$wa->version()}">
{$icon_convert = [
    'email' => $wa->shop->getIcon('email'),
    'mobile' => $wa->shop->getIcon('mobile'),
    'globe-small' => $wa->shop->getIcon('globe-small')
]}
<div class="flexbox space-16">
    <div class="sidebar flexbox overflow-visible s-sidebar-section" style="width: 14rem;">
        <div class="sidebar-body">
            <div id="toggle-notifications-by-transport" class="toggle smaller custom-mt-16">
                <span class="selected">[`All`]</span>
                <span data-id="email">[`Email`]</span>
                <span data-id="sms">[`SMS`]</span>
                <span data-id="http">[`HTTP`]</span>
            </div>
            <ul class="menu custom-mb-8" id="notifications">
                {foreach $notifications as $n}
                <li  id="notification-{$n.id}" class="rounded" data-transport="{$n.transport}">
                    <a href="#/notifications/{$n.id}/" title="{$n.name}">
                        {if isset($transports[$n.transport].icon)}
                        <span class="icon {if !$n.status}opacity-50{/if}">{$icon_convert[$transports[$n.transport].icon]}</span>
                        {/if}
                        <span class="name {if !$n.status}gray{/if}">{$n.name}</span>
                    </a>
                </li>
                {/foreach}
            </ul>
            <a href="#/notifications/add/" class="button nobutton smaller light-gray rounded custom-mt-16">
                <i class="fas fa-plus-circle text-green"></i>
                [`Add custom notification`]
            </a>

            <div class="custom-mt-8 box">
                <h5 class="heading custom-m-0 custom-mb-8">[`Sender name`]</h5>

                <label class="small">
                    <span class="wa-radio">
                        <input type="radio" name="notification_name" value="general" {if !$notification_name || $notification_name == 'general'}checked{/if}>
                        <span></span>
                    </span>

                    <span>[`Store name`]</span>
                </label>
                <div class="hint custom-mt-4 custom-ml-20">[`as specified in the “Settings → General settings” section`]</div>

                <div class="custom-mt-12">
                    <label class="small">
                        <span class="wa-radio">
                            <input type="radio" name="notification_name" value="route_params" {if $notification_name == 'route_params'}checked{/if}>
                            <span></span>
                        </span>

                        [`Storefront name`]
                    </label>

                    <div class="hint custom-mt-4 custom-ml-20">[`as specified in the “Storefront → Settings” section for each storefront`]</div>
                </div>

                <div class="custom-mt-12 custom-ml-20">
                    <button type="button" class="button smallest green" id="notification-name-save-button" style="display: none;">[`Save`]</button>
                </div>
            </div>
        </div>
    </div>

    <div class="wide">
        <div id="notifications-content" class="custom-mt-12">
            <i class="fas fa-spinner fa-spin"></i>
            [`Loading...`]
        </div>
    </div>
</div>

<div class="dialog" id="s-settings-confirm-delete">
    <div class="dialog-background"></div>

    <div class="dialog-body">
        <form method="post" action="?module=settings&action=NotificationsDelete">
            <header class="dialog-header">
                <h1>[`Delete notification`]</h1>
            </header>

            <main class="dialog-content">
                <p>[`This will permanently delete this notification. Are you sure?`]</p>
                <input type="hidden" name="id" value="0">
            </main>

            <footer class="dialog-footer">
                {$wa->csrf()}
                <button type="submit" class="button red">[`Delete`]</button>
                <span class="loading custom-mr-8" style="display:none;"><i class="fas fa-spinner fa-spin"></i></span>
                <button class="button light-gray js-dialog-close">[`Cancel`]</button>
            </footer>
        </form>
    </div>
</div>

<script>
    $.icon_convert = {$icon_convert|json_encode};

    document.title = '{"[`Notifications`]"|cat:" — ":{$wa->accountName(false)}|escape:'javascript'}';
    (function() {
        const radios = $('input:radio[name="notification_name"]');
        const button = $('#notification-name-save-button');
        radios.change(function() {
            button.show();
        });
        button.on('click', function() {
            button.hide();
            radios.attr('disabled', true);
            $.post('?module=settings&action=configSave', { notification_name: radios.filter(':checked').val() }, function() {
                radios.attr('disabled', false);
            });
        });
    })();
</script>
