<div class="field-group">
    <div class="field">
        <div class="value submit">
            <div class="block half-padded float-right">
                <ul class="menu-h with-icons">
                    <li><a id="s-n-help" href="#" class="inline-link"><i class="icon16 script"></i><b><i>[`Cheat sheet`]</i></b><i class="icon10 darr-tiny"></i></a></li>
                </ul>
            </div>
            <input type="submit" id="n-send-button" value="[`Save`]" class="button green">
            {if !empty($n)}
                <input type="button" id="send-test-button" class="button" value="[`Send test`]">
            {/if}
        </div>
        <div class="value" id="s-n-help-content" style="display:none">
            <div class="block s-cheatsheet">
                <div class="fields">
                
                    <!-- ORDER -->
                    <div class="field">
                        <div class="name bold">
                            &#123;$order&#125;
                        </div>
                        <div class="value no-shift">
                            [`An array containing information about the order`]
                        </div>
                    </div>
                    <div class="field s-sub-field">
                        <div class="name">
                            &#123;$order.id&#125;
                        </div>
                        <div class="value no-shift">
                            [`Order ID`]
                        </div>
                    </div>
                    <div class="field s-sub-field">
                        <div class="name">
                            &#123;$order.currency&#125;
                        </div>
                        <div class="value no-shift">
                            [`Order currency (ISO 3 code)`]
                        </div>
                    </div>
                    <div class="field s-sub-field">
                        <div class="name">
                            &#123;$order.items&#125;
                        </div>
                        <div class="value no-shift">
                            [`An array containing information about ordered items`]
                        </div>
                    </div>
                    <div class="field s-sub-field">
                        <div class="name" style="padding-left: 32px;">
                            &#123;$order.items[].price&#125;
                        </div>
                        <div class="value no-shift">
                            [`Item price`]
                        </div>
                    </div>
                    <div class="field s-sub-field">
                        <div class="name" style="padding-left: 32px;">
                            &#123;$order.items[].quantity&#125;
                        </div>
                        <div class="value no-shift">
                            [`Ordered item quantity`]
                        </div>
                    </div>
                    <div class="field s-sub-field">
                        <div class="name" style="padding-left: 32px;">
                            &#123;$order.items[].download_link&#125;
                        </div>
                        <div class="value no-shift">
                            [`Item download link (SKU attachment)`]
                        </div>
                    </div>
                    <div class="field s-sub-field">
                        <div class="name">
                            &#123;$order.discount&#125;
                        </div>
                        <div class="value no-shift">
                            [`Order discount amount (in order currency)`]
                        </div>
                    </div>
                    <div class="field s-sub-field">
                        <div class="name">
                            &#123;$order.tax&#125;
                        </div>
                        <div class="value no-shift">
                            [`Order tax amount (in order currency)`]
                        </div>
                    </div>
                    <div class="field s-sub-field">
                        <div class="name">
                            &#123;$order.shipping&#125;
                        </div>
                        <div class="value no-shift">
                            [`Order shipping cost (amount in order currency)`]
                        </div>
                    </div>
                    <div class="field s-sub-field">
                        <div class="name">
                            &#123;$order.total&#125;
                        </div>
                        <div class="value no-shift">
                            [`Order total (amount in order currency)`]
                        </div>
                    </div>
                    <div class="field s-sub-field">
                        <div class="name">
                            &#123;$order.comment&#125;
                        </div>
                        <div class="value no-shift">
                            [`Customer’s comment to the order`]
                        </div>
                    </div>
                    
                    <!-- STATUS -->
                    <div class="field">
                        <div class="name bold">
                            &#123;$status&#125;
                        </div>
                        <div class="value no-shift">
                            [`Current order status name`]
                        </div>
                    </div>
                    <!-- ORDER_URL -->
                    <div class="field">
                        <div class="name bold">
                            &#123;$order_url&#125;
                        </div>
                        <div class="value no-shift">
                            [`An URL to access order page in customer personal account in storefront`]
                        </div>
                    </div>
                    
                    <!-- ORDER.PARAMS -->
                    <div class="field">
                        <div class="name bold">
                            &#123;$order.params&#125;
                        </div>
                        <div class="value no-shift">
                            [`An array of other (custom) order parameter values`]
                        </div>
                    </div>
                    <div class="field s-sub-field">
                        <div class="name">
                            &#123;$order.params.shipping_name&#125;
                        </div>
                        <div class="value no-shift">
                            [`Order selected shipping option name`]
                        </div>
                    </div>
                    <div class="field s-sub-field">
                        <div class="name">
                            &#123;$order.params.shipping_description&#125;
                        </div>
                        <div class="value no-shift">
                            [`Order selected shipping option description`]
                        </div>
                    </div>
                    <div class="field s-sub-field">
                        <div class="name">
                            &#123;$order.params.payment_name&#125;
                        </div>
                        <div class="value no-shift">
                            [`Order selected payment option name`]
                        </div>
                    </div>
                    <div class="field s-sub-field">
                        <div class="name">
                            &#123;$order.params.payment_description&#125;
                        </div>
                        <div class="value no-shift">
                            [`Order selected payment option description`]
                        </div>
                    </div>
                    <div class="field s-sub-field">
                        <div class="name">
                            &#123;$order.params.auth_pin&#125;
                        </div>
                        <div class="value no-shift">
                            [`A 4-digit PIN to access order info page (for customers without permanent account only)`]
                        </div>
                    </div>
                    <div class="field s-sub-field">
                        <div class="name">
                            &#123;$order.params.storefront&#125;
                        </div>
                        <div class="value no-shift">
                            [`Domain and path to Shop-Script storefront where the order was placed`]
                        </div>
                    </div>                    
                    <div class="field s-sub-field">
                        <div class="name">
                            &#123;$order.params.ip&#125;
                        </div>
                        <div class="value no-shift">
                            [`Customer’s IP address for the moment of order creation`]
                        </div>
                    </div>
                    <div class="field s-sub-field">
                        <div class="name">
                            &#123;$order.params.user_agent&#125;
                        </div>
                        <div class="value no-shift">
                            [`Customer’s User Agent string for the moment of order creation`]
                        </div>
                    </div>
                    <div class="field s-sub-field">
                        <div class="name">
                            &#123;$order.params.<br>shipping_est_delivery&#125;
                        </div>
                        <div class="value no-shift">
                            [`A string indicating approximate timeframe of the order delivery (if defined)`]
                        </div>
                    </div>
                    <div class="field s-sub-field">
                        <div class="name">
                            &#123;$order.params.tracking_number&#125;
                        </div>
                        <div class="value no-shift">
                            [`Order shipment tracking number (if defined)`]
                        </div>
                    </div>                    
                    <div class="field s-sub-field">
                        <div class="name">
                            &#123;$order.params. … &#125;
                        </div>
                        <div class="value no-shift">
                            [`The list of order params may vary depending on your workflow and plugin setup`]
                        </div>
                    </div>  
                    
                    <!-- CUSTOMER -->
                    <div class="field">
                        <div class="name bold">
                            &#123;$customer&#125;
                        </div>
                        <div class="value no-shift">
                            [`An array containing information about the customer according to the Contacts app setup and your storefront’s checkout contact info form`]
                        </div>
                    </div>
                    <div class="field s-sub-field">
                        <div class="name">
                            &#123;$customer.name&#125;
                        </div>
                        <div class="value no-shift">
                            [`Customer full name`]
                        </div>
                    </div>
                    <div class="field s-sub-field">
                        <div class="name">
                            &#123;$customer.firstname&#125;
                        </div>
                        <div class="value no-shift">
                            [`Customer first name`]
                        </div>
                    </div>
                    <div class="field s-sub-field">
                        <div class="name">
                            &#123;$customer.lastname&#125;
                        </div>
                        <div class="value no-shift">
                            [`Customer last name`]
                        </div>
                    </div>
                    <div class="field s-sub-field">
                        <div class="name">
                            &#123;$customer->get('email', 'default')&#125;
                        </div>
                        <div class="value no-shift">
                            [`Customer email`]
                        </div>
                    </div>
                    <div class="field s-sub-field">
                        <div class="name">
                            &#123;$customer->get('phone', 'default')&#125;
                        </div>
                        <div class="value no-shift">
                            [`Customer phone`]
                        </div>
                    </div>
                    <div class="field s-sub-field">
                        <div class="name">
                            &#123;$customer. … &#125;
                        </div>
                        <div class="value no-shift">
                            [`The list of available contact fields is defined in your store backend: Settings &rarr; Checkout &rarr; Contact info checkout step`]
                        </div>
                    </div>                    

                    <!-- ADDRESSES -->
                    <div class="field">
                        <div class="name bold">
                            &#123;$shipping_address&#125;
                        </div>
                        <div class="value no-shift">
                            [`Shipping address as string`]
                        </div>
                    </div>
                    <div class="field">
                        <div class="name bold">
                            &#123;$billing_address&#125;
                        </div>
                        <div class="value no-shift">
                            [`Billing address as string`]
                        </div>
                    </div>
                    
                    <!-- ACTION DATA -->
                    <div class="field">
                        <div class="name bold">
                            &#123;$action_data&#125;
                        </div>
                        <div class="value no-shift">
                            [`An array containing information about performed order action (action-dependent)`]
                        </div>
                    </div>
                    <div class="field s-sub-field">
                        <div class="name">
                            &#123;$action_data.text&#125;
                        </div>
                        <div class="value no-shift">
                            [`Performed action text comment (action-dependent)`]
                        </div>
                    </div>
                    <div class="field s-sub-field">
                        <div class="name">
                            &#123;$action_data.params&#125;
                        </div>
                        <div class="value no-shift">
                            [`An array of action-dependent parameters, e.g. &#123;$action_data.params.tracking_number&#125; for Ship’s action tracking number`]
                        </div>
                    </div>
                </div>
                <div class="clear-both"></div>
            </div>
        </div>
    </div>
</div>
        
{if !empty($n)}
    <div id="send-test-dialog" class="dialog" style="display:none">
        <div class="dialog-background"></div>
        <div class="dialog-window">
            <div class="dialog-content">
                <div class="dialog-content-indent">
                    <h1>[`Send test notification`]</h1>
                    {if empty($test_orders)}
                        <p>[`Notification testing requires at least one paid or complete order for sample data.`]</p>
                    {else}
                        <div class="fields form">
                            <div class="field">
                                <div class="name">[`Send to`]</div>
                                <div class="value">
                                    {if $n.transport == 'email'}
                                        <input type="text" value="{$wa->user()->get('email', 'default')|escape}" class="bold">
                                    {else if $n.transport == 'sms'}
                                        <input type="text" value="{$wa->user()->get('phone', 'default')|escape}" class="bold">
                                    {/if}
                                </div>
                            </div>
                        </div>

                        <p class="clear-left select-order-message">[`Select an order to fetch sample data from`]</p>
                        <table class="zebra" style="cursor: pointer;">
                        {foreach $test_orders as $o}
                            <tr>
                                <td>
                                    <input type="radio" name="order_selector" value="{$o.id|escape}">
                                </td>
                                <td class="nowrap">
                                    <span style="{$o.style|escape}">
                                        <i class="{$o.icon}"></i>{$o.id_str}
                                    </span>
                                </td>
                                <td>{$o.create_datetime|wa_date:'humandate'}</td>
                                <td>
                                    {foreach $o.items as $i}
                                        {$i.name|escape} <span class="gray">x {$i.quantity}</span><br />
                                    {/foreach}
                                </td>
                                <td class="bold nowrap align-right">{$o.total_formatted}</td>
                            </tr>
                        {/foreach}
                        </table>
                    {/if}
                </div>
            </div>
            <div class="dialog-buttons">
                <div class="dialog-buttons-gradient">
                    {$wa->csrf()}
                    <div class="before-send">
                        <input class="button blue" type="submit" value="[`Send test`]" data-n-id={$n.id}>
                        <span class="s-msg-after-button" style="display:none;"><i class="icon16 loading"></i></span>
                        [`or`] <a class="cancel" href="javascript:void(0);">[`cancel`]</a><br>
                    </div>
                    <div class="after-send">
                        <input class="button cancel" type="button" value="[`Close`]">
                        <em class="bold successmsg"><i class="icon16 yes"></i>[`Test message sent!`]</em>
                    </div>
                </div>
            </div>
        </div>
    </div>
{/if}
        
<script type="text/javascript">
    $("#s-n-help").click(function () {
        $("#s-n-help-content").toggle();
        return false;
    });
</script>