<div class="block s-cheatsheet">
    <div class="fields">
        
        <!-- ORDER -->
        <div class="field">
            <div class="name bold">
                &#123;$order&#125;
            </div>
            <div class="value no-shift">
                [`An array containing information about the order`]
            </div>
        </div>
        <div class="field s-sub-field">
            <div class="name">
                &#123;$order.id&#125;
            </div>
            <div class="value no-shift">
                [`Order ID`]
            </div>
        </div>
        <div class="field s-sub-field">
            <div class="name">
                &#123;$order.currency&#125;
            </div>
            <div class="value no-shift">
                [`Order currency (ISO 3 code)`]
            </div>
        </div>
        <div class="field s-sub-field">
            <div class="name">
                &#123;$order.items&#125;
            </div>
            <div class="value no-shift">
                [`An array containing information about ordered items`]
            </div>
        </div>
        <div class="field s-sub-field">
            <div class="name" style="padding-left: 32px;">
                &#123;$order.items[].price&#125;
            </div>
            <div class="value no-shift">
                [`Item price`]
            </div>
        </div>
        <div class="field s-sub-field">
            <div class="name" style="padding-left: 32px;">
                &#123;$order.items[].quantity&#125;
            </div>
            <div class="value no-shift">
                [`Ordered item quantity`]
            </div>
        </div>
        <div class="field s-sub-field">
            <div class="name" style="padding-left: 32px;">
                &#123;$order.items[].download_link&#125;
            </div>
            <div class="value no-shift">
                [`Item download link (SKU attachment)`]
            </div>
        </div>
        <div class="field s-sub-field">
            <div class="name">
                &#123;$order.discount&#125;
            </div>
            <div class="value no-shift">
                [`Order discount amount (in order currency)`]
            </div>
        </div>
        <div class="field s-sub-field">
            <div class="name">
                &#123;$order.tax&#125;
            </div>
            <div class="value no-shift">
                [`Order tax amount (in order currency)`]
            </div>
        </div>
        <div class="field s-sub-field">
            <div class="name">
                &#123;$order.shipping&#125;
            </div>
            <div class="value no-shift">
                [`Order shipping cost (amount in order currency)`]
            </div>
        </div>
        <div class="field s-sub-field">
            <div class="name">
                &#123;$order.total&#125;
            </div>
            <div class="value no-shift">
                [`Order total (amount in order currency)`]
            </div>
        </div>
        <div class="field s-sub-field">
            <div class="name">
                &#123;$order.comment&#125;
            </div>
            <div class="value no-shift">
                [`Customer’s comment to the order`]
            </div>
        </div>

        <!-- ORDER.PARAMS -->
        <div class="field">
            <div class="name bold">
                &#123;$order.params&#125;
            </div>
            <div class="value no-shift">
                [`An array of other (custom) order parameter values`]
            </div>
        </div>
        <div class="field s-sub-field">
            <div class="name">
                &#123;$order.params.shipping_name&#125;
            </div>
            <div class="value no-shift">
                [`Order selected shipping option name`]
            </div>
        </div>
        <div class="field s-sub-field">
            <div class="name">
                &#123;$order.params.shipping_description&#125;
            </div>
            <div class="value no-shift">
                [`Order selected shipping option description`]
            </div>
        </div>
        <div class="field s-sub-field">
            <div class="name">
                &#123;$order.params.payment_name&#125;
            </div>
            <div class="value no-shift">
                [`Order selected payment option name`]
            </div>
        </div>
        <div class="field s-sub-field">
            <div class="name">
                &#123;$order.params.payment_description&#125;
            </div>
            <div class="value no-shift">
                [`Order selected payment option description`]
            </div>
        </div>
        <div class="field s-sub-field">
            <div class="name">
                &#123;$order.params.auth_pin&#125;
            </div>
            <div class="value no-shift">
                [`A 4-digit PIN to access order info page (for customers without permanent account only)`]
            </div>
        </div>
        <div class="field s-sub-field">
            <div class="name">
                &#123;$order.params.storefront&#125;
            </div>
            <div class="value no-shift">
                [`Domain and path to Shop-Script storefront where the order was placed`]
            </div>
        </div>
        <div class="field s-sub-field">
            <div class="name">
                &#123;$order.params.ip&#125;
            </div>
            <div class="value no-shift">
                [`Customer’s IP address for the moment of order creation`]
            </div>
        </div>
        <div class="field s-sub-field">
            <div class="name">
                &#123;$order.params.user_agent&#125;
            </div>
            <div class="value no-shift">
                [`Customer’s User Agent string for the moment of order creation`]
            </div>
        </div>
        <div class="field s-sub-field">
            <div class="name">
                &#123;$order.params.<br>shipping_est_delivery&#125;
            </div>
            <div class="value no-shift">
                [`A string indicating approximate timeframe of the order delivery (if defined)`]
            </div>
        </div>
        <div class="field s-sub-field">
            <div class="name">
                &#123;$order.params.tracking_number&#125;
            </div>
            <div class="value no-shift">
                [`Order shipment tracking number (if defined)`]
            </div>
        </div>
        <div class="field s-sub-field">
            <div class="name">
                &#123;$order.params. … &#125;
            </div>
            <div class="value no-shift">
                [`The list of order params may vary depending on your workflow and plugin setup`]
            </div>
        </div>

        <!-- CUSTOMER -->
        <div class="field">
            <div class="name bold">
                &#123;$customer&#125;
            </div>
            <div class="value no-shift">
                [`An array containing information about the customer according to the Contacts app setup and your storefront’s checkout contact info form`]
            </div>
        </div>
        <div class="field s-sub-field">
            <div class="name">
                &#123;$customer.name&#125;
            </div>
            <div class="value no-shift">
                [`Customer full name`]
            </div>
        </div>
        <div class="field s-sub-field">
            <div class="name">
                &#123;$customer.firstname&#125;
            </div>
            <div class="value no-shift">
                [`Customer first name`]
            </div>
        </div>
        <div class="field s-sub-field">
            <div class="name">
                &#123;$customer.lastname&#125;
            </div>
            <div class="value no-shift">
                [`Customer last name`]
            </div>
        </div>
        <div class="field s-sub-field">
            <div class="name">
                &#123;$customer->get('email', 'default')&#125;
            </div>
            <div class="value no-shift">
                [`Customer email`]
            </div>
        </div>
        <div class="field s-sub-field">
            <div class="name">
                &#123;$customer->get('phone', 'default')&#125;
            </div>
            <div class="value no-shift">
                [`Customer phone`]
            </div>
        </div>
        <div class="field s-sub-field">
            <div class="name">
                &#123;$customer. … &#125;
            </div>
            <div class="value no-shift">
                [`The list of available contact fields is defined in your store backend: Settings &rarr; Checkout &rarr; Contact info checkout step`]
            </div>
        </div>

        <!-- USER -->
        <div class="field">
            <div class="name bold">
                &#123;$user&#125;
            </div>
            <div class="value no-shift">
                [`An array containing information about current backend user (agent) sending a message`]
            </div>
        </div>
        <div class="field s-sub-field">
            <div class="name">
                &#123;$user.name&#125;
            </div>
            <div class="value no-shift">
                [`User full name`]
            </div>
        </div>
        <div class="field s-sub-field">
            <div class="name">
                &#123;$user.firstname&#125;
            </div>
            <div class="value no-shift">
                [`User first name`]
            </div>
        </div>
        <div class="field s-sub-field">
            <div class="name">
                &#123;$user.lastname&#125;
            </div>
            <div class="value no-shift">
                [`User last name`]
            </div>
        </div>
        <div class="field s-sub-field">
            <div class="name">
                &#123;$user->get('email', 'default')&#125;
            </div>
            <div class="value no-shift">
                [`User email`]
            </div>
        </div>
        <div class="field s-sub-field">
            <div class="name">
                &#123;$user->get('phone', 'default')&#125;
            </div>
            <div class="value no-shift">
                [`User phone number`]
            </div>
        </div>
        <div class="field s-sub-field">
            <div class="name">
                &#123;$user. … &#125;
            </div>
            <div class="value no-shift">
                [`The list of available contact fields is defined in your store backend: Settings &rarr; Checkout &rarr; Contact info checkout step`]
            </div>
        </div>
        
        <!-- SHOP SETTINGS -->
        <div class="field">
            <div class="name bold">
                &#123;$wa->shop->settings('name')&#125;
            </div>
            <div class="value no-shift">
                [`Store name (as defined in General settings)`]
            </div>
        </div>
        <div class="field s-sub-field">
            <div class="name">
                &#123;$wa->shop->settings('phone')&#125;
            </div>
            <div class="value no-shift">
                [`Store phone number`]
            </div>
        </div>
        <div class="field s-sub-field">
            <div class="name">
                &#123;$wa->shop->settings('email')&#125;
            </div>
            <div class="value no-shift">
                [`Store primary email`]
            </div>
        </div>
        <div class="field s-sub-field">
            <div class="name">
                &#123;$workhour_days&#125;
            </div>
            <div class="value no-shift">
                [`Store working days, e.g. Sun, Mon, Wed—Fri`]
            </div>
        </div>
        <div class="field s-sub-field">
            <div class="name">
                &#123;$workhour_from&#125;
            </div>
            <div class="value no-shift">
                [`Start of store working hours, e.g. 9:00 am`]
            </div>
        </div>
        <div class="field s-sub-field">
            <div class="name">
                &#123;$workhour_to&#125;
            </div>
            <div class="value no-shift">
                [`End of store working hours, e.g. 5:00 pm`]
            </div>
        </div>

    </div>
    <div class="clear-both"></div>
</div>
