<div class="wa-dropdown">
    <div class="wa-drop-link">
        <a class="inline-link" id="wa-editor-help-link" href="#">
            <i class="icon16 cheatsheet"></i><b><i>[s`Cheat sheet`]</i></b>
            <i class="icon10 uarr no-overhanging"></i>
        </a>
        <div id="wa-editor-help" class="wa-dropdown-block"></div>
        <script type="text/javascript">
            (function () {
                var $help = $("#wa-editor-help");
                var onShow = function (e) {
                    if ($(e.target).attr('id') == 'wa-editor-help' || $(e.target).parents('#wa-editor-help').length) {
                        $(document).one('click', onShow);
                    } else {
                        $("#wa-editor-help").hide();
                    }
                };

                $("#wa-editor-help-link").click(function () {
                    if ($help.is(":visible")) {
                        $help.hide();
                        return false;
                    }
                    if ($help.data('loaded')) {
                        $help.show();
                        $(document).one('click', onShow);
                    } else {
                        $help.load('?module=pages&action=help', "app=shop&file=followups", function () {
                            $help.data('loaded', true);
                            $help.show();
                            $help.find('ul>li.no-tab>p.bold').hide();
                            $(document).one('click', onShow);
                        });
                    }
                    return false;
                });

                $("#wa-editor-help").on('click', "div.fields a.inline-link", function () {
                    var el = $(this).find('i');
                    if (el.children('b').length) {
                        el = el.children('b');
                    }

                    wa_editor.insert(el.text());
                    return false;
                });
            })();
        </script>
    </div>
</div>
