<div class="s-features-settings-page is-not-ready" id="js-features-settings-page" style="visibility: hidden;">
    <script>
        ( function($) {
            $("#js-features-settings-page").data("ready", $.Deferred());
        })(jQuery);
    </script>

    <div class="flexbox">
        {$sidebar_html}
        <div class="content s-content-section js-content-section custom-ml-8 custom-mb-40" style="margin-top: -7px;">
            {* HEADER *}
            <div class="s-section-header">

                <div class="flexbox middle wrap">
                    {* TITLE *}
                    <h1 class="s-title custom-mr-16 wide">{$title|escape}</h1>
                    {strip}
                        {if empty($is_filter_page)}
                            <div class="s-type-actions">
                                <a class="s-action js-type-edit button small rounded light-gray" href="javascript:void(0);" title="[`Edit`]">
                                    <i class="fas fa-pencil-alt text-blue"></i>
                                </a>
                                {if $can_be_delete}
                                    <a class="s-action js-type-delete button small rounded light-gray" href="javascript:void(0);" title="[`Delete`]">
                                        <i class="fas fa-trash-alt text-red"></i>
                                    </a>
                                {else}
                                    <span title="[`You cannot delete the only existing product type.`]">
                                    <i class="fas fa-trash-alt text-light-gray custom-mr-4"></i>
                                    [`Delete`]
                                </span>
                                {/if}
                            </div>
                        {/if}
                    {/strip}
                </div>

                {* SEARCH *}
                <div class="s-search-section flexbox state-with-inner-icon left">
                    <input class="js-search-field full-width" type="text" name="search" placeholder="{_w('Feature search')|escape}" autocomplete="off">
                    <span class="icon"><i class="fas fa-search"></i></span>
                </div>
            </div>

        {* BODY *}
        <div class="fields">
            <section class="s-features-section">
                {if isset($codes)}
                    <div class="s-section-title-wrapper">
                        <div class="s-section-title">
                            <h4 class="s-title h4">[`Product codes`]</h4>
                            &nbsp;<span class="wa-tooltip" data-wa-tooltip-content="[`Product codes are completed on the order page for each ordered item. They can be used to store trade item numbers, software license numbers or unique serial numbers.`]"><i class="fas fa-info-circle fa-xs text-dark-gray"></i></span>
                        </div>
                        <button class="js-code-add button small rounded light-gray">
                            <i class="fas fa-plus-circle text-green"></i>
                            [`Add product code`]
                        </button>
                    </div>
                    <div class="fields-group custom-mt-0">
                        {if !empty($codes)}
                            {$_title = _w('To delete this product code, disable or delete the corresponding plugin.')}
                            {$_disabled = "is-disabled"}
                            <div class="s-features-list s-codes-list js-codes-list">
                                <div class="s-empty-search js-empty-search">[`No product codes matching the search criteria`]</div>
                                {foreach $codes as $_code}
                                    <div class="s-feature-wrapper js-code-wrapper" data-id="{$_code.id|escape}" data-code="{$_code.code|escape}">
                                        <div class="s-feature-block">
                                            <div class="s-column-img">
                                                {strip}
                                                    {if !empty($_code.icon) && $_code.code_plugin_enabled}
                                                        <img src="{$wa_url}{$_code.icon}">
                                                    {else}
                                                        <i class="fas fa-qrcode"></i>
                                                    {/if}
                                                {/strip}
                                            </div>
                                            <div class="s-column-name">
                                                {strip}
                                                    <div class="js-search-place">
                                                        <div class="s-name-wrapper">
                                                            <span class="s-name">{$_code.name|escape}</span>
                                                        </div>
                                                        <div class="s-code">{$_code.code|escape}</div>
                                                    </div>
                                                {/strip}
                                            </div>
                                            <div class="s-column-actions">
                                                {strip}
                                                    <div class="s-actions-list align-right custom-p-4-mobile">
                                                        <div class="flexbox vertical-mobile">
                                                            <a href="javascript:void({$_code.id|escape});"
                                                                class="js-code-edit button custom-mb-4-mobile nowrap rounded light-gray smaller"
                                                                style="width: min-content;"
                                                                title="[`Edit`]">
                                                                <i class="fas fa-pencil-alt text-blue"></i>
                                                                <span class="desktop-only"></span>
                                                            </a>
                                                            <div class="custom-mb-8-mobile dropdown secondary-actions">
                                                                <button class="dropdown-toggle button smaller rounded light-gray custom-pl-0" type="button"
                                                                    title="[`Actions`]">&nbsp;</button>
                                                                <div class="dropdown-body right">
                                                                    <ul class="menu">
                                                                        <li>
                                                                            <a href="javascript:void(0);" class="js-code-copy" title="[`Duplicate`]">
                                                                                <i class="fas fa-copy text-blue"></i>
                                                                                <span>[`Duplicate`]</span>
                                                                            </a>
                                                                        </li>
                                                                        <li>
                                                                            <a href="javascript:void(0);" class="js-action {if $_code.protected_code}js-code-undeletable{else}js-code-delete{/if}"
                                                                                data-confirm-text="[`This will permanently delete this shipping option. Are you sure?`]"
                                                                                title="{if $_code.protected_code}{$_title}{else}[`Delete`]{/if}" data-cancel="[`Cancel`]">
                                                                                <i class="fas fa-trash-alt{if $_code.protected_code} text-light-gray{else} text-red{/if}"></i>
                                                                                <span>[`Delete`]</span>
                                                                            </a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {/strip}
                                            </div>
                                        </div>
                                    </div>
                                {/foreach}
                            </div>
                        {else}
                            <div class="s-message-empty">
                                {if $type_url_id == 'empty'}
                                    [`There are no product codes that are not available for any product type.`]
                                {elseif $type_url_id == 'all_existing'}
                                    [`There are no product codes available for all product types.`]
                                {else}
                                    [`No product codes.`]
                                {/if}
                            </div>
                        {/if}

                    </div>
                </section>
            {/if}
            <section class="s-features-section">
                <div class="s-section-title-wrapper">
                    <div class="s-section-title">
                        <h4 class="s-title h4">[`Features`]</h4>
                        &nbsp;<span class="wa-tooltip" data-wa-tooltip-content="{if wa_is_int($type_url_id)}[`Features are displayed on storefront product pages in the order set up for this product type.`]<br><br>[`To change features’ sort order, drag &amp; drop them to desired locations within the list.`]{else}[`To change features’ sort order, select a product type.`]{/if}"><i class="fas fa-info-circle fa-xs text-dark-gray"></i></span>
                    </div>
                    {if $type_url_id != 'builtin'}
                    <div class="dropdown js-features">
                        <button class="dropdown-toggle custom-pr-24 button small rounded light-gray">
                            <i class="fas fa-plus-circle text-green"></i>
                            [`Add feature`]
                        </button>
                        <div class="dropdown-body right">
                            <ul class="menu">
                                <li>
                                    <a class="js-feature-add-new"
                                        href="javascript:void(0);"
                                        data-type-id="{$type_url_id|default:""|escape}">
                                        <span class="s-name">[`New feature`]</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="js-feature-add-divider"
                                        href="javascript:void(0);"
                                        data-type-id="{$type_url_id|default:""|escape}"
                                        data-mode="divider">
                                        <span class="s-name">[`Feature group heading`]</span>
                                    </a>
                                </li>
                                {if empty($is_filter_page)}
                                    <li class="with-border">
                                        <a class="js-feature-add-existing" href="javascript:void(0);">
                                            <span class="s-name">[`Feature or heading from&nbsp;other product types`]</span>
                                        </a>
                                    </li>
                                {/if}
                            </ul>

                        </div>
                        <script>
                            ( function($) {
                                $(".js-features").waDropdown();
                            })(jQuery);
                        </script>
                    </div>
                    {/if}
                </div>
                <div class="fields-group custom-mt-0">

                        {if !empty($features)}
                            <div class="s-features-list js-features-list">
                                <div class="s-empty-search js-empty-search">[`No features matching the search criteria`]</div>
                                {foreach $features as $_feature}
                                    {$_classes = []}
                                    {$_is_visible = true}
                                    {if empty($_feature.visible_in_frontend)}
                                        {$_classes[] = "is-disabled"}
                                        {$_is_visible = false}
                                    {/if}

                                    {$_sku_enabled = false}
                                    {if !empty($_feature.available_for_sku)}
                                        {$_sku_enabled = true}
                                    {/if}

                                    {$_is_divider = false}
                                    {if !empty($_feature.type)}
                                        {if $_feature.type === "divider"}
                                            {$_is_divider = true}
                                            {$_classes[] = "is-divider"}
                                        {else}
                                            {$_classes[] = "is-custom-feature"}
                                        {/if}
                                    {else}
                                        {$_classes[] = "is-feature"}
                                    {/if}

                                    <div class="s-feature-wrapper js-feature-wrapper {$_classes|join:" "}" data-id="{$_feature.id|escape}" data-code="{$_feature.code|escape}" data-visibility-enabled="{if $_is_visible}1{/if}" data-sku-enabled="{if $_sku_enabled}1{/if}">
                                        <div class="s-feature-block">
                                            <div class="s-column-actions">

                                                {strip}
                                                <div class="s-actions-list">
                                                    {if empty($is_filter_page)}
                                                        <a class="s-action js-feature-sort-toggle" href="javascript:void(0);" title="[`Drag to change features’ sort order`]">
                                                            <i class="fas fa-grip-vertical js-sort text-light-gray cursor-pointer"></i>
                                                        </a>
                                                    {/if}
                                                    <a class="s-action js-feature-visibility-toggle" href="javascript:void(0);" title="[`Show on website`]">
                                                        <i class="fas fa-eye{if !$_is_visible} hidden{/if}"></i>
                                                        <i class="fas fa-eye-slash{if $_is_visible} hidden{/if} text-light-gray"></i>
                                                        <i class="fas fa-spin fa-spinner hidden"></i>
                                                    </a>
                                                    {if empty($_is_divider)}
                                                        {if $_feature.builtin}
                                                            {if $_feature.code === 'weight'}
                                                                {$builtin_title = _w('“Weight” is a special feature, which must always be available for editing in product SKUs’ properties.')}
                                                            {elseif $_feature.code === 'gtin'}
                                                                {$builtin_title = _w('“GTIN (Global Trade Item Number)” is a special feature, which must always be available for editing in product SKUs’ properties.')}
                                                            {else}
                                                                {$builtin_title = _w('You cannot disable the editing of this feature’s values in product SKUs’ properties, because some products in your store have SKUs generated from this feature’s values in “Selectable parameters” mode.')}
                                                            {/if}
                                                            <a class="s-action js-feature-sku-toggle-always" href="javascript:void(0);" title="{$builtin_title}"><i class="fas fa-sitemap"></i></a>
                                                        {else}
                                                            <a class="s-action js-feature-sku-toggle" href="javascript:void(0);" title="[`Enables editing of feature values for product SKUs`]">
                                                                <i class="fas fa-sitemap{if !$_sku_enabled} text-light-gray{/if}"></i>
                                                            </a>
                                                        {/if}
                                                    {/if}
                                                </div>
                                                {/strip}

                                            </div>
                                            <div class="s-column-name">

                                                {strip}
                                                <div class="js-search-place">
                                                    <div class="s-name-wrapper">
                                                        <span class="s-name">{$_feature.name|escape}</span>
                                                        {if !empty($_is_divider)}
                                                            <span class="s-description">[`Feature group heading`]</span>
                                                        {/if}
                                                    </div>
                                                    <div class="s-code">{$_feature.code|escape}</div>
                                                </div>
                                                {/strip}

                                            </div>
                                            <div class="s-column-actions">
                                            {strip}
                                                <div class="s-actions-list align-right custom-p-4-mobile">
                                                    <div class="flexbox vertical-mobile">
                                                        <a href="javascript:void(0);"
                                                            class="js-feature-edit button custom-mb-4-mobile nowrap rounded light-gray smaller"
                                                            style="width: min-content;"
                                                            title="[`Edit`]"
                                                            data-id="{$_feature.id|escape}"
                                                            data-code="{$_feature.code|escape}">
                                                            <i class="fas fa-pencil-alt text-blue"></i>
                                                            <span class="desktop-only"></span>
                                                        </a>
                                                        <div class="custom-mb-8-mobile dropdown secondary-actions">
                                                            <button class="dropdown-toggle button smaller rounded light-gray custom-pl-0" type="button"
                                                                title="[`Actions`]">&nbsp;</button>
                                                            <div class="dropdown-body right">
                                                                <ul class="menu">
                                                                    <li>
                                                                        <a href="javascript:void(0);" class="js-feature-copy" title="[`Duplicate`]">
                                                                            <i class="fas fa-copy text-blue"></i>
                                                                            <span>[`Duplicate`]</span>
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        {if $_feature.builtin}
                                                                        <a href="javascript:void(0);" class="js-feature-undeletable"
                                                                            data-confirm-text="[`This will permanently delete this shipping option. Are you sure?`]"
                                                                            title="[`This feature is special and cannot be deleted. You can only remove it from certain product types where you don’t need it.`]" data-cancel="[`Cancel`]">
                                                                            <i class="fas fa-trash-alt text-light-gray"></i>
                                                                            <span>[`Delete`]</span>
                                                                        </a>
                                                                        {else}
                                                                        <a href="javascript:void(0);" class="js-feature-delete"
                                                                            data-confirm-text="[`This will permanently delete this shipping option. Are you sure?`]"
                                                                            title="[`Delete`]" data-cancel="[`Cancel`]">
                                                                            <i class="fas fa-trash-alt text-red"></i>
                                                                            <span>[`Delete`]</span>
                                                                        </a>
                                                                        {/if}
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {/strip}
                                            </div>
                                        </div>
                                    </div>
                                {/foreach}
                            </div>
                        {else}
                            <div class="s-message-empty">
                                {if $too_many_features}
                                    [`There are too many features to show in this list. Please select a product type on the left to view its features.`]
                                {elseif $type_url_id == 'empty'}
                                    [`There are no features that are not available for any product type.`]
                                {elseif $type_url_id == 'all_existing'}
                                    [`There are no features available for all product types.`]
                                {else}
                                    [`No features.`]
                                {/if}
                            </div>
                        {/if}
                    </div>
                </section>
            </div>
        </div>
    </div>

    {shopSettingsTypefeatFeatureWidgetAction::widget([
        "selection" => ".js-feature-add-new, .js-feature-add-divider, .js-feature-edit"
    ])}

    <script>
        ( function($) {
            document.title = {_w('Product types & features')|json_encode} + ' — ' + {$wa->accountName()|json_encode};

            var sources = [{
                id: "wa-features-settings-css",
                type: "css",
                uri: "{$wa_app_static_url}css/backend/settings/features.css?v={$wa->version()}"
            }, {
                id: "vue-js",
                type: "js",
                uri: "{$wa_app_static_url}js/backend/vue/{if $wa->debug()}vue.global.js{else}vue.global.prod.js{/if}?v={$wa->version()}"
            }, {
                id: "wa-features-settings-js",
                type: "js",
                uri: "{$wa_app_static_url}js/backend/settings/features/features.js?v={$wa->version()}"
            }];

            $.shop.loadSources(sources).then(init, function() {
                alert("Page Loading Error");
            });

            function init() {
                window.shop_feature_settings_page = new ShopFeatureSettingsPage({
                    $wrapper: $("#js-features-settings-page").removeClass("is-not-ready").removeAttr("style"),
                    type_id: {if !empty($type_url_id)}{$type_url_id|json_encode}{else}null{/if},
                    urls: {
                        "transliterate": {$wa_app_url|json_encode} + "?module=backend&action=transliterate",
                        "reload": {$wa_app_url|json_encode} + "?module=settingsTypefeat&action=list",
                        "toggle": {$wa_app_url|json_encode} + "?module=settingsTypefeat&action=toggle",
                        "feature_edit": {$wa_app_url|json_encode} + "?module=settingsTypefeat&action=featureEdit",
                        "feature_delete": {$wa_app_url|json_encode} + "?module=settingsTypefeat&action=featureDelete",
                        "feature_delete_dialog": {$wa_app_url|json_encode} + "?module=settingsTypefeat&action=featureDeleteDialog",
                        "feature_add_existing": {$wa_app_url|json_encode} + "?module=settingsTypefeat&action=featureAddExisting",
                        "feature_copy": {$wa_app_url|json_encode} + "?module=settingsTypefeat&action=featureDuplicate",
                        "feature_save": {$wa_app_url|json_encode} + "?module=settingsTypefeat&action=featureSave",
                        "feature_sort": {$wa_app_url|json_encode} + "?module=settingsTypefeat&action=featureSort",
                        "code_edit": {$wa_app_url|json_encode} + "?module=settingsTypefeat&action=codeEdit",
                        "code_delete": {$wa_app_url|json_encode} + "?module=settingsTypefeat&action=codeDelete",
                        "code_delete_dialog": {$wa_app_url|json_encode} + "?module=settingsTypefeat&action=codeDeleteDialog",
                        "code_copy": {$wa_app_url|json_encode} + "?module=settingsTypefeat&action=codeDuplicate",
                        "code_save": {$wa_app_url|json_encode} + "?module=settingsTypefeat&action=codeSave"
                    }
                });
                window.shop_feature_settings_page.loading = '<span class="icon custom-ml-4 loading"><i class="fas fa-spinner wa-animation-spin"></span>';
            }

            $(".wa-tooltip").waTooltip({
                class: 'break-words small',
                placement: 'bottom',
                allowHTML: true,
                delay: 300,
                interactive: true
            });
        })(jQuery);
    </script>
</div>
