.bottom-bordered.content { border-bottom: 1px solid #ccc; }
.top-bordered.content { border-top: 1px solid #ccc; }
.float-right { float: right; }
.float-left { float: left; }
.align-center { text-align: center; }
.top-padded { padding-top: 30px !important; }
.large { font-size: 1.2em; }
.giant { font-size: 1.5em; }

.sm-order-comment { background: #eed; }
.sm-order-log { background: transparent; border: none; }
.sm-order-log a,
.sm-order-log .ui-icon { display: none !important; }

.sm-order-action-button { background: transparent !important; border: none !important; }

.sm-order-action-button .inline-link i.icon16,
.sm-order-log i.icon16 { display: none; }

.button.red .ui-btn-text { color: red; }
.workflow-content { margin: 10px 0 20px 0; }
.workflow-content textarea { width: 100%; height: 100px; font-size: 1.2em; }
.workflow-content input[type="text"],
.workflow-content input[type="button"],
.workflow-content input[type="submit"] { font-size: 1.2em; width: 90%; }
.workflow-content a.inline-link b i { font-style: normal; }
.workflow-content .block.message-edit-template { display: none; }
.workflow-content i.icon16.email { display: none; }

/** 
 * Copied from wa-1.0.css 
 */
i.icon16 { background-repeat:no-repeat; background-image: url(../../../wa-content/img/icon16@2x.png); background-size: 512px 128px; height:16px; width:16px; display:inline-block; text-indent:-9999px; text-decoration:none!important; }
* i.icon16 { text-decoration:none!important; vertical-align:top; margin: 0em 0.25em 0 0; }
.heading i.icon16 { vertical-align:top; margin:-0.1em 0.1em 0 -0.5em; }
.hint i.icon10 { vertical-align:top; margin:0.15em 0.15em 0 0; }
.count i.icon10, .count i.icon16 { margin-right: 0; }
.button i.icon10, .button i.icon16 { vertical-align: middle; margin: 0; }
h1 i.icon16,
h2 i.icon16 { margin-top: 0.15em; }
h1 span.hint i.icon16 { margin-top: 0.3em; }
h5 i.icon10 { vertical-align:top; margin: 0.1em 0 0 0; }
ul.tabs .icon10 { margin-top: 12px; }
ul.tabs .icon16 { margin-top: 8px; }
.dialog-buttons-gradient i.icon16 { margin-left: 4px; }
.icon16.country { margin-top: 0.3em; }
.fields .field .name i.icon10 { margin-top: 0.1em; }
.fields .field .value .icon16.country { margin-top: 0.1em; margin-left: 0.3em; }


/** 
 * Copied from shop.css 
 */

/* settings */
.icon16.ss { background-image: url(../img/ss-icon16@2x.png); background-size: 500px 180px; }
.icon16.ss.star-bw { background-position:-16px 0; }
.icon16.ss.shipping-bw { background-position:-32px 0; }
.icon16.ss.camera-bw { background-position:-48px 0; }
.icon16.ss.globe-bw { background-position:-64px 0; }
.icon16.ss.cube-bw { background-position:-80px 0; }
.icon16.ss.flag-bw { background-position:-96px 0; }
.icon16.ss.currency-bw { background-position:-112px 0; }
.icon16.ss.settings-bw { background-position:-128px 0; }
.icon16.ss.features-bw { background-position:-144px 0; }
.icon16.ss.payment-bw { background-position:-160px 0; }
.icon16.ss.cart-bw { background-position:-176px 0; }
.icon16.ss.percent-bw { background-position:-192px 0; }
.icon16.ss.dashboard-bw { background-position:-208px 0; }
.icon16.ss.notification-bw { background-position:-224px 0; }
.icon16.ss.reset-bw { background-position:-240px 0; }
.icon16.ss.print-forms-bw { background-position:-256px 0; }
.icon16.ss.search-bw { background-position:-272px 0; }
.icon16.ss.discounts-bw { background-position:-288px 0; }
.icon16.ss.affiliate-bw { background-position:-304px 0; }
.icon16.ss.stopwatch-bw { background-position:-320px 0; }
.icon16.ss.transfer-bw { background-position:-336px 0; }
.icon16.ss.pencil-bw { background-position:-352px 0; }
.icon16.ss.file-bw { background-position:-368px 0; }
.icon16.ss.bug-bw { background-position:-384px 0; }
.icon16.ss.phone-bw { background-position:-400px 0; }
.icon16.ss.sort-bw { background-position:-416px 0; }

/* order statuses */
.icon16.ss.new { background-position:0 -32px; }
.icon16.ss.confirmed,
.icon16.ss.processing { background-position:-16px -32px; }
.icon16.ss.paid { background-position:-32px -32px; }
.icon16.ss.sent { background-position:-48px -32px; }
.icon16.ss.completed { background-position:-64px -32px; }
.icon16.ss.refunded { background-position:-80px -32px; }
.icon16.ss.trash { background-position:-96px -32px; }
.icon16.ss.flag-white { background-position:0 -16px; }
.icon16.ss.flag-blue { background-position:-16px -16px; }
.icon16.ss.flag-yellow { background-position:-32px -16px; }
.icon16.ss.flag-green { background-position:-48px -16px; }
.icon16.ss.flag-red { background-position:-64px -16px; }
.icon16.ss.flag-purple { background-position:-80px -16px; }
.icon16.ss.flag-black { background-position:-96px -16px; }
.icon16.ss.flag-checkers { background-position:-112px -16px; }

/* third-parties */
.icon16.ss.russianpost { background-position:0 -48px; }
.icon16.ss.yandexmarket { background-position:-16px -48px; }
.icon16.ss.excel { background-position:-32px -48px; }
.icon16.ss.quickbooks { background-position:-48px -48px; }
.icon16.ss.odiness { background-position:-64px -48px; }
.icon16.ss.paypal { background-position:-80px -48px; }
.icon16.ss.google { background-position:-96px -48px; }
.icon16.ss.ups { background-position:-112px -48px; }
.icon16.ss.usps { background-position:-128px -48px; }
.icon16.ss.fedex { background-position:-144px -48px; }
.icon16.ss.dhl { background-position:-160px -48px; }

/* product types */
.icon16.ss.pt.sports { background-position:0 -64px; }
.icon16.ss.pt.soccer { background-position:-16px -64px; }
.icon16.ss.pt.cake { background-position:-32px -64px; }
.icon16.ss.pt.music { background-position:-48px -64px; }
.icon16.ss.pt.box { background-position:-64px -64px; }
.icon16.ss.pt.car { background-position:-80px -64px; }
.icon16.ss.pt.diamond { background-position:-96px -64px; }
.icon16.ss.pt.audio { background-position:-112px -64px; }
.icon16.ss.pt.globe { background-position:-128px -64px; }
.icon16.ss.pt.mobile { background-position:-144px -64px; }
.icon16.ss.pt.gingerbread-man { background-position:-160px -64px; }
.icon16.ss.pt.camera { background-position:-176px -64px; }
.icon16.ss.pt.rocket { background-position:-192px -64px; }
.icon16.ss.pt.plane { background-position:-208px -64px; }
.icon16.ss.pt.shoe { background-position:-224px -64px; }
.icon16.ss.pt.gift { background-position:-240px -64px; }
.icon16.ss.pt.nuclear { background-position:-256px -64px; }
.icon16.ss.pt.map { background-position:-272px -64px; }
.icon16.ss.pt.tv { background-position:0 -80px; }
.icon16.ss.pt.t-shirt { background-position:-16px -80px; }
.icon16.ss.pt.disc { background-position:-32px -80px; }
.icon16.ss.pt.computer { background-position:-48px -80px; }
.icon16.ss.pt.building { background-position:-64px -80px; }
.icon16.ss.pt.toolbox { background-position:-80px -80px; }
.icon16.ss.pt.hamburger { background-position:-96px -80px; }
.icon16.ss.pt.cookie { background-position:-112px -80px; }
.icon16.ss.pt.door { background-position:-128px -80px; }
.icon16.ss.pt.clapperboard { background-position:-144px -80px; }
.icon16.ss.pt.traffic-cone { background-position:-160px -80px; }
.icon16.ss.pt.hammer { background-position:-176px -80px; }
.icon16.ss.pt.guitar { background-position:-192px -80px; }
.icon16.ss.pt.disk { background-position:-208px -80px; }
.icon16.ss.pt.cup { background-position:-224px -80px; }
.icon16.ss.pt.auction-hammer { background-position:-240px -80px; }
.icon16.ss.pt.drawer { background-position:-256px -80px; }
.icon16.ss.pt.traffic-light { background-position:-272px -80px; }
.icon16.ss.pt.clock { background-position:0 -96px; }
.icon16.ss.pt.chair { background-position:-16px -96px; }
.icon16.ss.pt.downloadable { background-position:-32px -96px; }
.icon16.ss.pt.sunglasses { background-position:-48px -96px; }
.icon16.ss.pt.umbrella { background-position:-64px -96px; }
.icon16.ss.pt.controller { background-position:-80px -96px; }
.icon16.ss.pt.key { background-position:-96px -96px; }
.icon16.ss.pt.sushi { background-position:-112px -96px; }
.icon16.ss.pt.cat { background-position:-128px -96px; }
.icon16.ss.pt.monkey { background-position:-144px -96px; }
.icon16.ss.pt.books { background-position:-160px -96px; }
.icon16.ss.pt.socket { background-position:-176px -96px; }
.icon16.ss.pt.spray { background-position:-192px -96px; }

/* misc */
.icon16.ss.comments { background-position: 0 -112px; }
.icon16.ss.service { background-position:-16px -112px; }
.icon16.ss.coupon { background-position:-32px -112px; }
.icon16.ss.bestseller { background-position:-48px -112px; }
.icon16.ss.lowprice { background-position:-64px -112px; }
.icon16.ss.div { background-position:-80px -112px; }
.icon16.ss.affiliate { background-position:-96px -112px; }
.icon16.ss.shop { background-position:-112px -112px; }
.icon16.ss.set { background-position:-128px -112px; }
.icon16.ss.set-dynamic { background-position:-176px -112px; }
.icon16.ss.chart-up { background-position:-144px -112px; }
.icon16.ss.chart-down { background-position:-160px -112px; }

.icon16.ss.orders-processing { background-position: 0px -128px; }
.icon16.ss.orders-all { background-position: -16px -128px; }
.icon16.ss.sku-type-flat { background-position: -32px -128px; }
.icon16.ss.sku-type-selectable { background-position: -48px -128px; }

/* styles for order-list page*/
.s-mobile-order-list {}
.s-mobile-order-list .s-mobile-order { border: 0; }
.s-mobile-order-list .s-mobile-order.ui-btn-active { text-shadow: none; }
.s-mobile-order-list .s-mobile-order.ui-focus { -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }
.s-mobile-order-list .s-mobile-order .ui-btn-inner.ui-li { border: 0; }
.s-mobile-order-list .s-mobile-order a.ui-link-inherit { position: relative; display: table; width: 100%; padding: 0.5em; color: #000; box-sizing: border-box; font-weight: normal; font-size: 0.9em; line-height: 1.25em; white-space: normal; background: #fff; }
.s-mobile-order-list .s-mobile-order:nth-child(even) a.ui-link-inherit { background: #f1f6ff; }
.s-mobile-order-list .s-mobile-order .left-column { display: table-cell; vertical-align: top; width: 50px; padding: 0 0.75em 0 0.25em; }
.s-mobile-order-list .s-mobile-order .left-column .image { display: block; text-align: center; font-size: 0; line-height: 0; }
.s-mobile-order-list .s-mobile-order .left-column .image img { max-width: 100%; max-height: 50px; -webkit-border-radius: 50%; border-radius: 50%; }
.s-mobile-order-list .s-mobile-order .right-column { display: table-cell; vertical-align: top; padding: 0 40px 0 0; }
.s-mobile-order-list .s-mobile-order .o-number { display: block; }
.s-mobile-order-list .s-mobile-order .o-user-name { display: block; margin: 0.25em 0; font-size: 1em; }
.s-mobile-order-list .s-mobile-order .o-date { display: block; font-size: 0.75em; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.s-mobile-order-list .s-mobile-order .o-price { position: absolute; display: block; top: 0.625em; right: 1em; font-size: 0.75em; font-weight: bold; }
.s-mobile-order-list .s-mobile-order .o-price.italic { font-style: italic; font-weight: normal; }

/* styles for order page */
.s-mobile-order-page { padding: 1em 0 2em; }
.s-mobile-order-page .content-wrapper,
.s-mobile-order-page .content-wrapper.content { padding: 1em 0 0; border-top: 1px solid rgba(199,199,199,0.1); margin: 1em 0 0; overflow: hidden; }
.s-mobile-order-page .content-wrapper.workflow-content { margin: 1em; text-align: center;}
.s-mobile-order-page .content-wrapper:first-child { margin-top: 0; }
.s-mobile-order-page .content-header {  text-align: center; font-size: 1.5em; margin-bottom: 0.5em; }
.s-mobile-order-page .content-header i.icon16 { margin-top: 0.2em; }
.s-mobile-order-page .content-header.with-stamp {  text-align: left; padding-left: 30px; }
.s-mobile-order-page .content { margin:0 ; padding: 0 1em; overflow: visible; font-size: 0.9em; }
.s-mobile-order-page .content a { color: #2489ce; }
.s-mobile-order-page .content p:first-child { margin-top: 0;}
.s-mobile-order-page .content textarea { display: block; width: 100%; border: 1px solid rgba(0,0,0,0.1); margin: 0.5em 0; padding: 0.5em 1em; background: #fff; font-weight: normal; font-size: 0.9em; line-height: 1.5em; text-align: center; text-transform: uppercase; color: #222; -webkit-border-radius: 0.5em; border-radius: 0.5em; box-sizing: border-box; }
.s-mobile-order-page .workflow-actions { margin: 0; }
.s-mobile-order-page .workflow-actions .sm-order-action-button { display: block; }
.s-mobile-order-page .workflow-actions .ui-icon { display: none; }
.s-mobile-order-page .content .button,
.s-mobile-order-page .workflow-actions .ui-btn-text a.ui-link-inherit { position: relative; display: block; width: 100%; margin: 0.5em 0; border: 4px solid rgba(0,0,0,0.1); padding: 0.7em 1em; background: #fff; font-weight: bold; font-size: 1em; line-height: 1.5em; text-align: center; text-transform: uppercase; color: #222; -webkit-border-radius: 1.75em/1.75em; border-radius: 1.75em/1.75em; box-shadow: inset -1px -1px 0 0 rgb(68,68,68); box-sizing: border-box; }
.s-mobile-order-page .workflow-actions .ui-btn-text a.ui-link-inherit:hover { background: #ffc; }
.s-mobile-order-page .workflow-actions .ui-btn-text a.ui-link-inherit.red { border-color:#f60; }
.s-mobile-order-page .workflow-actions .ui-btn-text a.ui-link-inherit.green { border-color:#6c3; }
.s-mobile-order-page .workflow-actions .ui-btn-text a.ui-link-inherit.blue { border-color:#09f; }
.s-mobile-order-page .workflow-actions .ui-btn-text a.ui-link-inherit.yellow { border-color:#fdda3b; }
.s-mobile-order-page .workflow-actions .ui-btn-text a.ui-link-inherit.purple { border-color:#96a; }
.s-mobile-order-page .sm-order-comment { padding: 1em; font-style: italic;  }
.s-mobile-order-page .order-history-wrapper { margin-top: 0;}
.s-mobile-order-page .order-history-wrapper ul { margin: 0; padding: 0; }
.s-mobile-order-page .order-history-wrapper .sm-order-log { margin: 0.25em 0 0; padding: 0; border-top: 1px dotted rgba(166,166,166,0.1); }
.s-mobile-order-page .order-history-wrapper .sm-order-log:first-child { margin-top: 0; border-top: 0; }
.s-mobile-order-page .order-items-content { margin-top: 0; }
.s-mobile-order-page .order-items-content li { margin: 0.25em 0 0; padding: 0.5em 0; border-top: 1px dotted rgba(166,166,166,0.1); }
.s-mobile-order-page .order-items-content li:first-child { margin-top: 0; border-top: 0; }
.s-mobile-order-page .sm-order-customer { display: table; width: 100%; box-sizing: border-box; }
.s-mobile-order-page .sm-order-customer .left-column { display: table-cell; vertical-align: middle; width: 50px; }
.s-mobile-order-page .sm-order-customer .left-column img { width: 100%; }
.s-mobile-order-page .sm-order-customer .right-column { display: table-cell; vertical-align: top; padding: 0 1em 0 0.75em; }
.s-mobile-order-page .sm-order-customer h4 { margin: 0; }
.s-mobile-order-page .sm-order-customer p { margin: 0.25em 0 0; line-height: 1.25em; }
.s-mobile-order-page .content .button i.icon16.ss { margin: 0 5px; opacity: 0.25; }
.s-paid-order-stamp { position: relative; display: inline-block; margin: 0 20px 0 0; vertical-align: middle; border: 7px double purple; border-radius: 50%; opacity: 0.3; color: purple; font-size: 0.75em; font-weight: bold; height: 50px; overflow: hidden; padding: 11px 13px 15px; transform: rotate(13deg); width: 50px; }
.s-paid-order-stamp .s-stamp-inner { display: block; position: absolute; top: 17px; left: 17px; width: 40px; height: 40px; border: 2px solid purple; border-radius: 50%; z-index: 1; opacity: 0.3; }
.s-paid-order-stamp span { display: block; background: #fff; z-index: 2; position: absolute; top: 24px; left: 0; right: 0; padding: 5px; text-align: center; vertical-align: middle; text-transform: uppercase;  }