/*
 * Webasyst VK theme family
 *
 * Shop-Script app CSS
 * (requires linking base vk.css file from the Site app)
 *
 * @link http://www.webasyst.com/
 * @author Webasyst LLC
 * @copyright 2013 Webasyst LLC
 * @package Webasyst
 */
 
/* Misc layout and elements */

.sidebar { padding-top: 15px; }
.currency-toggle { margin-right: 20px; }
.bonus { background: #ceb; padding: 2px 4px 1px; }
.plugin { margin-bottom: 20px; } /* shipping and payment plugins ouput */

/* Homepage */

.promo { padding: 0; margin-top: -25px; margin-bottom: 10px; overflow: hidden; background: #fff; border-bottom: 1px solid #ccc; }
.promo a { display: block; height: 383px; text-decoration: none; }
.promo a .image { float: right; margin-right: 60px; margin-top: 10px; position: relative; }
.promo a .image .corner.right { right: 30px; }
.promo a .image .corner.top { top: 20px; }
.promo a .info { position: absolute; margin-left: 40px; margin-top: 15px; z-index: 183; }
.promo a .info h2 { font-size: 2em; color: #000; line-height: 1.5em; margin-bottom: 0; margin-right: 380px; }
.promo a .info p { color: #555; font-size: 1.1em; text-shadow: 0 0 3px #fff; margin-right: 380px; }
.promo .purchase { padding: 10px 0 0; margin-right: 0; background: #fff; }

.promo .bx-wrapper { margin: 0 auto; direction: ltr; }
.promo .bx-wrapper .bx-viewport { border: none; box-shadow: none; left: 0; }
.promo .bx-wrapper .bx-pager,
.promo .bx-wrapper .bx-controls-auto { bottom: 20px; }
.promo .bx-wrapper .bx-prev { left: 0; }
.promo .bx-wrapper .bx-next { right: 0; }

.promos { margin: 5px -25px; }
.promos ul { padding: 0; margin: 0; }
.promos ul li { padding: 0; margin: 0; list-style: none; display: inline-block; width: 25%; float: left; } 
.promos ul li a { display: block; padding: 40px 20px; height: 80px; overflow: hidden; background-size: cover; background-position: center center; color: #000; background-color: rgba(0,0,0,0.05); border: 5px solid #fff; text-align: center; position: relative; }
.promos ul li a .background-color-layer { position: absolute; top: 0; left: 0; right: 0; bottom: 0; z-index: 1; opacity: 0.1; background-color: #000; }
.promos ul li a h5 { font-size: 1.3em; text-shadow: 0 1px 1px #000; position: relative; z-index: 2; }
.promos ul li a p { font-size: 0.9em; text-shadow: 0 1px 1px #000; position: relative; z-index: 2; }
.promos ul li a:hover .background-color-layer { opacity: 0.5; transition: 0.3s; }

/* Category */

.sub-categories { margin-bottom: 20px; }

.filters { background: #f7f7f7; width: 240px; padding: 15px; float: right; }
.filters input[type="text"] { font-size: 0.9em; width: 50px; text-align: right; }

/* Product info and lists */

ul.skus { padding-left: 2px; }
ul.skus li { list-style: none; padding-bottom: 3px; }

.stocks { margin-top: 10px; margin-bottom: 15px; font-size: 0.9em; }
.stocks .stock-critical { color: #e00; }
.stocks .stock-low { color: #a80; }
.stocks .stock-high { color: #0a0; }
.stocks .stock-none { color: #aaa; }
.stocks .icon16 { margin-top: 0.23em; }

ul.menu-h.sorting { margin-left: 0; margin-bottom: 20px; }
ul.menu-h.sorting li { padding-right: 5px; }
ul.menu-h.sorting li.selected a { background: #eee; }

i.sort-desc { height: 0; width: 0; border: 4px solid transparent; border-bottom-color: #000; margin-bottom: 0.4em; display: inline-block; display: block\9; float: left\9; }
i.sort-asc { height: 0; width: 0; border: 4px solid transparent; border-top-color: #000; margin-top: 0; display: inline-block; display: block\9; float: left\9; }

.price { color: #000 !important; font-weight: bold; }
.qty input { width: 40px; }
.compare-at-price { text-decoration: line-through; color: #c66; margin: 0 3px; }
.out-of-stock strong { background: #ccc; color: #fff; padding: 2px 4px; font-weight: normal; }
.disabled { color: #777; }
.description { margin-bottom: 20px; }
.error { color: #a33; }
.rating i.icon16 { margin-right: 0.13em; }
h1 .rating i.icon16 { margin-top: 0.37em; }

table.compare { width: 100%; }
table.compare td { text-align: center; line-height: 1em; padding: 10px 2px; }
table.compare th { text-align: left; }
table.compare td img { display: block; margin: 0 auto 10px; }

table.features { clear: both; border-spacing: 0; border-collapse: collapse; }
table.features td { padding: 5px 0 2px; }
table.features td.name { min-width: 145px; color: #777; vertical-align: top; }
table.features tr.divider td { border-bottom: 1px solid #ccc; padding-left: 0; padding-top: 15px; padding-bottom: 0; }

.image { position: relative; display: inline-block; max-width: 100%; display: block\9; /* IE8- hack */ }
.image#product-core-image { float: left; width: 350px; }
.image img { max-width: 100%; height: auto; }
.image .corner { position: absolute; z-index:10; font-size: 0.8em; color: #fff; font-weight: bold; }
.image .corner.top { top:10px; }
.image .corner.bottom { bottom:-5px; }
.image .corner.left { left:-8px; }
.image .corner.right { right:58px; }
.image .loading { opacity: 0.7; }
.gallery { margin-left: 10px; display: block; margin: 0 auto; }
.gallery .image { border-bottom: 3px solid #fff; width: 50px; padding: 8px; float: left\9; /* IE8 */ }
.gallery .image.selected { border-color: #e2e6ec; }

.vk-photo-zoom { position: absolute; left: 30px; right: 30px; top: 30px; background: #fff; box-shadow: 0 3px 10px rgba(0,0,0,0.2); text-align: center; z-index: 99991; display: none; }

.options { line-height: 1.8em; }
.services { margin-bottom: 20px; }
.purchase { margin-bottom: 20px; background: #e2e6ec; display: inline-block; display: block\9; padding: 15px; }
.purchase .vk-button { display: inline-block; }
.purchase i.icon16.loading.adding2cart { position: relative; top: 3px; left: 4px; }
.aux { padding: 15px; font-size: 0.9em; }
.added2cart { display: block; padding-top: 5px; }

ul.thumbs { padding: 0; margin: 0; }
ul.thumbs li { display:inline-block; vertical-align:top; padding: 5px 0; margin: 0 0 40px 0; position: relative; text-align: center; display: block\9; float: left\9; height: 380px\9; /* IE8- hack */ }
ul.thumbs i.icon16.overhanging { position: absolute; left: -20px; margin: 0; top: 2px; }
ul.thumbs i.icon10.overhanging { position: absolute; margin-left: -17px; margin-right: 7px; }
ul.thumbs input { margin: 0 3px 0 0 /* for correct checkbox display */; }
ul.thumbs.li50px li { width: 50px; } /* fixed li width options */
ul.thumbs.li100px li { width: 100px; }
ul.thumbs.li150px li { width: 150px; }
ul.thumbs.li200px li { width: 200px; }
ul.thumbs.li250px li { width: 250px; }
ul.thumbs.li300px li { width: 300px; }
ul.thumbs.li350px li { width: 350px; }
ul.thumbs li a { text-decoration: none; }
ul.thumbs li h5 { margin-bottom: 3px; margin-top: 5px; }
ul.thumbs li a:hover { text-decoration: none !important; }
ul.thumbs li a:hover h5 { text-decoration: underline !important; }
ul.thumbs li.selected { /* nothing! */ }
ul.thumbs li.selected img { border: 4px solid #FDDA3B; margin: -4px -2px -2px -4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }
ul.thumbs li.highlighted { background: inherit; }
ul.thumbs li.highlighted img { -moz-box-shadow: 0px 0px 10px #fe2; -webkit-box-shadow: 0px 0px 10px #fe2; box-shadow: 0px 0px 10px #fe2; }
ul.thumbs.mini { text-align: left; }
ul.thumbs.mini li { margin-right: 20px; }
ul.thumbs.mini li { height: 160px\9; /* IE8- hack */ }

ul.thumbs .image { width: 200px; height: 200px; display: table-cell; vertical-align: bottom; }
ul.thumbs .image img { display: inline-block; display: block\9; max-height: 200px; max-width: 200px; vertical-align: bottom; }
ul.thumbs .image img.overhanging { position: absolute; left: -20px; }

ul.thumbs .description { color: #999; margin-bottom: 5px; }
ul.thumbs .out-of-stock,
ul.thumbs .rating,
ul.thumbs .offers { display: block; margin: 3px 0; text-align: center; }
ul.thumbs .purchase { padding: 0px 5px 5px 10px; margin-top: 5px; display: inline\9; background: #fff; }
ul.thumbs .purchase .vk-button { margin-top: 5px; }
ul.thumbs .purchase i.icon16.loading.adding2cart { top: 8px; }
ul.thumbs .added2cart { display: inline; padding: 0; }
ul.thumbs.mini .image { width: 96px; height: 96px; }

ul.menu-h.product-internal { margin-left: -5px; height: 30px\9; }
ul.menu-h.product-internal li { padding-right: 20px; }
ul.menu-h.product-internal li.selected a { background: #eed; }
ul.menu-h.product-internal.top-padded { margin-top: 2.5em; }

/* Product promo badges */

.badge { height: 45px; width: 45px; background: #e0b8ff; position: absolute; text-align: left; top: -5px; -moz-transform: rotate(30deg); -webkit-transform: rotate(30deg); -ms-transform: rotate(30deg); -o-transform: rotate(30deg); transform: rotate(30deg); }
.badge:before { height: 45px; width: 45px; background: #e0b8ff; content:""; position: absolute; -moz-transform: rotate(30deg); -webkit-transform: rotate(30deg); -ms-transform: rotate(30deg); -o-transform: rotate(30deg); transform: rotate(30deg); }
.badge:after { height: 45px; width: 45px; background: #e0b8ff; content:""; position: absolute; -moz-transform: rotate(-30deg); -webkit-transform: rotate(-30deg); -ms-transform: rotate(-30deg); -o-transform: rotate(-30deg); transform: rotate(-30deg); }
.badge span { color: #000 !important; font-weight: bold; position: absolute; z-index: 1983; top: 17px; left: -2px; right: -2px; transform: rotate(-13deg); -webkit-transform: rotate(-13deg); -moz-transform: rotate(-13deg); -o-transform: rotate(-13deg); font-size: 1em; text-align: center; overflow: visible; line-height: 1em; }

.badge.new,
.badge.new:before,
.badge.new:after { background: #ff4; color: #000; }
.badge.low-price,
.badge.low-price:before,
.badge.low-price:after { background: #ffc2e3; color: #300; }
.badge.bestseller,
.badge.bestseller:before,
.badge.bestseller:after { background: #74ff30; color: #030; }

/* Cart */

.cart .row { min-height: 23px; padding-top: 20px; }
.cart .col.item-thumb { min-width: 55px; }
.cart .col.item-thumb img { position: absolute; margin-top: -7px; }
.cart .col.item-remove { float: right; }
.cart .col.total { font-size: 1.3em; }
.cart .col.services { margin-top: 5px; }
.cart .related { padding-top: 0; background: #f7f7f7; }
.cart .related.w16 { width: 100%; padding: 10px; }
.cart .related h4 { font-weight: normal; }
.cart input.qty { max-width: 50px; text-align: right; }

/* Checkout */

.checkout { margin: 0 -20px; }
.checkout-header { margin-top: 5px; color: #000; }
.checkout ul.checkout-options { padding-left: 25px; }
.checkout ul.checkout-options li { list-style: none; position: relative; margin-bottom: 50px; clear: both; }
.checkout ul.checkout-options li h3 { font-weight: bold; margin-bottom: 15px; }
.checkout ul.checkout-options li h3 label { margin-right: 10px; }
.checkout ul.checkout-options li .rate { float: right; text-align: center; width: 250px; }
.checkout ul.checkout-options li p { width: 70%; }
.checkout ul.checkout-options li input[type="radio"] { position: absolute; top: 4px; left: -25px; }
.checkout ul.checkout-options li label input[type="radio"] { top: 4px; left: -20px; }
.checkout ul.checkout-options li img.method-logo { position: relative; float: left; margin-right: 10px; top: -6px; left: 0px; /* adjusted for default 60x32-px logos */ }
.checkout ul.checkout-options li .wa-form { margin-top: 0px; margin-bottom: 30px; }
.checkout ul.checkout-options li .wa-form label input[type="radio"] { position: static; }

.checkout .checkout-result { padding: 80px 0 60px; background: #fff; text-align: center; }
.checkout .checkout-result h1 { font-size: 4em; margin-bottom: 50px; }
.checkout .checkout-result.error h1 { color: red; }
.checkout .checkout-result .wa-form { margin: 10px auto 20px; width: 400px; float: none; text-align: left; }
.checkout .checkout-result .back { margin-top: 50px; }
.checkout .checkout-step { padding: 0; border: 3px solid #fff; }
.checkout .checkout-step h2 { padding: 17px 20px 15px; font-weight: bold; background: #f7f7f7; margin: 0; }
.checkout .checkout-step h2 a { text-decoration: none; }
.checkout .checkout-step h2 a:hover { color: #a00 !important; text-decoration: none !important; }
.checkout .checkout-step h2.upcoming a:hover { color: #000 !important; cursor: default; }
.checkout .checkout-step h2 a.hint { font-size: 0.7em; }
.checkout .checkout-step-content { padding: 20px; background: #fff; }
.checkout .checkout-step ul.menu-v { margin-left: 0; margin-top: 20px; }
.checkout .checkout-step #login-form h1 { display: none; }
.checkout .checkout-step input.large { font-size: 1.4em; }
.checkout .comment { width: 100%; height: 100px; margin-bottom: 20px; }
.checkout blockquote img { margin-right: 20px; float: left; }
.checkout blockquote p { margin-bottom: 10px; }
.checkout blockquote p span { color: #000; }

.checkout .errormsg.inline { display: inline; margin-left: 10px; }

/* Product reviews */

.write-review { margin: 30px 0 40px; }

.review { margin-bottom: 30px; }
.review .summary { font-size: 0.9em; color: #777; }
.review .summary h6 { color: #000; font-size: 1.1em; }
.review .summary a.username { color: #777; }
.review .summary a.username:hover { color: red; }
.review .summary a { display: inline; padding: 0; }
.review .summary .date { color:#aaa; }
.review p { margin-top: 5px; margin-bottom: 5px; line-height: 1.3em; }
.review .actions a { padding: 0 !important; }

.reviews { margin-bottom: 20px; }
.reviews ul { margin-left: 0; }
.reviews ul li ul { padding-left: 25px; }
.reviews ul li ul li .review h6 { color: #555; }
.reviews ul li .review-form { padding: 10px 30px; }
.reviews ul li .review-form textarea { min-height: 100px; }
.reviews ul.menu-h.auth-type { padding: 0 0 40px; margin-left: -5px; }
.reviews ul.menu-h.auth-type li { padding-right: 10px; }
.reviews ul.menu-h.auth-type li a { padding: 5px 6px; }
.reviews ul.menu-h.auth-type li a img { top: 0; }
.reviews textarea { height: 100px; min-height: 100px; width: 75%; margin-top: 0; }

.review-form { padding: 0; margin-bottom: 30px; }
.review-form h4 { margin: 0 0 20px; font-weight: normal; }
.review-form-fields p { margin: 0 0 10px; }
.review-form-fields p.review-field a { display: inline; padding: 0; text-decoration: none; }
.review-form-fields label { width: 160px; display: block; clear: left; float: left; margin: 0 10px 0 0; color: #aaa;}
.review-form-fields input[type="text"] { width: 20em;}
.review-form textarea { min-width: 70%; min-height: 160px; }
.review-form .review-submit { padding:0 0 20px 170px;}
.review-form .userpic { width: 20px; height: 20px; float: left; margin-right: 5px; }
.review-form ul.menu-h.auth-type li a img { float: left; margin-right: 3px; position: relative; top: 2px; }
.review-form ul.menu-h.auth-type { padding-bottom: 20px; }
.review-form label { width: 160px; display: block; clear: left; float: left; margin: 0 10px 0 0; color: #AAA; }
.reviews span.rate { line-height: 1.3em; display: block; margin: 0.5em 0; }
.reviews span.rate a { text-decoration: none !important; }
.reviews span.rate .icon10 { background-repeat: no-repeat; background-image: url(../../../../wa-content/img/icon10.png); height: 10px; width: 10px; display: inline-block; text-indent: -9999px; }
.reviews span.rate .icon10.star { background-position: -60px -40px; }
.reviews span.rate .icon10.star-empty { background-position: -80px -40px; }

input.error, textarea.error { border: 2px solid red; }
.errormsg { color: red; margin-left: 170px; display: block; }

/* optimize review form for small VK app width */

.review-form-fields label { width: auto; float: none; }
.review-form-fields input[type="text"] { width: 80%; }
.review-form textarea { width: 90%; }
.review-form .review-submit { padding-left: 0; }
.review-form .wa-captcha img { margin-bottom: 10px; }

/* Customer account */

.order-status { padding: 2px 5px; color: #fff; }
h1 .order-status { font-size: 0.75em; margin-left: 10px; }

/* Shop-Script icons */

.icon16.star,
.icon16.star-full { background-image: url("img/icons.png"); background-position:-16px 0; }
.icon16.star-half { background-image: url("img/icons.png"); background-position:-32px 0; }
.icon16.star-empty { background-image: url("img/icons.png"); background-position:-48px 0; }
.icon16.star-hover { background-image: url("img/icons.png"); background-position:-64px 0; }
.icon10.star,
.icon10.star-full { background-image: url("img/icons.png"); background-position:0 -16px; }
.icon10.star-half { background-image: url("img/icons.png"); background-position:-10px -16px; }
.icon10.star-empty { background-image: url("img/icons.png"); background-position:-20px -16px; }
.icon16.remove { background-image: url("img/icons.png"); background-position:-96px 0; }
.icon16.saved { background-image: url("img/icons.png");  background-position:-112px 0; }
.icon16.stock-red { background-image: url("img/icons.png"); background-position:-128px 0; }
.icon16.stock-yellow { background-image: url("img/icons.png"); background-position:-144px 0; }
.icon16.stock-green { background-image: url("img/icons.png"); background-position:-160px 0; }
.icon16.stock-transparent { background-image: url("img/icons.png"); background-position:-176px 0; }
.icon16.loading { background-image: url("img/loading16.gif"); background-position:0 0; }

/* Dialog */

.dialog { display: none; }
.dialog-background { position: fixed; top: 0; left: 0; right: 0; bottom: 0; background: #fff; opacity: 0.8; filter: alpha(opacity=80); z-index: 99; }
.dialog-window .cart { position: fixed; top: 15%; left: 0; right: 0; opacity: 1; z-index: 100; overflow-x: hidden; box-shadow: 0 3px 15px #ddd; margin: 0 auto; text-align: left; width: 400px; bottom: 15%; background: #fff; padding: 25px; }
.dialog-window .cart .added2cart { font-size: 1.1em; font-style: italic; }
.dialog-window .dialog-close { float: right; color: #45688e; text-decoration: none; font-size: 200%; margin-top: -3px; }
.dialog-window .dialog-close:hover { text-decoration: none !important; color: #999 !important; }