<h1>Добавьте товары</h1>

<p>Для добавления товаров воспользуйтесь кнопкой <strong>Товары &rarr; <a href="?action=products#/product/new/edit"><i class="icon16 add" style="margin-top: 0.15em;"></i>Новый товар</a></strong>.</p>

<p><img src="http://www.shop-script.com/wa-data/public/site/shop-script-6-welcome/ss6-addproduct-ru.gif" class="s-screencast"></p>

<p><em>После добавления товара проверьте, как он отображается <a href="{$wa->getUrl('shop/frontend')}">на витрине</a>. Оформите пробный заказ.</em></p>


<h2>Массовый импорт товаров</h2>
<p>Shop-Script поддерживает множество способов быстрой загрузки сразу большого количества товаров.</p>

<ul>
   <li><a href="{$wa_app_url}?action=importexport#/images:product/">Массовая загрузка изображений</a>: перетащите несколько фотографий со своего компьютера прямо в Shop-Script и создайте на их основе сразу много товаров.</li>
   <li><a href="{$wa_app_url}?action=importexport#/csv:product/">Импорт товаров из CSV-файла</a>: ваш CSV-файл (его можно создать с помощью программ Microsoft Excel, Open Office, iWork, и других подобных) будет автоматически считан, и из его содержимого будут в течение всего нескольких минут добавлены все нужные новые товары и категории.</li>
   <li><a href="{$wa_app_url}?action=importexport#/migrate/">Переход на Shop-Script</a>: переносите данные из других систем для создания интернет-магазинов и иных источников в Shop-Script.</li>
</ul>
