{if !empty($actions)}
    {$stepArray = array_keys($actions)}
    {foreach $stepArray as $key => $step}
        {if $step === $active}
            {$next_step_key = $key}
        {/if}
    {/foreach}
    {if isset($stepArray[$next_step_key+1])}
        {$next_step = $stepArray[$next_step_key+1]}
    {/if}
    {if isset($stepArray[$next_step_key-1])}
        {$prev_step = $stepArray[$next_step_key-1]}
    {/if}
{/if}

<div class="s-unboarding-wrapper">
    <h1>Добавьте товары</h1>
    {if !empty($products_imported)}
        <p>Примеры товаров добавлены в ваш интернет-магазин. Теперь вы можете самостоятельно добавить и свои товары, как описано здесь.</p>
    {/if}

    <div class="s-content-with-indent">
        <div class="s-tutorial-block">
            <div class="s-title">
                <img src="{$wa_url}wa-apps/shop/img/backend/tutorial/arrow.green.svg" class="s-arrow" alt=""/><span class="s-title-text">Вручную по одному</span>
            </div>
            <div class="video-links">
                Посмотрите видеоурок
                <ul class="menu-v compact">
                    <li><a href="https://www.youtube.com/watch?v=SgbGrZIi3XA&amp;list=PL3TRPSqkoZRlZ7FcxdpmykLtVDKPUGpKz&amp;index=2" target="_blank">Как добавить новый товар <i class="icon16 new-window"></i></a></li>
                </ul>
            </div>
            <p><img src="{$wa_app_static_url}img/backend/tutorial/ru/step-2-1.png" alt=""></p>
        </div>

        <div class="s-tutorial-block">
            <div class="s-title">
                <img src="{$wa_url}wa-apps/shop/img/backend/tutorial/arrow.green.svg" class="s-arrow" alt=""/><span class="s-title-text">Автоматически сразу много</span>
            </div>
            <p><img src="{$wa_app_static_url}img/backend/tutorial/ru/step-2-2.png" alt=""></p>
            <p>В разделе «Импорт/экспорт» доступны разные способы добавления или обновления товаров.</p>
            <ul>
                <li><a href="https://support.webasyst.ru/shop-script/186/bulk-product-image-uploading/" target="_blank">Массовая загрузка изображений</a><i class="icon16 new-window"></i>: перетащите фотографии из папки на своем компьютере прямо в Shop-Script и сразу создайте из них много товаров.</li>
                <li><a href="https://support.webasyst.ru/shop-script/26/import-products-from-csv-file/" target="_blank">Импорт товаров из CSV-файла</a><i class="icon16 new-window"></i>: сохраните файл-таблицу в формате CSV с помощью Microsoft Excel, OpenOffice или iWork и загрузите его в Shop-Script. Всего за несколько минут из файла в магазин будут добавлены все нужные товары.
                    <div class="video-links">Посмотрите видеоуроки
                        <ul class="menu-v compact">
                            <li><a href="https://www.youtube.com/watch?v=TPPtY8C5BBI&list=PL3TRPSqkoZRlZ7FcxdpmykLtVDKPUGpKz&index=6" target="_blank">Как подготовить CSV-файл для импорта товаров <i class="icon16 new-window"></i></a></li>
                            <li><a href="https://www.youtube.com/watch?v=j81olDNh4rM&list=PL3TRPSqkoZRlZ7FcxdpmykLtVDKPUGpKz&index=7" target="_blank">Импорт товаров из CSV-файла <i class="icon16 new-window"></i></a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="https://support.webasyst.ru/shop-script/migrate/" target="_blank">Переход на Shop-Script</a><i class="icon16 new-window"></i>: перенесите данные из других систем для создания интернет-магазинов в Shop-Script.</li>
            </ul>
        </div>
    </div>

    <div class="s-actions-wrapper">
        <a href="{if isset($prev_step) && $actions[$prev_step]}{$actions[$prev_step]['href']}{else}javascript:void(0){/if}" class="button yellow">&larr; Назад</a>
        <a href="{if isset($next_step) && $actions[$next_step]}{$actions[$next_step]['href']}{else}javascript:void(0){/if}" class="button green">Следующий шаг &rarr;</a>
    </div>

    <script>
        ( function($) {
            new TutorialSidebar({
                $wrapper: $("#tutorial-actions"),
                active_step: {$active|json_encode},
                $actions: {$actions|json_encode}
            });
        })(jQuery);
    </script>
</div>
