<h1>Выберите дизайн</h1>

<p>Перейдите в раздел <strong>Витрина &rarr; <a href="?action=storefronts#/design/themes/">Темы</a></strong>, чтобы посмотреть список доступных тем дизайна, и выберите любую на свой вкус.</p>

<p><img src="http://www.shop-script.com/wa-data/public/site/shop-script-6-welcome/ss6-choose-theme-ru.gif" class="s-screencast"></p>

<p><em>Попробуйте установить несколько бесплатных тем дизайна. Все темы загружаются из <a href="http://www.webasyst.ru/store/" target="_blank">магазина Webasyst</a> и автоматически устанавливаются в ваш магазин.</em></p>

<h2>Настройка</h2>

<p>После установки темы настройте ее внешний вид с помощью встроенных инструментов <strong>Оформление</strong> и <strong>Шаблоны</strong>. </p>

<p><img src="http://www.shop-script.com/wa-data/public/site/shop-script-6-welcome/ss6-customize-theme-ru.gif" class="s-screencast"></p>

<p><em>Файлы тем дизайна сохраняются в специальную директорию на сервере (<tt>wa-data/public/</tt>) для того чтобы все сделанные вами изменения сохранились при установке обновленных версий темы дизайна.</em></p>
