{if !empty($actions)}
    {$stepArray = array_keys($actions)}
    {foreach $stepArray as $key => $step}
        {if $step === $active}
            {$next_step_key = $key}
        {/if}
    {/foreach}
    {if isset($stepArray[$next_step_key+1])}
        {$next_step = $stepArray[$next_step_key+1]}
    {/if}
{/if}
{$_theme = join(',', $theme_names)}
<div class="s-unboarding-wrapper">
    <h1>Choose design</h1>

    <p>В вашем магазине уже установлены темы дизайна: <strong>{$_theme}</strong><br/>
        Настройте ее как вам нужно в разделе «Магазин → Витрина» на вкладке «Оформление».<br/>
    </p>

    <p><img src="{$wa_app_static_url}img/steps/eng/step03-01.png"></p>

    <p>Если вам нужен совсем другой дизайн, выберите и установите любую тему дизайна из магазина Webasyst на вкладке «Темы дизайна». Темы есть бесплатные и платные. Все они устанавливаются автоматически — одной кнопкой.</p>

    <p><img src="{$wa_app_static_url}img/steps/eng/step03-02.png"></p>

    <p>После установки новой темы дизайна выберите ее в разделе «Магазин → Витрина» на вкладке «Настройки».</p>
    <br/>

    <a href="javascript:history.back()" class="button yellow">&larr; Назад</a>
    <a href="{if $actions[$next_step]}{$actions[$next_step]['href']}{else}javascript:void(0){/if}" class="button green">Следующий шаг &rarr;</a>
</div>
<script>
    (function ($) {
        new TutorialSidebar({
            $wrapper: $("#tutorial-actions"),
            $active: {$active|json_encode},
            $actions: {$actions|json_encode}
        });
    })(jQuery);
</script>