<h1>Choose design</h1>

<p>Proceed to <strong>Storefronts &rarr; <a href="?action=storefronts#/design/themes/">Themes</a></strong> to browse available design themes and pick your favorite.</p>

<p><img src="http://www.shop-script.com/wa-data/public/site/shop-script-6-welcome/ss6-choose-theme.gif" class="s-screencast"></p>

<p><em>Try installing some of the free themes. All themes are downloaded from <a href="http://www.webasyst.com/store/" target="_blank">Webasyst Store</a> and are automatically installed in your online store.</em></p>

<h2>Customize</h2>

<p>Once a theme has been installed, customize its design using the built-in <strong>Appearance</strong> and <strong>Templates</strong> tools. </p>

<p><img src="http://www.shop-script.com/wa-data/public/site/shop-script-6-welcome/ss6-customize-theme.gif" class="s-screencast"></p>

<p><em>Theme files are saved into a special data folder on the server (<tt>wa-data/public/</tt>) to ensure that all your changes in the template files are not lost when you install theme updates.</em></p>
