<h1>Setup payment & shipping</h1>

<p>Decide on how you are going to ship your orders and accept payments, and add appropriate payment and shipping options in your store settings. Proceed to <strong>Settings &rarr; <a href="?action=settings#/shipping/">Shipping</a></strong> and <strong>Settings &rarr; <a href="?action=settings#/payment/">Payment</a></strong> to add appropriate options.</p>

<p><img src="http://www.shop-script.com/wa-data/public/site/shop-script-6-welcome/ss6-shipping-payment.gif" class="s-screencast"></p>

<p><em>Plugins for popular shipping carriers and payment gateways are available <a href="http://www.webasyst.com/store/" target="_blank">Webasyst Store</a> and can be installed to your online store with just one click.</em></p>
