{strip}

{$_templates = []}

{capture assign="_callback_dialog"}{include file="../actions/prod/dialogs/callback.html" inline}{/capture}
{$_templates["callback_dialog"] = $_callback_dialog}

{capture assign="_callback_dialog_success"}
    <div class="align-center" style="padding: 2rem 0;">
        <h3>[`Thank you!`]</h3>
        <p>
            {$_sprite_url = "`$wa_url`wa-apps/shop/img/backend/products/product/icons.svg?v=`$wa->version()`"}
            <i class='icon' style="font-size: 16rem;"><svg><use xlink:href='{$_sprite_url}#wave'></use></svg></i>
        </p>
        <p>[`This window will automatically close in 3 seconds.`]</p>
    </div>
{/capture}
{$_templates["callback_dialog_success"] = $_callback_dialog_success}

{/strip}

<div class="s-product-page" id="js-product-page">
    <script>
        ( function($) {
            $("#js-product-page").data("ready", $.Deferred());
        })(jQuery);
    </script>

    <header class="s-page-header bordered-bottom">
        <div class="flexbox middle space-8">
            <div class="s-actions">
                <a class="wa-button gray-field s-button-back" href="{$wa_app_url|escape}?action=products#/product/{$product.id|escape}/">&larr; [`Back`]</a>
            </div>
            <div class="s-title-wrapper wide">
                <h3 class="s-title">{$product.name|default:_w('Product name')}</h3>
            </div>
            <div class="s-details">
                <button class="s-button wa-button rounded pink js-show-callback-dialog animation-pulse" type="button">
                    <span>
                        <span class="s-icon"><i class="fas fa-comment-dots"></i></span>
                        <span class="s-name">[`How do you like the new product editor?`]</span>
                    </span>
                </button>

                <a class="s-button wa-button pink rounded outlined" id="js-return-link" href="{$wa_app_url|escape}?action=products#/product/{$product.id|escape}/" title="{_w("Return to the old product editor version.")|escape}">
                    <span>
                        <span class="s-icon"><i class="fas fa-toggle-on"></i></span>
                        <span class="s-name">[`Return to old editor`]</span>
                        <span class="s-icon"><i class="fas fa-question-circle"></i></span>
                    </span>
                </a>

                <span class="s-ident gray">id: {$product.id|default:_w('Product ID')}</span>
            </div>

            <!-- plugin hook: 'backend_prod.header' -->
            {* @event backend_prod.%plugin_id%.header *}
            {if !empty($backend_prod_event)}{foreach $backend_prod_event as $_}{ifset($_.header)}{/foreach}{/if}

        </div>
    </header>

    {* APP BODY *}
    <div class="s-page-body flexbox">
        {* SIDEBAR *}
        <div class="s-page-sidebar sidebar js-page-sidebar">{$sidebar}</div>
        {* CONTENT *}
        <div class="s-page-content content bordered-left js-page-content">{$content}</div>
    </div>

    <script>
        ( function($) {

            function initReturnButton() {
                var $button = $("#js-return-link"),
                    href = "{$wa_app_url|escape}?action=products#/product/{$product.id|escape}/";

                $(document).on("wa_product_section_change", function(event, section_id) {
                    var new_href = null;

                    switch (section_id) {
                        case "product-general":
                            new_href = href + "edit/";
                            break;
                        case "product-seo":
                            new_href = href + "edit/descriptions/";
                            break;
                        case "product-media":
                            new_href = href + "edit/images/";
                            break;
                        case "product-sku":
                            new_href = href + "edit/features/";
                            break;
                        case "product-services":
                            new_href = href + "edit/services/";
                            break;
                        case "product-related":
                            new_href = href + "edit/related/";
                            break;
                        case "product-pages":
                            new_href = href + "edit/pages/";
                            break;
                    }

                    if (new_href) { $button.attr("href", new_href); }
                });
            }
            initReturnButton();

            var sources = [{
                id: "wa-shop-products-product-sidebar-js",
                type: "js",
                uri: "{$wa_app_static_url}js/backend/products/product/sidebar.js?v={$wa->version()}"
            },{
                id: "wa-shop-products-product-js",
                type: "js",
                uri: "{$wa_app_static_url}js/backend/products/product/product.js?v={$wa->version()}"
            }];

            $.wa.loadSources(sources).done( function() {
                $.wa_shop_products.init.initProductPage({
                    $wrapper: $("#js-product-page"),
                    product_uri: "{$wa_app_url|escape}products/{$product.id|escape}/",
                    product_id: "{$product.id|escape}",
                    templates: {$_templates|json_encode},
                    urls: {
                        "product_delete": "{$wa_app_url}?module=products&action=deleteList",
                        "product_delete_dialog": "{$wa_app_url}?module=prod&action=productDeleteDialog",
                        "callback_submit": "{$wa_app_url}?module=prod&action=feedback"
                    }
                });
            });

            $.wa.title.set("{$product.name|escape}");

        })(jQuery);
    </script>

    <!-- plugin hook: 'backend_prod.bottom' -->
    {* @event backend_prod.%plugin_id%.bottom *}
    {if !empty($backend_prod_event)}{foreach $backend_prod_event as $_}{ifset($_.bottom)}{/foreach}{/if}

</div>
