<!DOCTYPE html>
<html lang="{if $wa->locale()}{$wa->locale()}{else}en{/if}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{$wa->title()|default:$wa->appName()|escape} — {$wa->accountName()}</title>

    {* META *}
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {* CSS *}
    {$wa->css()}
    <link href="{$wa_app_static_url}css/shop.css?v{$wa->version()}" rel="stylesheet" />
    <link href="{$wa_app_static_url}css/backend/products/wa2/wa2.css?v{$wa->version()}" rel="stylesheet" />
    <link href="{$wa_app_static_url}css/backend/products/product/product.css?v={$wa->version(true)}" rel="stylesheet" />

    {* JS *}
    <script src="{$wa_url}wa-content/js/jquery/jquery-1.11.1.min.js"></script>
    {* FYI: без мигрейта Datepicker выдает простыню ошибок. *}
    <script src="{$wa_url}wa-content/js/jquery/jquery-migrate-1.2.1.min.js"></script>
    <script src="{$wa_app_static_url}js/backend/products/wa2.js?v{$wa->version()}"></script>
    <script src="{$wa_app_static_url}js/backend/products/products.js?v{$wa->version()}"></script>
    <script src="{$wa_url}wa-content/font/fontawesome/fontawesome-all.min.js?v={$wa->version()}"></script>

    {* JQUERY UI custom build. Contains autocomplete and datepicker. Must be here for Mozilla support *}
    <script src="{$wa_app_static_url}js/backend/products/product/jquery-ui/jquery-ui.min.js?v={$wa->version()}"></script>
    <link href="{$wa_app_static_url}js/backend/products/product/jquery-ui/jquery-ui.css?v={$wa->version()}" rel="stylesheet">
    {if substr($wa->locale(), 0, 2) !== "en"}
        <script src="{$wa_url}wa-content/js/jquery-ui/i18n/jquery.ui.datepicker-{$wa->locale()}.js"></script>
    {/if}

    {$wa->js()}

    <script>
        ( function($) {
            $.wa_shop_products.app_url = "{$wa_app_url|escape}";
            $.wa_shop_products.section_url = "{$wa_app_url|escape}?action=products";
            $.wa.title.pattern = "%s — {$wa->accountName()|escape}";
        })(jQuery);
    </script>

    <!-- plugin hook: 'backend_prod_layout.head' -->
    {* @event backend_prod_layout.%plugin_id%.head *}
    {if !empty($backend_prod_layout_event)}{foreach $backend_prod_layout_event as $_}{ifset($_.head)}{/foreach}{/if}
</head>

<body>
<div id="wa">
    {* HEADER *}
    {$wa->header()}

    <!-- plugin hook: 'backend_prod_layout.top' -->
    {* @event backend_prod_layout.%plugin_id%.top *}
    {if !empty($backend_prod_layout_event)}{foreach $backend_prod_layout_event as $_}{ifset($_.top)}{/foreach}{/if}

    {* APP *}
    <div class="s-app-wrapper" id="wa-app">
        {$content}
    </div>

    {capture assign="_confirm_dialog"}
        <div class="wa-dialog">
            <div class="dialog-background"></div>
            <div class="dialog-body">
                <div class="dialog-header">
                    <h2>[`Save modified data before leaving?`]</h2>
                </div>
                <div class="dialog-content">
                    <p>[`Your changes will be lost if you do not save them.`]</p>
                </div>
                <div class="dialog-footer">
                    <button class="js-save-button wa-button yellow" type="button">[`Save`]</button>
                    <button class="js-leave-button wa-button gray" type="button">[`Leave without saving`]</button>
                    <button class="js-dialog-close wa-button blue" type="button">[`Stay`]</button>
                </div>
            </div>
        </div>
    {/capture}

    <!-- plugin hook: 'backend_prod_layout.bottom' -->
    {* @event backend_prod_layout.%plugin_id%.bottom *}
    {if !empty($backend_prod_layout_event)}{foreach $backend_prod_layout_event as $_}{ifset($_.bottom)}{/foreach}{/if}

    <script>
        ( function($) {

            var sections = {
                "products": {
                    id: "products",
                    content_selector: ".s-product-page .js-page-content"
                },
                "product": {
                    id: "product",
                    content_selector: ".s-product-page .js-page-content"
                }
            }

            var routes = {
                "/products/"             : sections["products"],
                "/products/\\d+/"        : sections["product"],
                "/products/\\d+/general/": sections["product"],
                "/products/\\d+/sku/"    : sections["product"],
                "/products/\\d+/media/"  : sections["product"],
                "/products/\\d+/seo/"    : sections["product"],
                "/products/\\d+/services/": sections["product"],
                "/products/\\d+/related/": sections["product"],
                "/products/\\d+/pages/"  : sections["product"],
                "/products/\\d+/reviews/": sections["product"]
            }

            $.wa_shop_products.init.initContentRouter({
                $wrapper: $("#wa-app"),
                main_url: {$wa_app_url|json_encode},
                sections: sections,
                routes: routes,
                onClick: function(node, url) {
                    var $link = $(node);
                    if ($link.hasClass("js-disable-router")) {
                        return false;
                    }
                },
                templates: {
                    confirm_dialog: {$_confirm_dialog|strip|trim|json_encode}
                }
            });

        })(jQuery);
    </script>
</div>
</body>
</html>
