.s-review-images-section {
  padding: 15px 20px;
  border: 1px dashed #bfbfbf;
  -webkit-transition: 200ms background linear;
  -moz-transition: 200ms background linear;
  -o-transition: 200ms background linear;
  -ms-transition: 200ms background linear;
  transition: 200ms background linear;
}
.s-review-images-section.is-highlighted {
  background: #fafadf;
}
.s-review-images-section .s-image-form-section {
  position: relative;
}
.s-review-images-section .s-image-form-section .s-description .s-icon {
  position: relative;
  display: inline-block;
  vertical-align: -3px;
  width: 22px;
  height: 19px;
  margin-right: 10px;
}
.s-review-images-section .s-image-form-section .s-description .s-icon svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.s-review-images-section .s-image-form-section .s-file-field {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  cursor: pointer;
  text-indent: -100%;
  font-size: 0;
}
.s-review-images-section .s-attached-files-section:not(:empty) {
  margin: -20px 0 0;
}
.s-review-images-section .s-attached-files-section .s-file-wrapper {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin: 40px 40px 0 0;
}
.s-review-images-section .s-attached-files-section .s-file-wrapper .s-image-wrapper {
  width: 200px;
  height: 200px;
  border: solid 1px rgba(0,0,0,0.1);
  background: #f7f7f7 50% no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.s-review-images-section .s-attached-files-section .s-file-wrapper .s-description-wrapper {
  margin-top: 10px;
  font-size: 13px;
  line-height: 1.153846153846154em;
  min-height: 55px;
}
.s-review-images-section .s-attached-files-section .s-file-wrapper .s-description-wrapper.is-extended .s-visible {
  display: none;
}
.s-review-images-section .s-attached-files-section .s-file-wrapper .s-description-wrapper:not(.is-extended) .s-hidden {
  display: none;
}
.s-review-images-section .s-attached-files-section .s-file-wrapper .s-description-wrapper .s-visible {
  padding: 5px;
}
.s-review-images-section .s-attached-files-section .s-file-wrapper .s-description-wrapper .s-textarea {
  display: block;
  border: solid 1px rgba(0,0,0,0.1);
  padding: 4px 6px;
  font-size: 13px;
  line-height: 15px;
  width: 100%;
  height: 55px;
  resize: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-width: auto;
  min-height: auto;
}
.s-review-images-section .s-attached-files-section .s-file-wrapper .s-actions {
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translate(50%, -10px);
  -moz-transform: translate(50%, -10px);
  -o-transform: translate(50%, -10px);
  -ms-transform: translate(50%, -10px);
  transform: translate(50%, -10px);
}
.s-review-images-section .s-attached-files-section .s-file-wrapper .s-actions .s-action {
  position: relative;
  width: 20px;
  height: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 50%;
  border: solid 1px rgba(0,0,0,0.33);
  background: #fff;
  cursor: pointer;
}
.s-review-images-section .s-attached-files-section .s-file-wrapper .s-actions .s-action:not(:first-child) {
  margin-top: 10px;
}
.s-review-images-section .s-attached-files-section .s-file-wrapper .s-actions .s-action .s-icon {
  position: absolute;
  display: inline-block;
  width: 10px;
  height: 10px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.s-review-images-section .s-attached-files-section .s-file-wrapper .s-actions .s-action .s-icon svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.s-review-images-section .s-errors-section:not(:empty) {
  margin: 20px 0 0;
}
.s-review-images-section .s-errors-section .s-error {
  font-size: 12px;
  line-height: 1.166666666666667em;
  color: #f00;
}
.s-review-images-section .s-errors-section .s-error:not(:first-child) {
  margin-top: 5px;
}
.promo {
  padding: 0;
  margin: 10px 0;
  overflow: hidden;
  background: #fff;
  border-bottom: 1px solid #ccc;
}
.promo .bx-wrapper {
  margin: 0 auto;
}
.promo .bx-wrapper .bx-viewport {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  left: 0;
}
.promo .bx-wrapper .bx-viewport .bxslider {
  margin: 0;
  height: 100%;
}
.promo .bx-wrapper .bx-controls {
  margin: 20px 0;
}
@media (max-width: 760px) {
  .promo .bx-wrapper .bx-controls {
    position: relative;
  }
}
.promo .bx-wrapper .bx-controls .bx-pager {
  position: static;
  display: block;
  bottom: auto;
  width: auto;
  line-height: 0;
  padding: 0 32px;
}
.promo .bx-wrapper .bx-controls .bx-pager .bx-pager-item {
  vertical-align: top;
}
.promo .bx-wrapper .bx-controls .bx-prev {
  left: 0;
}
.promo .bx-wrapper .bx-controls .bx-next {
  right: 0;
}
.promo .s-slide-wrapper {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 0;
  height: 100%;
}
@media (min-width: 761px) {
  .promo .s-slide-wrapper {
    height: 380px;
  }
}
.promo .s-slide-wrapper .s-slide {
  display: table;
  width: 100%;
  height: 100%;
  table-layout: fixed;
}
.promo .s-slide-wrapper .s-slide > * {
  display: table-cell;
  vertical-align: middle;
}
.promo .s-slide-wrapper .s-slide .s-image-column {
  padding: 15px 0;
  width: 40%;
  text-align: center;
}
.promo .s-slide-wrapper .s-slide .s-info-column {
  padding: 0 20px 0 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.promo .s-slide-wrapper .s-image-wrapper {
  display: inline-block;
  position: relative;
}
.promo .s-slide-wrapper .s-image-wrapper img {
  max-width: 100%;
  vertical-align: top;
}
.promo .s-slide-wrapper .s-image-wrapper .corner.right {
  right: 30px;
}
.promo .s-slide-wrapper .s-image-wrapper .corner.top {
  top: 20px;
}
.promo .s-slide-wrapper .s-info-wrapper {
  overflow: hidden;
}
@media (max-width: 760px) {
  .promo .s-slide-wrapper .s-info-wrapper {
    max-height: 300px;
  }
}
@media (min-width: 761px) {
  .promo .s-slide-wrapper .s-info-wrapper {
    max-height: 380px;
    padding-left: 48px;
  }
}
.promo .s-slide-wrapper .s-info-wrapper > * {
  margin: 10px 0 0;
}
.promo .s-slide-wrapper .s-info-wrapper > *:first-child {
  margin-top: 0;
}
.promo .s-slide-wrapper .s-info-wrapper h2 {
  font-size: 1.6em;
  line-height: 1.2em;
  font-weight: bold;
  color: #000;
}
.promo .s-slide-wrapper .s-info-wrapper h2 a {
  color: inherit;
}
.promo .s-slide-wrapper .s-info-wrapper h2 a:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 1;
}
.promo .s-slide-wrapper .s-info-wrapper .s-price-wrapper {
  background: #fff;
  font-size: 1.2em;
  line-height: 1.2em;
  color: #000;
}
.promo .s-slide-wrapper .s-info-wrapper .s-price-wrapper .s-price {
  font-weight: bold;
}
.promo .s-slide-wrapper .s-info-wrapper p {
  color: #555;
}
@media (max-width: 760px) {
  .bx-wrapper .bx-pager {
    display: none;
  }
}
.s-review-images-section,
.s-review-notice-section {
  display: inline-block;
  vertical-align: top;
  width: 70%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.s-review-images-section a,
.s-review-notice-section a {
  display: inline !important;
  padding: 0 !important;
}
@media (max-width: 760px) {
  .s-review-images-section,
  .s-review-notice-section {
    width: 100%;
  }
}
.s-review-wrapper .s-images-list {
  margin: 5px 0 0;
}
.s-review-wrapper .s-images-list .s-image-wrapper {
  display: inline-block;
  vertical-align: top;
  margin: 0 15px 5px 0;
  padding: 0;
}
.s-review-wrapper .s-images-list .s-image-wrapper .s-image {
  height: 100px;
  vertical-align: top;
}
