<div class="box s-images-import" id="s-imagesproduct-form">
    <h1>[`Bulk image upload`]</h1>
    <p>[`Bulk image upload allows you to instantly create multiple products by uploading a single set of image files. Shop-Script will automatically group images according to their file names, and you will be able to manually arrange them between each other to either create new products or attach to existing products. Bulk image uploader works in HTML5-enabled browsers only.`]</p>

    <form id="fileupload" action="?module=product&amp;action=imageUpload" method="POST" enctype="multipart/form-data">
        <div id="s-image-upload-dropbox" class="custom-mt-24">
            <div class="upload">
                <label class="link">
                    <i class="fas fa-file-upload"></i>
                    <span>[`Select images`] <span class="gray">[`or drag them here to start upload`]</span></span>
                    <input type="file" name="files[]" multiple="" autocomplete="off"></a>
                </label>
            </div>
        </div>
        <p class="gray" style="display:none;" id="s-image-upload-explanation">
            [`Drag images between automatically detected groups, and assign them to either new or existing products. Click “Upload images” when setup is complete.`]
        </p>

        <table class="s-bulk-image-uploader-map">
            <tbody class="preload-files">
            </tbody>
        </table>

        {* send with separate image to say for what product this image is *}
        <input type="hidden" name="product_id" value="">
        {$wa->csrf()}

        {include './include.imageUpload.html' inline}

        <div class="box">

            <p id="add-new-group-container" style="display:none;">
                <a href="#" class="inline-link" id="add-new-group"><i class="fas fa-plus-circle text-green add"></i> [`Add product`]</a>
            </p>

            <div id="s-product-type-container" class="flexbox middle space-8 custom-mb-24" style="display:none;">
                {$type = reset($types)}
                [`Assign all new products following product type:`]
                <span id="s-product-type-icon" class="text-gray">{$wa->shop->getIcon($type.icon)}</span>
                <div class="wa-select">
                    <select name="type_id" id="s-product-type">
                        {foreach $types as $id => $type}
                            <option data-icon="{$wa->shop->getIcon($type.icon)|escape}" value="{$id}">
                                {$type.name|escape}
                            </option>
                        {/foreach}
                    </select>
                </div>
            </div>

            <div class="fileupload-buttonbar">
                <button type="button" class="button start" style="display:none" id="submit">[`Upload images`]</button>
                <span id="s-imagesproduct-report" style="display: none;"></span>
            </div>

        </div>

    </form>
</div>

<script>
    ( function($) {
        $("#s-image-upload-dropbox").waUpload({ is_uploadbox: true, show_file_name: false });

        $('#s-product-type').bind('change', function() {
            var self = $(this);
            $('#s-product-type-icon').html(
                self.find('option:selected').attr('data-icon')
            );
        });
    })(jQuery);
</script>
