{$_tooltips["url-error"] = [
    "id" => "url-error",
    "html" => sprintf(_w("Enter a number between 0 and %s99,999,999,999.9999%s with max. 4 decimal digits."), '<span class="nowrap">', "</span>"),
    "width" => "16rem"
]}

{capture assign="_component_product_column_url"}
    <div class="vue-column-type-url">
        <template v-if="states.is_locked">
            <span class="s-icon icon" v-bind:key="'fa-spinner'"><i class="fas fa-spinner fa-spin"></i></span>
        </template>
        <template v-else>
            <div class="s-field-wrapper">
                <input class="s-field small full-width s-square-field" type="text"
                       v-model="column_data.value"
                       v-bind:class="{ 'state-error': errors['url_error'] }"
                       v-on:input="onInput"
                       v-on:change="onChange">

                <div class="state-error-hint" v-if="errors['url_error']">[`The URL is already in use.`]</div>
            </div>
        </template>
    </div>
{/capture}
{$_components["component-product-column-url"] = $_component_product_column_url|strip}
