{capture assign="_component_dropdown_product_column"}
    <div class="vue-render-type-dropdown">
        <template v-if="states.is_locked">
            <span class="s-icon icon"><i class="fas fa-spinner fa-spin"></i></span>
        </template>
        <template v-else>
            <component-dropdown
                v-model="column_data.value"
                v-bind:button_class="'s-square-field'"
                v-bind:options="options"
                v-bind:box_limiter_selector="'.s-products-table-section'"
                v-on:change="onChange"></component-dropdown>
        </template>
    </div>
{/capture}
{$_components["component-product-column-dropdown"] = $_component_dropdown_product_column|strip}
