<div>
<h1>
    <a href="?action=customers" class="back"><i class="fas fa-arrow-circle-left"></i></a>
    [`New customer`]
</h1>

<form id="new-customer-form" class="s-order-customer-details" action="?module=customers&action=add">
    <div class="fields form">
        <div class="fields-group s-customers-add-block">
            {$form->html()}
        </div>

        <div class="field">
            <div class="value">
                <input id="new-customer-add" type="submit" class="button" value="[`Add`]">
            </div>
        </div>
    </div>
</form>
</div>

<script>$(function() { "use strict";

    var form = $('#new-customer-form'),
        is_locked = false;

    // Form submit via XHR
    form.submit(function() {
        if (!is_locked) {
            // Disable submit button
            $('#new-customer-add').attr("disabled", true);
            is_locked = true;
            $.post(form.attr('action'), form.serialize(), function (r) {
                $('#s-content').html(r);
            }).always(function () {
                is_locked = false;
                $('#new-customer-add').attr("disabled", false);
            });
            return false;
        }
    });

    {if $customer_validation_disabled}
        $('#new-customer-form').find('.required,.wa-required').removeClass('required').removeClass('wa-required');
    {/if}

});</script>
