{$class_id = 's-customer-orders-wrapper'}
{$wrapper_id = uniqid($class_id)}

<div id="{$wrapper_id}" data-page="{$page}" class="s-grid">
    {if !count($orders)}
        <p class="small gray">{sprintf('[`%s did not purchase anything yet.`]', $contact.name|escape)}</p>
    {else}
        {include file="templates/includes/orders_table.html" orders=$orders inline}

        <div class="s-customer-orders-pagination-wrapper">
            {wa_pagination
                page=$page
                total=$pages_count
                attrs=['class' => "menu s-paginator-menu"]
            }
        </div>

        {$include_js = $wa->get('include_js')}

        {* DEFAULT VALUE *}
        {if $include_js === null}
            {$include_js = true}
        {/if}

        {if $include_js}
            <script>
                new ShopCustomerOrders({
                    $wrapper: $('#{$wrapper_id}'),
                    contact: {
                        id: {$contact.id|json_encode}
                    }
                });
            </script>
        {/if}

    {/if}
</div>
