<link href="{$wa_app_static_url}css/backend/customers.css?v{$wa->version()}" rel="stylesheet" />
<script type="text/javascript" src="{$wa_app_static_url}js/customers/customers.js?{$wa->version()}"></script>
<script type="text/javascript" src="{$wa_app_static_url}js/customers/orders.js?{$wa->version()}"></script>
<script type="text/javascript" src="{$wa_app_static_url}js/lazy.load.js?{$wa->version()}"></script>
<script type="text/javascript" src="{$wa_app_static_url}js/form/customer/backend.js?{$wa->version()}"></script>

<div class="not-blank hidden s-customers" id="s-customers">
    <div class="flexbox space-12 wrap-mobile">
        <div class="sidebar flexbox blank width-20rem wide-mobile s-scroll-y" id="s-sidebar">
            {wa_action app="shop" module="customers" action="sidebar"}
        </div>
        <div class="article wider">
            <div class="article-body custom-pt-20">
                <div class="custom-mt-4 wide" id="s-content" style="min-height:calc(100vh - 4rem)"></div>
            </div>
        </div>
    </div>
</div>

{include file="./../../layouts/skeleton/customers.html"}
{include file="./../../layouts/skeleton/customers_info.html"}
{include file="./../../layouts/skeleton/customers_add.html"}

<script>$(function() { "use strict";
    $.customers.init();
});</script>
