:root {
  --wa-delivery-type-active-bg: light-dark(color-mix(in srgb, var(--accent-color) 100%, white 100%), color-mix(in srgb, var(--accent-color) 100%, black 100%));
  --wa-delivery-type-hover-bg: light-dark(var(--gray6), var(--black_tr_8));
  --wa-order-dialog-header-border: light-dark(#e9ecef, #333333);
}

@supports not (color: light-dark(white, black)) {
  :root {
    --wa-delivery-type-active-bg: color-mix(in srgb, var(--accent-color) 100%, white 100%);
    --wa-delivery-type-hover-bg: var(--gray6);
    --wa-order-dialog-header-border: #e9ecef;
  }
}

@media screen and (max-width: 760px) {
  html.is-order-page .globalheader #globalnav {
    z-index: 999;
  }
}
html.is-order-page .container {
  min-width: 0;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}
@media screen and (max-width: 1300px) {
  html.is-order-page .container {
    width: 100%;
  }
}
@media screen and (min-width: 1301px) {
  html.is-order-page .container {
    width: 1300px;
  }
}
@media screen and (min-width: 761px) {
  html.is-order-page .container {
    padding: 0 20px;
  }
}
@media screen and (min-width: 1101px) {
  html.is-order-page .container {
    padding: 0 40px;
  }
}
@media screen and (max-width: 760px) {
  html.is-order-page .container {
    padding: 0 20px;
  }
  html.is-order-page #globalnav .container {
    padding: 0 12px;
  }
}
.wa-link {
  color: var(--link-color) !important;
}
.wa-link:hover {
  color: var(--link-hover-color) !important;
}
.s-checkbox {
  display: inline-block;
  font-size: 0.857142857142857rem;
  cursor: pointer;
  transform: translate(0, 1px);
  line-height: 0;
}
.s-checkbox input {
  display: none;
  border-radius: min(.7em, var(--element-border-radius));
}
.s-checkbox input + span {
  position: relative;
  display: block;
  width: 1em;
  height: 1em;
  border-radius: 3px;
  border: 1px solid rgba(0,0,0,0.3);
  background: #fff;
  cursor: pointer;
  box-sizing: border-box;
}
.s-checkbox input + span:hover {
  border-color: rgba(0,0,0,0.6);
}
.s-checkbox input + span .s-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70%;
  height: 70%;
  transform: translate(-50%, -50%);
  display: inline-block;
  vertical-align: top;
  visibility: hidden;
  color: #fff;
  line-height: 0;
}
.s-checkbox input + span .s-icon svg {
  width: 100%;
  height: 100%;
}
.s-checkbox input:checked + span {
  border: 0;
  background: #3389e0;
}
.s-checkbox input:checked + span .s-icon {
  visibility: visible;
}
.s-checkbox input:disabled + span {
  background: #e0e0e0;
  cursor: default;
}
.s-checkbox input.wa-error + span {
  border-color: #f00;
  background: transparent;
}
.s-radio {
  display: inline-block;
  font-size: 1.142857142857143rem;
  line-height: 1em;
  cursor: pointer;
}
.s-radio input {
  display: none;
}
.s-radio input + span {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  border: 1px solid rgba(0,0,0,0.3);
  background: #fff;
  cursor: pointer;
  box-sizing: border-box;
}
.s-radio input + span:hover {
  border-color: rgba(0,0,0,0.6);
}
.s-radio input:checked + span {
  border-color: #39f;
  border-width: 0.3125em;
}
.s-radio input:disabled + span {
  background: #e0e0e0;
  cursor: default;
}
.s-radio input.wa-error + span {
  border-color: #f00;
}
.wa-field-wrapper .s-styled-select {
  display: block;
}
.wa-field-wrapper .s-styled-select select {
  width: 100%;
}
.s-styled-select {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
  max-width: 100%;
}
.s-styled-select:last-child {
  margin-right: 0;
}
.s-styled-select select {
  position: relative;
  display: inline-block;
  padding: 0.6rem 0.75rem;
  margin: 0 !important;
  line-height: 1.5;
  font-size: inherit;
  color: var(--header-menu-pages-link-color);
  appearance: none;
  outline: 0;
  background: none;
  box-sizing: border-box;
  cursor: pointer;
  transition: border-color 200ms linear;
}
.s-styled-select select.wa-error {
  border-color: #f00;
  color: #f00;
}
.s-styled-select select.wa-error + .s-icon {
  border-color: #f00;
}
.s-styled-select select:disabled {
  cursor: default;
  opacity: 0.5;
}
.s-styled-select select option {

}
.s-styled-select select option:disabled {
  color: #888;
}
.s-styled-select select option.selected {
  font-weight: bold;
}
.s-styled-select .s-icon {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: 1rem;
  width: 0.428571428571429rem;
  height: 0.428571428571429rem;
  transform: translate(50%, -75%) rotate(45deg);
  border: solid #aaa;
  border-width: 0 1px 1px 0;
  transition: border-color 200ms linear;
}

@media screen and (max-width: 760px) {
  .s-styled-select {
    display: block;
  }
  .s-styled-select select {
    width: 100%;
  }
  .wa-signup-form-wrapper .wa-field.wa-field-birthday .wa-value {
    display: flex;
    justify-content: space-between;
  }
  .wa-signup-form-wrapper .wa-field.wa-field-birthday .wa-value .s-styled-select {
    display: inline-block;
    margin-right: 0;
  }
  .wa-signup-form-wrapper .wa-field.wa-field-birthday .wa-value .s-styled-select select {
    margin-right: 0;
  }
}
.wa-product-edit-dialog .wa-cart-section .wa-features-wrapper .wa-feature-wrapper.color {
  padding-bottom: 20px;
}
.wa-product-edit-dialog .wa-cart-section .wa-features-wrapper .wa-feature-wrapper.color .wa-variants-list .wa-variant {
  overflow: visible;
  min-width: auto;
  width: 40px;
  height: 40px;
  padding: 10px 0;
  box-sizing: border-box;
}
.wa-product-edit-dialog .wa-cart-section .wa-features-wrapper .wa-feature-wrapper.color .wa-variants-list .wa-variant.selected {
  position: relative;
}
.wa-product-edit-dialog .wa-cart-section .wa-features-wrapper .wa-feature-wrapper.color .wa-variants-list .wa-variant.selected:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 66%;
  height: 66%;
  display: block;
  background-repeat: no-repeat;
  background-color: rgba(255,255,255,0.5);
  background-image: url("../img/svg/icon-yes.svg");
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
.wa-product-edit-dialog .wa-cart-section .wa-features-wrapper .wa-feature-wrapper.color .wa-variants-list .wa-variant .wa-variant-name {
  display: inline-block;
  color: var(--black);
  font-size: 8px;
  font-weight: 400;
  transform: translate(0, 28px);
}
.s-order-page {
  padding: 42px 0 80px;
}

.s-order-page *,
.s-order-page ::after,
.s-order-page ::before {
  box-sizing: unset;
}

.s-order-page .wa-order-cross_selling-wrapper .wa-cross_selling-body,
.s-order-page .wa-order-cross_selling-wrapper .wa-slider-wrapper .wa-slider-actions .wa-action {
  background: var(--bg-color);
}
.s-order-page .wa-order-cross_selling-wrapper .wa-slider-wrapper .wa-slider-actions .wa-action {
  color: var(--bg-color);
}

.s-order-page .s-back-link {
  text-align: right;
  font-weight: 600;
  font-size: 13px;
}
.s-order-page .s-order-section:not(:first-child) {
  margin-top: 20px;
}
.s-order-page .s-order-section > .s-section-header {
  margin-bottom: 26px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.s-order-page .s-order-section > .s-section-header > .s-header {
  margin: 0;
  font-size: 1.5em;
  line-height: 1.75em;
  font-weight: 400;
  color: var(--text-color);
}
.s-order-page .s-order-section > .s-section-header .s-delete-button {
  color: var(--gray4);
  font-weight: 600;
  font-size: 13px;
  line-height: 15px;
  margin-right: 10px;
}
.s-order-page .s-order-section > .s-section-header .s-delete-button:hover {
  color: var(--red);
}
.s-order-page .s-order-section > .s-section-header .s-delete-button:hover .s-delete-icon {
  fill: var(--red);
}
.s-order-page .s-order-section > .s-section-header .s-delete-button .s-delete-icon {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 6px 0 0;
  fill: #b8b8b8;
}
.s-order-page .s-order-section > .s-section-body {
  background: var(--bg-color-accent, #fff);
  box-shadow: 0 5px 30px rgba(0,0,0,0.06);
  border-radius: var(--element-border-radius);
  padding: 18px;
}
@media screen and (max-width: 760px) {
  .s-order-page { padding-top: 0; }
  .s-order-page .s-order-section > .s-section-body {
    padding: 0.75rem;
    box-shadow: none;
  }
}
.s-order-page .s-order-section > .s-section-body .wa-form-body .wa-step-section {
  position: relative;
}
.s-order-page .s-order-section > .s-section-body .wa-form-body .wa-step-section.wa-step-auth-section .wa-toggle > * {
  background-color: var(--input-bg-color) !important;
  color: var(--text-color) !important;
}
.s-order-page .s-order-section > .s-section-body .wa-form-body .wa-step-section.wa-step-auth-section .wa-toggle > *.selected {
  background-color: var(--white-auto) !important;
  color: var(--text-color) !important;
  background-image: none;
  box-shadow: none;
  border-top-color: transparent;
}
.s-order-page .s-order-section > .s-section-body .wa-form-body .wa-header {
  font-weight: 600;
  color: var(--header-menu-pages-link-color);
  margin-right: 8px;
}
.s-order-page .s-order-section > .s-section-body .wa-form-body .wa-contact-name {
  color: var(--header-menu-pages-link-color);
}
.s-order-page .s-order-section > .s-section-body .wa-form-body .wa-logout-link {
  color: var(--link-color);
}
.s-order-page .s-order-section > .s-section-body .wa-form-body .wa-name {
  color: var(--text-color);
}
.s-order-page .s-order-section > .s-section-body .wa-form-body .wa-value > *{
  color: var(--header-menu-pages-link-color) !important;
}
.s-order-page .s-order-section > .s-section-body .wa-form-body .wa-label {
  color: var(--gray4);
  font-weight: 400;
  font-size: 14px;
}
.s-order-page .s-order-section > .s-section-body .wa-form-body .wa-item {
  margin-top: 24px !important;
}
.s-order-page .s-order-section > .s-section-body .wa-form-body .wa-item.wa-item-total .wa-price {
  font-weight: 600 !important;
  white-space: nowrap;
}
.s-order-page .s-order-section > .s-section-body .wa-form-body .wa-input {
  color: var(--header-menu-pages-link-color);
  font-size: 14px;
  padding: 0.6rem 0.75rem;
  border: 1px solid var(--input-border-color);
  border-radius: var(--element-border-radius);
  line-height: 1.5;
  background-color: transparent;
}
.s-order-page .s-order-section > .s-section-body .wa-form-body .wa-checkbox {
  display: inline-block;
  font-size: 9px;
  margin-top: -0.3em;
}
.s-order-page .s-order-section > .s-section-body .wa-form-body .wa-checkbox + span {
  display: none;
}
.s-order-page .s-order-section > .s-section-body .wa-form-body .wa-text {
  line-height: 150%;
}
.s-order-page .s-order-section > .s-section-body .wa-form-body .wa-submit-button {
  text-shadow: none;
  padding: 0.857em 1.07em 0.857em 1.14em;
  overflow: hidden;
  font-weight: normal;
}
.s-order-page .s-order-section > .s-section-body .wa-form-body .wa-select {
  border: 1px solid var(--input-border-color);
  border-radius: var(--element-border-radius);
  padding: 12px 12px;
  height: auto;
  line-height: 1.125em;
  background-image: var(--chevron-svg) !important;
  background-position: right 0.525em center !important;
  background-size: 16px !important;
  background-repeat: no-repeat !important;
  background-color: transparent !important;
  color: var(--header-menu-pages-link-color);
}
.s-order-page .s-order-section > .s-section-body .wa-form-body .wa-select + .s-icon {
  display: none;
}
.s-order-page .s-order-section > .s-section-body .wa-form-body .wa-select:disabled,
.s-order-page .s-order-section > .s-section-body .wa-form-body .wa-select.disabled {
  background: var(--gray6);
  color: var(--gray4);
}
.s-order-page .s-order-section > .s-section-body .wa-form-body .wa-select.wa-error {
  border: 1px solid var(--red);
  color: var(--red);
}
.s-order-page .wa-field-wrapper .wa-select option {
  background-color: var(--bg-color-accent) !important;
}
.s-order-page .wa-field-wrapper .wa-select option {
  color: var(--text-color) !important;
}
.s-order-page .wa-field-wrapper .wa-select option[disabled] {
  color: var(--text-color-additional) !important;
}
.s-order-page .s-order-section > .s-section-body .wa-form-body .wa-required-text {
  color: var(--gray3);
}
.s-order-page .s-order-section > .s-section-body .wa-form-body .wa-required-text .wa-required {
  color: var(--orange);
  font-size: 24px;
}
.s-order-page .s-order-section > .s-section-body .wa-form-body .wa-error-text {
  color: var(--red);
  font-size: 14px;
}
.s-order-page .s-order-section > .s-section-body .wa-form-body .wa-dropdown.is-locked > .wa-dropdown-toggle {
  background-color: var(--gray6) !important;
  color: var(--gray4);
}
.s-order-page .s-order-section > .s-section-body .wa-form-body .wa-dropdown > .wa-dropdown-toggle {
  padding: 11px 12px;
  border: 1px solid var(--input-border-color);
  border-radius: var(--element-border-radius);
  font-size: 14px;
}
.s-order-page .s-order-section > .s-section-body .wa-form-body .wa-step-confirm-section {
  border-top: 2px solid var(--divider-color);
  padding-top: 32px;
}
.s-order-page .s-order-section > .s-section-body .wa-form-body .wa-step-shipping-section .wa-delivery-types-section {
  margin-top: 24px;
}
.s-order-page .s-order-section > .s-section-body .wa-form-body .wa-step-shipping-section .wa-delivery-types-section .wa-header {
  font-size: 1em;
  margin-bottom: 16px;
}
.s-order-page .s-order-section > .s-section-body .wa-form-body .wa-step-shipping-section .wa-delivery-types-section .wa-types-list .wa-type-wrapper {
  position: relative;
  border: 1px solid var(--bg_tr_10);
  background: var(--bg-color-accent);
  padding: 16px;
}
@media screen and (max-width: 760px) {
  .s-order-page .s-order-section > .s-section-body .wa-form-body .wa-step-shipping-section .wa-delivery-types-section .wa-types-list .wa-type-wrapper {
    border-radius: var(--element-border-radius) !important;
  }
  .s-order-page .s-order-section > .s-section-body .wa-form-body .wa-step-shipping-section .wa-delivery-types-section .wa-types-list .wa-type-wrapper:not(:last-child) {
    margin-bottom: 0.5rem;
  }
}
.s-order-page .s-order-section > .s-section-body .wa-form-body .wa-step-shipping-section .wa-delivery-types-section .wa-types-list .wa-type-wrapper:first-child:last-child {
  border-radius: var(--element-border-radius);
}
.s-order-page .s-order-section > .s-section-body .wa-form-body .wa-step-shipping-section .wa-delivery-types-section .wa-types-list .wa-type-wrapper:first-child:not(:last-child) {
  border-radius: var(--element-border-radius) 0 0 var(--element-border-radius);
}
.s-order-page .s-order-section > .s-section-body .wa-form-body .wa-step-shipping-section .wa-delivery-types-section .wa-types-list .wa-type-wrapper:last-child:not(:first-child) {
  border-radius: 0 var(--element-border-radius) var(--element-border-radius) 0;
}
.s-order-page .s-order-section > .s-section-body .wa-form-body .wa-step-shipping-section .wa-delivery-types-section .wa-types-list .wa-type-wrapper.is-active {
  box-shadow: none;
  background: var(--wa-delivery-type-active-bg);
  z-index: 0;
  overflow: hidden;
}
.s-order-page .s-order-section > .s-section-body .wa-form-body .wa-step-shipping-section .wa-delivery-types-section .wa-types-list .wa-type-wrapper.is-active::after {
  content: '';
  position: absolute;
  background: var(--link-color);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.15;
}
.s-order-page .s-order-section > .s-section-body .wa-form-body .wa-step-shipping-section .wa-delivery-types-section .wa-types-list .wa-type-wrapper.is-active .wa-name {
  font-weight: 600;
  color: var(--text-color);
}
.s-order-page .s-order-section > .s-section-body .wa-form-body .wa-step-shipping-section .wa-delivery-types-section .wa-types-list .wa-type-wrapper:not(.is-active):hover {
  background: var(--wa-delivery-type-hover-bg);
}
.s-order-page .s-order-section > .s-section-body .wa-form-body .wa-step-shipping-section .wa-delivery-types-section .wa-types-list .wa-type-wrapper .wa-name {
  color: var(--link-color);
}
.s-order-page .s-order-section > .s-section-body .wa-form-body .wa-step-shipping-section .wa-delivery-types-section .wa-types-list .wa-type-wrapper .wa-price {
  display: inline-block;
}
.s-order-page .s-order-section > .s-section-body .wa-form-body .wa-step-shipping-section .wa-delivery-types-section .wa-types-list .wa-type-wrapper.is-active .wa-price {
  color: var(--text-color);
}
.s-order-page .s-order-section > .s-section-body .wa-form-body .wa-step-shipping-section .wa-delivery-types-section .wa-types-list .wa-type-wrapper .wa-date {
  display: inline-block;
  margin-left: 8px;
  color: var(--gray3);
}
.s-order-page .s-order-section > .s-section-body .wa-form-body .wa-step-shipping-section .wa-delivery-variants-section {
  margin-top: 24px;
}
.s-order-page .s-order-section > .s-section-body .wa-form-body .wa-step-shipping-section .wa-delivery-variants-section .wa-header {
  font-size: 1em;
  margin-bottom: 16px;
}
.s-order-page .s-order-section > .s-section-body .wa-form-body .wa-step-payment-section .wa-methods-list.wide .wa-method-wrapper {
  position: relative;
  border: 1px solid var(--gray5);
  background: var(--wa-delivery-type-bg);
  padding: 16px;
}
.s-order-page .s-order-section > .s-section-body .wa-form-body .wa-step-payment-section .wa-methods-list.wide .wa-method-wrapper:first-child:not(:last-child) {
  border-radius: var(--element-border-radius) var(--element-border-radius) 0 0;
}
.s-order-page .s-order-section > .s-section-body .wa-form-body .wa-step-payment-section .wa-methods-list.wide .wa-method-wrapper:last-child:not(:first-child) {
  border-radius: 0 0 var(--element-border-radius) var(--element-border-radius);
}
.s-order-page .s-order-section > .s-section-body .wa-form-body .wa-step-payment-section .wa-methods-list.wide .wa-method-wrapper.is-active {
  box-shadow: none;
  background: var(--white);
  z-index: 0;
  overflow: hidden;
}
.s-order-page .s-order-section > .s-section-body .wa-form-body .wa-step-payment-section .wa-methods-list.wide .wa-method-wrapper.is-active::after {
  content: '';
  position: absolute;
  background: var(--link-color);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.15;
}
.s-order-page .s-order-section > .s-section-body .wa-form-body .wa-step-payment-section .wa-methods-list.wide .wa-method-wrapper.is-active .wa-payment-name {
  font-weight: 600;
  color: var(--gray1);
}
.s-order-page .s-order-section > .s-section-body .wa-form-body .wa-step-payment-section .wa-methods-list.wide .wa-method-wrapper:not(.is-active):hover {
  background: var(--wa-delivery-type-hover-bg);
}
.s-order-page .s-order-section > .s-section-body .wa-form-body .wa-step-payment-section .wa-methods-list.wide .wa-method-wrapper .wa-payment-name {
  font-size: 16px;
  color: var(--link-color);
}
.s-order-page .s-order-section > .s-section-body .wa-form-body .wa-step-payment-section .wa-methods-list.wide .wa-method-wrapper:not(.is-active) .wa-description {
  color: var(--text-color);
}
.s-order-page .s-order-section > .s-section-body .wa-cart-body {
  padding: 0;
}
.s-order-page .s-order-section > .s-section-body .wa-cart-body .wa-product {
  border: 0 none;
  padding: 16px 0;
}
.s-order-page .s-order-section > .s-section-body .wa-cart-body .wa-product .wa-product-body .wa-column-image {
  padding-right: 8px;
}
.s-order-page .s-order-section > .s-section-body .wa-cart-body .wa-product .wa-product-body .wa-column-image .wa-image-section img {
  border-radius: var(--element-border-radius);
}
.s-order-page .s-order-section > .s-section-body .wa-cart-body .wa-product .wa-product-body .wa-column-details {
  padding-top: 0 !important;
  padding-right: 8px;
}
.s-order-page .s-order-section > .s-section-body .wa-cart-body .wa-product .wa-product-body .wa-column-details .wa-details {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.s-order-page .s-order-section > .s-section-body .wa-cart-body .wa-product .wa-product-body .wa-column-details .wa-details .wa-name {
  font-weight: 600 !important;
  font-size: var(--h5-size);
  margin: 0;
  display: inline-block;
}
.s-order-page .s-order-section > .s-section-body .wa-cart-body .wa-product .wa-product-body .wa-column-details .wa-details .wa-sku {
  color: var(--text-color);
  margin: 0;
}
.s-order-page .s-order-section > .s-section-body .wa-cart-body .wa-product .wa-product-body .wa-column-details .wa-details .wa-actions .wa-action {
  font-weight: 600 !important;
  color: var(--gray4) !important;
  font-size: 13px !important;
}
.s-order-page .s-order-section > .s-section-body .wa-cart-body .wa-product .wa-product-body .wa-column-details .wa-services .s-checkbox input {
  display: inline-block;
  font-size: 9px;
}
.s-order-page .s-order-section > .s-section-body .wa-cart-body .wa-product .wa-product-body .wa-column-details .wa-services .s-checkbox input + span {
  display: none !important;
}
.s-order-page .s-order-section > .s-section-body .wa-cart-body .wa-product .wa-product-body .wa-column-details .wa-services .wa-label {
  padding: 3px 0 0 27px !important;
}
.s-order-page .s-order-section > .s-section-body .wa-cart-body .wa-product .wa-product-body .wa-column-details .wa-services .wa-variant {
  margin-left: 23px !important;
}
.s-order-page .s-order-section > .s-section-body .wa-cart-body .wa-product .wa-product-body .wa-column-quantity .wa-quantity-cart-section {
  margin-top: 18px;
  padding-right: 8px;
}
.s-order-page .s-order-section > .s-section-body .wa-cart-body .wa-product .wa-product-body .wa-column-quantity .wa-quantity-cart-section .wa-field-wrapper {
  background: transparent;
}
.s-order-page .s-order-section > .s-section-body .wa-cart-body .wa-product .wa-product-body .wa-column-quantity .wa-quantity-cart-section .wa-field-wrapper .wa-field {
  font-size: 14px;
  border: 1px solid var(--input-border-color);
  background-color: transparent;
  border-radius: var(--element-border-radius);
  color: var(--header-menu-pages-link-color);
}
.s-order-page .s-order-section > .s-section-body .wa-cart-body .wa-product .wa-product-body .wa-column-quantity .wa-quantity-cart-section .wa-field-wrapper .wa-unit {
  line-height: 22px;
  font-size: 14px;
}
.s-order-page .s-order-section > .s-section-body .wa-cart-body .wa-product .wa-product-body .wa-column-quantity .wa-quantity-cart-section .wa-button-wrapper .wa-button,
.s-order-page .s-order-section > .s-section-body .wa-cart-body .wa-product .wa-product-body .wa-column-quantity .wa-quantity-cart-section .wa-button-wrapper button {
  background: transparent;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  min-width: 30px;
  min-height: 32px;
  padding: 0;
  margin: 0;
  border: 0;
  border-radius: 0;
  line-height: 1em;
  border-color: transparent;
  color: #c4c4c4;
}
.s-order-page .s-order-section > .s-section-body .wa-cart-body .wa-product .wa-product-body .wa-column-quantity .wa-quantity-cart-section .wa-button-wrapper .wa-button:hover::after,
.s-order-page .s-order-section > .s-section-body .wa-cart-body .wa-product .wa-product-body .wa-column-quantity .wa-quantity-cart-section .wa-button-wrapper button:hover::after {
  background: transparent !important;
  border-color: transparent !important;
  color: #c4c4c4;
}
.s-order-page .s-order-section > .s-section-body .wa-cart-body .wa-product .wa-product-body .wa-column-quantity .wa-quantity-cart-section .wa-button-wrapper .wa-button .wa-description,
.s-order-page .s-order-section > .s-section-body .wa-cart-body .wa-product .wa-product-body .wa-column-quantity .wa-quantity-cart-section .wa-button-wrapper button .wa-description {
  color: var(--gray4);
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}
.s-order-page .s-order-section > .s-section-body .wa-cart-body .wa-product .wa-product-body .wa-column-quantity .wa-quantity-cart-section input {
  width: 4em;
  text-align: center;
}
.s-order-page .s-order-section > .s-section-body .wa-cart-body .wa-product .wa-product-body .wa-column-quantity .wa-product-fractional-prices {
  margin-right: 0;
  text-align: center;
}
.s-order-page .s-order-section > .s-section-body .wa-cart-body .wa-product .wa-product-body .wa-column-quantity .price {
  font-weight: 400 !important;
  color: var(--gray4) !important;
  font-size: 13px;
  line-height: 1;
}
.s-order-page .s-order-section > .s-section-body .wa-cart-body .wa-product .wa-product-body .wa-column-price {
  width: 90px;
}
.s-order-page .s-order-section > .s-section-body .wa-cart-body .wa-product .wa-product-body .wa-column-price .wa-price-total {
  font-weight: 600;
  color: var(--black-auto);
  white-space: nowrap;
}
.s-order-page .s-order-section > .s-section-body .wa-cart-body select {
  background-repeat: no-repeat !important;
  border: 1px solid var(--input-border-color) !important;
  border-radius: var(--element-border-radius) !important;
  vertical-align: middle;
  padding: 0.6rem 2.25rem 0.6rem 0.75rem !important;
  font-weight: 400;
  line-height: 1.5;
  background-image: var(--chevron-svg) !important;
  background-position: right 0.525em center !important;
  background-size: 16px !important;
  font-size: 13px;
}
.s-order-page .s-order-section > .s-section-body .wa-cart-body select + .s-icon {
  display: none;
}
.s-order-page .s-order-section > .s-section-body .wa-cart-body .wa-cart-details {
  border-top: 2px solid var(--divider-color);
  margin-top: 18px;
  padding-top: 32px;
}
.s-order-page .s-order-section > .s-section-body .wa-cart-body .wa-cart-details .wa-button {
  font-weight: normal;
  color: var(--link-color);
}
.s-order-page .s-order-section > .s-section-body .wa-cart-body .wa-cart-details .wa-affiliate-section {
  margin-top: 16px;
}
.s-order-page .s-order-section > .s-section-body .wa-cart-body .wa-cart-details .wa-affiliate-section .wa-order-bonus {
  color: var(--gray4);
}
.s-order-page .s-order-section > .s-section-body .wa-cart-body .wa-cart-details .wa-price-discount {
  color: var(--gray4);
}
.s-order-page .s-order-section > .s-section-body .wa-cart-body .wa-cart-details .wa-price-total {
  color: var(--black-auto);
}
.s-order-page .s-order-section > .s-section-body .wa-cart-body .wa-cart-details .wa-weight-section {
  color: var(--gray4);
  line-height: 150%;
}
.s-order-page .s-order-section > .s-section-body .wa-cart-body .wa-cart-details .wa-coupon-section .wa-input {
  font-size: 1em;
  padding: 0.392em 0.57em;
  border: 1px solid var(--input-border-color);
  background-color: transparent;
}
.s-order-page .s-order-section > .s-section-body .wa-cart-body .wa-cart-details .wa-coupon-section .wa-inactive-state .wa-button {
  font-size: 1em;
  padding: 0.392em 0.857em;
}
.s-order-page .s-order-section > .s-section-body .wa-cart-body .wa-cart-details .wa-coupon-section .wa-inactive-state .wa-button.gray {
  color: var(--text-color);
  background-color: var(--bg_tr_10);
}
.s-order-page .s-order-section > .s-section-body .wa-cart-body .wa-cart-details .wa-coupon-section .wa-inactive-state .wa-button.gray:hover {
  color: var(--text-color-secondary);
}
.s-order-page .s-order-section > .s-section-body .wa-cart-body .wa-cart-details .wa-coupon-section .wa-active-state .wa-button {
  font-size: 1em;
  color: var(--white);
}
.s-order-page .s-order-section > .s-section-body .wa-cart-body .wa-cart-details .wa-affiliate-section .wa-bonus-details .wa-active-state .wa-text {
  margin-right: 8px;
}
.s-order-page .s-order-section > .s-section-body .wa-cart-body .wa-cart-details .wa-affiliate-section .wa-bonus-details .wa-inactive-state .wa-button {
  font-size: 1em;
  padding: 0.392em 0.857em;
}
.s-order-page .s-order-section > .s-section-body .wa-cart-body .wa-cart-details .wa-affiliate-section .wa-bonus-details .wa-inactive-state .wa-button.gray {
  color: var(--text-color);
  background-color: var(--bg_tr_10);
}
.s-order-page .s-order-section > .s-section-body .wa-cart-body .wa-cart-details .wa-affiliate-section .wa-bonus-details .wa-inactive-state .wa-button.gray:hover {
  color: var(--text-color-secondary);
}
.s-order-page .s-order-section > .s-section-body .wa-cart-body .wa-cart-details .wa-affiliate-section .wa-bonus-details .wa-active-state .wa-button {
  font-size: 1em;
  color: var(--white);
}
.s-section-footer {
  padding: 32px 10px 17px 20px;
}
.wa-order-cross_selling-wrapper .wa-product-wrapper .wa-actions-wrapper .wa-button {
  padding-top: 4px;
  padding-bottom: 4px;
}
.wa-order-form-wrapper, .wa-order-cart-wrapper { font-size: 0.875em !important; }
.wa-order-form-wrapper .wa-step-shipping-section .wa-delivery-variants-section .wa-delivery-variant .wa-date {
  opacity: 0.75;
}
.wa-order-form-wrapper .wa-step-confirm-section .wa-section-body .s-message {
  color: var(--text-color) !important;
}
.wa-order-form-wrapper .wa-step-confirm-section .wa-section-body .wa-total-section .wa-item.wa-item-total .wa-name { color: var(--text-color) !important; }
.wa-order-form-wrapper.is-locked:after, .wa-order-cart-wrapper.is-locked:after { background-color: color-mix(in srgb, var(--bg-color-accent) 75%, transparent) !important; left: -2px !important; padding: 4px !important; }
.wa-order-cart-wrapper .wa-order-form-wrapper p:first-child {
  margin-top: 0;
}
.wa-order-cart-wrapper .wa-order-form-wrapper p:last-child {
  margin-bottom: 0;
}
.wa-order-cart-wrapper .wa-order-form-wrapper > .wa-cart-body,
.wa-order-cart-wrapper .wa-order-form-wrapper > .wa-form-body {
  background: var(--white);
  padding: 20px 20px 40px;
}
.wa-order-cart-wrapper .wa-order-form-wrapper > .wa-cart-footer,
.wa-order-cart-wrapper .wa-order-form-wrapper > .wa-form-footer {
  padding: 15px 20px;
  color: var(--gray3);
}
.wa-order-cart-wrapper .wa-order-form-wrapper > .wa-cart-footer a,
.wa-order-cart-wrapper .wa-order-form-wrapper > .wa-form-footer a {
  color: #999;
}
.wa-order-cart-wrapper .wa-order-form-wrapper .wa-field-wrapper:not(.is-agreement-field) .s-checkbox {
  font-size: 1.142857142857143rem;
  transform: translate(0, 0.15em);
}
.wa-order-cart-wrapper .wa-order-form-wrapper .wa-field-wrapper.is-agreement-field .s-checkbox input:checked + span {
  background: #949494;
}
.wa-order-cart-wrapper .wa-products .wa-product .wa-actions .wa-action:hover .wa-icon {
  background: var(--input-bg-color) !important;
}
.wa-order-cart-wrapper .wa-products .wa-product.is-out-of-stock::after {
  background-color: color-mix(in srgb, var(--bg-color-accent) 75%, transparent) !important;
}
body:not(:has(.wa-order-layout)) .wa-order-dialog .wa-dialog-background {
  background-color:  color-mix(in srgb, var(--bg-color) 75%, transparent) !important;
}
body:not(:has(.wa-order-layout)) .wa-order-dialog .wa-dialog-body {
  background: var(--bg-color) !important;
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.3), 0 10px 30px rgba(0, 0, 0, 0.2) !important;
  border: 1px solid var(--divider-color) !important;
  border-radius: var(--element-border-radius) !important;
}
body:not(:has(.wa-order-layout)) .wa-order-dialog .wa-dialog-body .wa-dialog-header {
  background: var(--bg-color-accent) !important;
  border-bottom: 1px solid var(--divider-color) !important;
  border-radius: var(--element-border-radius) var(--element-border-radius) 0 0 !important;
}
body:not(:has(.wa-order-layout)) .wa-order-dialog.wa-shipping-pickup-dialog .wa-content-section .wa-variants-section .wa-variants-list .wa-variant-wrapper:hover {
  background: var(--divider-color) !important;
}
body:not(:has(.wa-order-layout)) .wa-order-dialog.wa-shipping-pickup-dialog .wa-content-section .wa-variants-section .wa-variants-list .wa-variant-wrapper .wa-details .wa-price {
  color: var(--text-color) !important;
}
.wa-field-wrapper.size-mini {
  width: 7em !important;
}
.wa-tooltip:not(.custom):after {
  background: var(--black-auto) !important;
  border-radius: var(--element-border-radius) !important;
}
.wa-tooltip:not(.custom):before {
  border-bottom-color: var(--black-auto) !important;
}
.wa-dropdown > .wa-dropdown-area {
  background: var(--white-auto) !important;
}
.wa-dropdown > .wa-dropdown-area > .wa-dropdown-item:hover {
  background: var(--input-bg-color) !important;
}
.wa-dropdown > .wa-dropdown-area:hover {
  border-color: #efefef !important;
}
body:has(.wa-order-layout) {
  color: #000;
}
.wa-order-layout .wa-dropdown > .wa-dropdown-area {
  background: #fff !important;
}
.s-order-page .s-order-section > .s-section-body .wa-form-body .wa-name {
  color: var(--gray1);
}
.wa-order-layout .s-order-page .s-order-section > .s-section-header > .s-header {
  color: #444;
}
.wa-order-layout > .wa-order-header .wa-phone-section .wa-phone a {
  color: var(--header-link-color) !important;
}
.wa-order-layout > .wa-order-header .wa-logo-section .wa-description {
  color: #aaa !important;
}
.wa-order-layout > .wa-order-header .wa-shop-details-section {
  color: #828282 !important;
}
.wa-order-layout .s-order-page .s-order-section > .s-section-body .wa-cart-body .wa-cart-details .wa-affiliate-section .wa-bonus-details .wa-inactive-state .wa-button.gray:hover {
    color: var(--gray2);
}
.wa-order-layout .wa-order-cart-wrapper .wa-cart-details .wa-affiliate-section .wa-bonus-details .wa-details {
  color: var(--gray4);
}
.wa-order-layout .wa-order-form-wrapper .wa-step-confirm-section .wa-section-body .wa-total-section .wa-item.wa-item-total .wa-name {
  color: var(--gray1) !important;
}
.wa-order-layout .s-order-page .s-order-section > .s-section-body .wa-form-body .wa-step-shipping-section .wa-delivery-types-section .wa-types-list .wa-type-wrapper {
  background: #fcfcfc;
}
.wa-order-form-wrapper.with-adaptive .wa-step-shipping-section .wa-delivery-types-section .wa-types-list .wa-type-wrapper {
  margin-left: 0 !important;
}
.wa-order-form-wrapper .wa-step-details-section .wa-plugin-fields-wrapper > .wa-body input[type="text"]:not(.wa-input), .wa-order-form-wrapper .wa-step-details-section .wa-plugin-fields-wrapper > .wa-body textarea:not(.wa-textarea) {
  border: revert-layer !important;
  transition: revert-layer !important;
  outline: revert-layer !important;
}
.wa-order-form-wrapper .wa-step-details-section .wa-plugin-fields-wrapper > .wa-body input[type="text"]:not(.wa-input) {
  display: revert-layer !important;
  vertical-align: revert-layer !important;
  max-width: revert-layer !important;
  padding: revert-layer !important;
  box-sizing: revert-layer !important;
  font-size: revert-layer !important;
  line-height: revert-layer !important;
}
.wa-order-form-wrapper .wa-form-footer .wa-line {
  margin-top: 1.5em !important;
}
@media screen and (min-width: 841px) {
.s-order-page {
display: table;
width: 100%;
table-layout: fixed;
}
.s-order-page > .s-order-column {
display: table-cell;
vertical-align: top;
padding: 0 13px;
}
.s-order-page > .s-order-column:first-of-type {
padding-left: 0;
}
.s-order-page > .s-order-column:last-of-type {
padding-right: 0;
}
.wa-order-form-wrapper .wa-form-footer {
font-size: 14px;
line-height: 1.214285714285714em;
text-align: right;
}
}
@media screen and (max-width: 840px) {
.s-order-page > .s-order-column {
margin-top: 40px;
}
.s-order-page > .s-order-column:first-child {
margin-top: 0;
}
}
@media screen and (max-width: 768px) {
.s-order-section > .s-section-header {
margin-bottom: 1.25rem !important;
}
.s-order-section .s-delete-button {
width: 43%;
line-height: 14px;
text-align: right;
}
.s-order-page .wa-dropdown.is-opened > .wa-dropdown-area {
max-height: 300px;
z-index: 998;
}
}
.wa-field-date input.datetime {
  background-color: transparent;
  line-height: 1.5;
  padding: 0.6rem 0.75rem;
}
