{include file="./pickup.functions.include.html" inline}
<div id="js-pickup-dialog" class="pickup-dialog" style="opacity: 0;">
    <div class="pickup-dialog-wrapper">
        <div class="pickup-dialog-body">
            <div class="pickup-dialog-left">
                <div class="pickup-map-wrapper" id="wa-pickup-map"></div>
            </div>
            <div class="pickup-dialog-right">
                <div class="pickup-dialog-right-content">
                    {_step_1_pickup_list}
                    {_step_2_selected_pickup}
                    {_step_3_customer}
                </div>
            </div>
        </div>
    </div>
</div>

{$_map = [ "adapter" => null, "api_uri" => null ]}
{if !empty($map.adapter)}
    {$_map["adapter"] = $map.adapter}

    {if $map.adapter === "yandex"}
        {$_api_uri = "//api-maps.yandex.ru/2.1/?lang=ru_RU&load=Geolink,Map,Placemark,Clusterer,Collection,geoObject.addon.balloon,control.FullscreenControl,control.GeolocationControl,control.SearchControl,control.ZoomControl"}
        {if !empty($map.api_key)}
            {$_api_uri = "`$_api_uri`&apikey=`$map.api_key`"}
        {/if}
        {$_map["api_uri"] = $_api_uri}
    {/if}

    {if $map.adapter === "google"}
        {$_api_uri = "//maps.googleapis.com/maps/api/js"}
        {if !empty($map.api_key)}
            {$_api_uri = "`$_api_uri`?key=`$map.api_key`"}
        {/if}
        {$_map["api_uri"] = $_api_uri}
    {/if}
{/if}
<script>
(function() { "use-strict";
    loadSources([
        {
            id: "pickup-css",
            type: "css",
            uri: "{$wa_app_static_url}css/frontend/channels/pickup.css?v={$wa->version()}"
        },
        {
            id: "product-pickup-js",
            type: "js",
            uri: "{$wa_app_static_url}js/frontend/product-pickup.js?v={$wa->version()}"
        }
    ]).then(() => {
        $.loadSource = loadSources;

        new ProductPickup({
            $wrapper: $('#js-pickup-dialog'),
            wa_app_url: {$wa_app_url|json_encode},
            product_id: {$product.id|json_encode},
            sku_id: {$selected_sku_id|json_encode},
            map: {$_map|json_encode},
            pickup_list: {$available_pickup|json_encode},
            templates: {
                order_confirmation: {_order_confirmation|json_encode}
            }
        });
    });

    function loadSources (sources) {
        var deferred = $.Deferred();

        loader(sources).then( function() {
            deferred.resolve();
        }, function(bad_sources) {
            if (console && console.error) {
                console.error("Error loading resource", bad_sources);
            }
            deferred.reject(bad_sources);
        });

        return deferred.promise();

        function loader(sources) {
            var deferred = $.Deferred(),
                counter = sources.length;

            var bad_sources = [];

            $.each(sources, function(i, source) {
                switch (source.type) {
                    case "css":
                        loadCSS(source).then(onLoad, onError);
                        break;
                    case "js":
                        loadJS(source).then(onLoad, onError);
                        break;
                }
            });

            return deferred.promise();

            function loadCSS(source) {
                var deferred = $.Deferred(),
                    promise = deferred.promise();

                var $link = $("#" + source.id);
                if ($link.length) {
                    promise = $link.data("promise");

                } else {
                    $link = $("<link />", {
                        id: source.id,
                        rel: "stylesheet"
                    }).appendTo("head")
                        .data("promise", promise);

                    $link
                        .on("load", function() {
                            deferred.resolve(source);
                        }).on("error", function() {
                        deferred.reject(source);
                    });

                    $link.attr("href", source.uri);
                }

                return promise;
            }

            function loadJS(source) {
                var deferred = $.Deferred(),
                    promise = deferred.promise();

                var $script = $("#" + source.id);
                if ($script.length) {
                    promise = $script.data("promise");

                } else {
                    var script = document.createElement("script");
                    document.getElementsByTagName("head")[0].appendChild(script);

                    $script = $(script)
                        .attr("id", source.id)
                        .data("promise", promise);

                    $script
                        .on("load", function() {
                            deferred.resolve(source);
                        }).on("error", function() {
                        deferred.reject(source);
                    });

                    $script.attr("src", source.uri);
                }

                return promise;
            }

            function onLoad(source) {
                counter -= 1;
                watcher();
            }

            function onError(source) {
                bad_sources.push(source);
                counter -= 1;
                watcher();
            }

            function watcher() {
                if (counter === 0) {
                    if (!bad_sources.length) {
                        deferred.resolve();
                    } else {
                        deferred.reject(bad_sources);
                    }
                }
            }
        }
    };
})();
</script>
