<h1>[`QR order`]</h1>

<p><em>[`Coming soon in premium.`]</em></p>

<div class="box contentbox blank rounded">
    <p class="small italic">
        [`Easily generate QR code images leading to your products. Print and promote to your customers offline.`]
        [`Scanning a code will lead a client to your store giving them an easy way to shop.`]
        [`When a code is scanned, and an order is placed, the order is then marked with an arbitrary QR code identifier of your choice; e.g., ‘table number’, ‘ad media campaign’, etc.`]
        [`Great for QR electronic menus, print ad media.`]
    </p>
</div>
