<h1>[`Embed your store in any site`]</h1>

<p><em>[`Coming soon.`]</em></p>

<div class="box contentbox blank rounded">
    <p class="small italic">
        [`A universal JavaScript widget for embedding an online store & shopping flow in any website.`]
    </p>
    <p class="small italic">
        [`Embed either as an inline dedicated section within the existing site layout or as a “Shop now” button that opens up a blurred background with an &lt;iframe&gt; focusing a customer’s attention on the full-screen shopping experience without making them leave your site.`]
    </p>
</div>
