{if !empty($result.attempted)}

{*
 * Action is performed: hide dialog and modify products in the list
 *}
<script>(function() { "use strict";

    var status_change = {json_encode($status_change)};
    var access_denied_count = {json_encode(count($result.denied))};
    var changed_ids = {json_encode(array_fill_keys($result.successfull, 1))};
    var access_denied_msg = "[`Unable to update some of the products (%d) because you have insufficient access rights.`]";

    // Update items in the list for successfully changed products
    $('#product-list .product').each(function() {
        var $li = $(this); // <li> or <tr>, actually
        if (changed_ids[$li.data('product-id')]) {
            if (status_change) {
                $li.removeClass('gray');
            } else {
                $li.addClass('gray');
            }
        }
    });

    // Notify user if some of the products were not changed
    if (access_denied_count > 0) {
        alert(access_denied_msg.replace('%d', access_denied_count));
    }

    // remove the dialog
    $('#visibility-dialog-wrapper').empty();

    // Deselect products
    $.product_list.container.find('.s-select-all:first').trigger('select', false);

})();</script>

{else}

{*
 * Show dialog
 *}

<div class="hidden dialog width500px height200px">
    <div class="dialog-background"></div>
    <form method="post" action="?module=dialog&action=visibility">
        <div class="dialog-window">
            <div class="dialog-content">
                <div class="dialog-content-indent">
                    <h1>
                        [`Change product visibility`]
                        <span class="hidden gray products-count"></span>
                    </h1>

                    <p>
                        <label>
                            <input type="radio" name="status" value="1" checked>
                            [`Visible on website`]
                        </label>
                        <br>
                        <label>
                            <input type="radio" name="status" value="0">
                            [`Hidden`]
                        </label>
                    </p>

                    <p><label>
                        <input type="checkbox" name="update_skus" value="1">
                        <span class="hidden status-off-label">[`Temporarily remove all SKUs from sale too`]</span>
                        <span class="status-on-label">[`Set all selected product SKUs as available for purchase too`]</span>
                    </label></p>
                </div>
            </div>
            <div class="dialog-buttons">
                <div class="dialog-buttons-gradient">
                    <input type="submit" value="[`Apply`]" class="button green">
                    [`or`] <a class="cancel" href="#">[`cancel`]</a>
                </div>
            </div>
            {$wa->csrf()}
        </div>
    </form>
</div>
<script>(function() { "use strict";
    var $wrapper = $('#visibility-dialog-wrapper');
    var $form = $wrapper.find('form');

    // Initialize dialog
    $wrapper.find('h1 .products-count').html('('+($('#visibility-dialog-wrapper').data('products').count||'?')+')').show();
    $wrapper.children('.dialog').removeClass('hidden').waDialog({
        disableButtonsOnSubmit: true,
        onSubmit: function ($dialog) {
            $.post($form.attr('action'), $wrapper.data('products').serialized.concat($form.serializeArray()), function(result) {
                $wrapper.html(result);
            });
            return false;
        }
    });

    // Change checkbox label depending on radio status
    var $checkbox = $form.find('[name="update_skus"]');
    var $radios = $form.find('[name="status"]');
    $radios.on('change', function() {
        if ($radios.filter(':checked').val() == '1') {
            $checkbox.siblings('span').hide().filter('.status-on-label').show();
        } else {
            $checkbox.siblings('span').hide().filter('.status-off-label').show();
        }
    });
})();</script>

{/if}