<div class="dialog width400px height200px" id="s-product-list-delete-products-dialog" data-not-allowed-string="[`Unable to delete some of the products (%d) because you have insufficient access rights.`]">
    <div class="dialog-background"></div>
    <form method="post" action="">
    <div class="dialog-window">
        <div class="dialog-content">
            <div class="dialog-content-indent">
                <h1>[`Delete`]</h1>
                <p>
                    <strong class="red">{_w('%d product will be deleted without the ability to restore.', '%d products will be deleted without the ability to restore.', $count)}</strong>
                    [`After you delete a product, all it’s sales reports, cross-selling data, and connections to the orders made in the past will be impossible to restore.`]
                </p>
            </div>
        </div>
        <div class="dialog-buttons">
            <div class="dialog-buttons-gradient">
                {$wa->csrf()}
                <input class="button red" type="submit" value="[`Delete`]">
                <i class="icon16 loading"></i> 
                [`or`] <a class="cancel" href="javascript:void(0);">[`cancel`]</a>
            </div>
        </div>
    </div>
    </form>
</div>