.s-orders-widget {
  font-size: 14px;
  padding: 3.73px 0;
  height: 100%;
  box-sizing: border-box;
}
.s-orders-widget ul.menu {
  margin-top: 0;
  font-size: 1em;
}
.s-orders-widget li {
  padding: 0;
  position: relative;
}
.s-orders-widget li:hover span {
  color: var(--red) !important;
}
.s-orders-widget li a {
  margin: 0;
  padding: 0.59em 0.75em;
}
.s-orders-widget li a span.s-icon svg {
  font-size: 0.75rem;
}
.s-orders-widget li a .s-amount {
  font-weight: 500;
  font-size: 13px;
  line-height: 120%;
  color: #444 !important;
}
.s-orders-widget li a .s-amount > * {
  color: inherit !important;
}
.s-orders-widget li a .s-name {
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  color: #777;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.s-orders-widget li a .red {
  color: #ff3115;
}
.s-orders-widget li.s-processing a {
  font-weight: 700;
  font-size: 14px;
  line-height: 120%;
}
.s-orders-widget li.s-processing a .heading {
  margin: 0;
  color: #aaa;
}
.s-orders-widget li.s-processing a .s-amount,
.s-orders-widget li.s-processing a .s-count {
  font-weight: 700;
  color: var(--text-color-strongest) !important;
}
.s-orders-widget li.s-processing a .s-amount > *,
.s-orders-widget li.s-processing a .s-count > * {
  color: inherit !important;
}
.s-orders-widget .s-count {
  display: none;
}
.widget-2x2 .s-orders-widget:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 28px;
  left: 0;
  bottom: 0;
  background: linear-gradient(180deg, rgba(255,255,255,0) 0%, #fff 69.18%);
}
[data-theme="dark"] .widget-2x2 .s-orders-widget::after {
  background: linear-gradient(180deg, rgba(8,4,29,0) 0%, #08041d 69.18%);
}
.widget-1x1 .s-orders-widget .s-name {
  font-size: 0.75rem;
}
.widget-1x1 .s-orders-widget .s-amount {
  display: none;
}
.widget-1x1 .s-orders-widget .s-count {
  display: inline;
}
.tv .s-orders-widget,
.mobile .s-orders-widget {
  font-size: 1rem;
}
.tv .s-orders-widget .s-amount,
.tv .s-orders-widget .s-count {
  color: var(--text-color-link) !important;
}
