<div class="block double-padded">
    <h1>[`Promos`]</h1>

    <div class="s-alert">
        <a href="#" class="s-alert-close">&times;</a>
        [`Promos is an efficient and super easy way to display your custom offers and specials on your online store homepage. Every promo card has a picture, a title, and a custom link.`]
        <br><br>
        <i class="icon10 exclamation"></i> <em>{sprintf('[`If you don’t see promos on your storefront homepage, you might be using an outdated version of the design theme (home.html template file). Please <a href="%s" target="_blank">follow this guide</a> to embed this new Shop-Script 6 feature to your online store.`]','[`https://www.shop-script.com/help/3069/adding-promo-cards-to-shop-script-5-design-theme/`]')}</em>
    </div>

    <ul class="menu-h">
        <li>[`Storefront`]:</li>
        {foreach $storefronts as $s}
            <li data-storefront="{$s.storefront|escape}"{if $s.storefront == $storefront.storefront} class="selected"{/if}>
                <a href="#/promos/storefront={$s.storefront|escape}">{$s.name|escape} <span class="hint">{$s.count}</span></a>
            </li>
        {/foreach}
    </ul>

    <ul class="s-promos-list" id="s-promos-list">
        {foreach $promos as $p}
            <li class="s-promo" data-promo-id="{$p.id}">
                <div class="s-promo-image" style="background-image: url('{$p.image_url}');"></div>
                <div class="s-promo-summary">
                    <h5{if empty($p.title)} class="gray"{/if}>{$p.title|escape|default:'(no title)'|truncate:55}</h5>
                    <p class="small">{$p.body|escape|truncate:90}</p>
                </div>
            </li>
        {/foreach}
        <li class="new-promo-placeholder">
            <div class="s-promo-dummy">
                <h5><i class="icon16 add"></i>[`New promo`]</h5>
            </div>
        </li>
    </ul>
</div>

<div id="promo-editor-dialog"></div>

<script>$(function() { "use strict";
    var promos_count = "{$promos_count}";
    var storefront = {json_encode($storefront.storefront)};
    var $ul = $('#s-promos-list');

    // Highlight link in sidebar
    $('#s-sidebar .selected').removeClass('selected');
    $('#s-sidebar .s-promo-list').closest('li').addClass('selected').find('.count').text(promos_count);

    // one-time help block
    (function() { "use strict";
        var $alert_block = $ul.parent().find('.s-alert:first');
        if ($.storage.get('shop/promos_alert_hidden')) {
            $alert_block.hide();
        } else {
            $alert_block.show();
            $alert_block.find('.s-alert-close').click(function() {
                $alert_block.hide();
                $.storage.set('shop/promos_alert_hidden', 1);
            });
        }
    })();

    // Dialog to create new promo
    $ul.children('.new-promo-placeholder').click(function() {
        showEditor('');
        return false;
    });

    // Dialog to edit existing promo
    $ul.on('click', '> .s-promo', function() {
        showEditor($(this).data('promo-id'));
        return false;
    });

    // Drag-and-drop promos to reorder them
    $ul.sortable({
        distance: 5,
        helper: 'clone',
        items: '> li[data-promo-id]',
        opacity: 0.75,
        tolerance: 'pointer',
        update: function (event, ui) {
            var ids = $ul.children('li[data-promo-id]').map(function() {
                return $(this).data('promo-id');
            }).get();
            $.post('?module=promos&action=sort', { ids: ids, storefront: storefront });
        }
    });

    function showEditor(id) {
        var $d = $('#promo-editor-dialog');
        $d.find('.dialog-buttons-gradient').empty();
        $d.find('.dialog-content-indent').html('<i class="icon16 loading"></i>');
        $d.waDialog({
            url: '?module=promos&action=editor&id='+id
        });
    }

});</script>