.customers-oneline-widget-wrapper :where(h1,
.customers-oneline-widget-wrapper h2,
.customers-oneline-widget-wrapper h3) {
  margin: 0;
  line-height: 1.2em;
}
.customers-oneline-widget-wrapper .heading {
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.customers-oneline-widget-wrapper .graph-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 35%;
  overflow: hidden;
}
.customers-oneline-widget-wrapper .graph-wrapper svg {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  fill: rgba(0,0,0,0.1);
  border-radius: 0 0 3px 3px;
}
.customers-oneline-widget-wrapper .graph-wrapper svg path {
  fill: #f0f0f0;
  stroke-width: 0;
  shape-rendering: auto;
}
.customers-oneline-widget-wrapper .graph-wrapper svg .area {
  fill: #cbedd1;
}
.customers-oneline-widget-wrapper .graph-wrapper svg .line {
  stroke-width: 3px;
  stroke: #4d7ab3;
  fill: none;
}
.customers-oneline-widget-wrapper .graph-wrapper svg .chart-1 .line {
  stroke: #4d7ab3;
}
.customers-oneline-widget-wrapper .text-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.customers-oneline-widget-wrapper .text-wrapper .s-customer-count {
  color: #4d7ab3;
  margin-bottom: 0 !important;
}
.customers-oneline-widget-wrapper .text-wrapper .s-customer-count-new {
  color: #8ab;
}
.widget-1x1 .customers-oneline-widget-wrapper .text-wrapper {
  padding: 0.5rem;
}
.widget-2x1 .customers-oneline-widget-wrapper .text-wrapper {
  padding: 0.75rem;
}
.widget-2x2 .customers-oneline-widget-wrapper .text-wrapper {
  padding: 0.75rem;
}
.tv .customers-oneline-widget-wrapper .graph-wrapper svg .chart-1 .line {
  stroke: #7be;
}
.tv .customers-oneline-widget-wrapper .text-wrapper .s-customer-count {
  color: #7be;
}
