<div class="not-blank skeleton hidden js-action-add js-action-searchform js-sidebar-hide">
    <div class="article wider">
        <div class="article-body">
            <div class="flexbox wrap space-12">
                <div class="skeleton-custom-circle mr-auto" style="width: 2.5rem;height: 2.5rem"></div>
                <div class="skeleton-header" style="width: 25%"></div>
            </div>
            <div class="skeleton-custom-box width-100" style="height: 70vh"></div>
            <div class="skeleton-header" style="width: 10%"></div>
        </div>
    </div>
</div>
