<div class="not-blank skeleton hidden js-action-all js-action-default js-action-referrals js-action-search">
    <div class="flexbox wrap-mobile">
        <div class="sidebar blank width-20rem wide-mobile ahead-little overflow-visible box">
            <span class="skeleton-line custom-mt-4 custom-mb-24" style="height: 30px;border-radius: 5px;"></span>
            {for $i=1 to 14}
                <span class="skeleton-list"></span>
            {/for}
        </div>
        <div class="article wider">
            <div class="article-body custom-pt-24">
                <div class="flexbox space-16 wrap-mobile">
                    <div class="content">
                        <div class="flexbox wrap space-12">
                            <div class="skeleton-header" style="width: 25%;margin-bottom: 1rem;"></div>
                            <div class="wide">
                                <div class="skeleton-custom-circle custom-mr-auto" style="width: 2.5rem;height: 2.5rem"></div>
                            </div>
                        </div>
                        <span class="custom-ml-auto skeleton-header" style="width: 10%;display: inline-block;margin-right: 1rem;margin-bottom: 3rem;"></span>
                        <span class=" custom-ml-auto skeleton-header" style="width: 18%;display: inline-block;margin-right: 1rem;margin-bottom: 3rem;"></span>
                        {for $i=1 to 7}
                            <div class="flexbox">
                                <div class="skeleton-custom-circle custom-mr-16" style="width: 4rem;height: 4rem"></div>
                                <div class="skeleton-custom-box width-100" style="height: 4rem"></div>
                            </div>
                        {/for}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
