<div class="not-blank skeleton hidden js-action-id js-sidebar-hide">
    <div class="article wider">
        <div class="article-body custom-pt-24" style="min-height:calc(100vh - 4rem);">
            <div class="flexbox wrap space-12">
                <div class="skeleton-custom-circle mr-auto" style="width: 2rem;height: 2rem"></div>
                <div class="skeleton-header custom-mb-16" style="width: 20%;height: 2rem;"></div>
                <div class="skeleton-header custom-ml-auto" style="width: 14%;height: 2rem;"></div>
                <div class="skeleton-custom-circle mr-auto" style="width: 2rem;height: 2rem"></div>
            </div>
            <div class="skeleton-custom-box width-100" style="height: 4rem"></div>

            <div class="flexbox space-16 wrap-mobile custom-mt-32">
                <div style="width:70%">
                    <div class="flexbox">
                        <div class="skeleton-custom-circle custom-mr-16" style="min-width: 6rem;min-height: 6rem;"></div>
                        <div class="skeleton-custom-box" style="height: 6rem;"></div>
                    </div>
                    <div class="skeleton-custom-box width-100 custom-mt-32" style="height: calc(100vh - 30rem);border-radius: 1rem;"></div>

                </div>
                <div style="width:30%">
                    {for $i=1 to 5}
                        <span class="skeleton-line"></span>
                    {/for}
                </div>
            </div>
        </div>
    </div>
</div>
