<div class="blank skeleton hidden js-action-all js-action-default js-action-referrals js-action-search">
    <div class="flexbox wrap-mobile">
        <div class="sidebar flexbox blank width-adaptive-wider bordered-right wide-mobile ahead-little overflow-visible box">
            <span class="skeleton-line custom-my-16" style="height: 30px;border-radius: 5px;"></span>
            {for $i=1 to 14}
                <span class="skeleton-list"></span>
            {/for}
        </div>
        <div class="article wider">
            <div class="article-body custom-pt-24">
                <div class="flexbox space-16 wrap-mobile">
                    <div class="content">
                        <div class="flexbox wrap space-12">
                            <div class="skeleton-header" style="width: 25%"></div>
                            <div class="wide">
                                <div class="skeleton-custom-circle mr-auto" style="width: 2.5rem;height: 2.5rem"></div>
                            </div>
                            <div class="align-right ml-auto skeleton-header" style="width: 10%"></div>
                        </div>
                        {for $i=1 to 7}
                            <div class="skeleton-custom-box width-100" style="height: 4rem"></div>
                        {/for}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
