<style>
    .s-tiny-ad-box { background: #132 url('{$wa_app_static_url}img/ss-chrty.jpg'); background-size: cover; background-position: center; color: #fff; text-align: center; padding: 8px; }
    .s-tiny-ad-box p { text-shadow: 0 1px 2px #000; font-size: 500; margin: 20px 28px 196px; }
    .s-tiny-ad-box p a { color: #fe7; }
    .s-tiny-ad-box .s-tiny-ad-close { color: #fff; top: 1px; right: 8px; }
</style>

{$href = $wa_app_url|cat:'products/'}
{if $wa->whichUI() == '1.3'}
<script>
    function redirectToNewUI() {
        $.wa.switchToNewUI();
        window.location = '{$href}';
    }
</script>
{$href = 'javascript:redirectToNewUI()'}
{/if}

<p class="small">
    [`Improve any product photo in seconds with built-in AI photo generator.`]
    <a href="{$href}" class="nowrap"><b>[`Select products`] &rsaquo;</b></a>
</p>
