<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{$wa->appName()}{if !empty($order)} &mdash; {$wa->shop->orderId($order.id)}{/if}</title>

    {* CSS *}
    {$wa->css()}
    <link href="{$wa_app_static_url}css/shop.css?v{$wa->version()}" rel="stylesheet" type="text/css" />

    {* JS *}
    <script src="{$wa_url}wa-content/js/jquery/jquery-1.11.1.min.js"></script>
    <script src="{$wa_url}wa-content/js/jquery/jquery-migrate-1.2.1.min.js"></script>
    <style type="text/css">
        html, body { background: #fff !important; }
        .s-printable {  overflow-x: visible; overflow-y: visible; }
        .s-printable .s-order { box-shadow: none; }
        .s-printable .s-order .s-order-aux .js-printable-docs,
        .s-printable .s-order .s-order-aux ul,
        .s-printable .s-order .s-order-aux p,
        .s-printable .s-order .s-order-actions,
        .s-printable .s-order .workflow-actions,
        .s-printable .s-order .workflow-content,
        .s-printable .s-order .s-order-timeline,
        .s-printable .s-order h1 .back,
        .s-printable .s-order h1 .hint,
        .s-printable .s-order .map > a { display: none; }
        .s-printable .s-order h1 .hint.s-print-only { display: inline !important; }
        .s-printable .s-order .s-printable-print-button { display: block; }
        .s-printable .s-order .s-order-comment { background: #fff; border: 1px dashed #aaa; margin: 20px 0; }
        .s-printable .workflow-actions,
        .s-printable .workflow-content { display: none !important; }
        .s-printable .s-order .details h5 { margin-bottom: 0.25rem; }
        .s-printable .s-order .details h5 a { font-weight: bold; }
        .s-printable .s-order .details .list { margin: 0rem; }
        .s-printable .s-order a { text-decoration: none; color: #000; font-weight: 500; }
        .s-printable .s-order .s-overhanging-plus { min-height: 0; font-size: inherit; }

        @media print {
            .s-printable .s-order .s-printable-print-button { display: none; }
            .s-printable .s-order a { text-decoration: none; color: #000; font-weight: 500; }
        }
    </style>
</head>
<body>
<div class="s-printable box contentbox blank">
    {if !empty($order)}
        <div class="s-order">
            <div class="s-split-order-wrapper">
                <div class="s-split-order-block flexbox">

                    {* CONTENT *}
                    <div class="s-split-order-content wide">

                        {* TITLE *}
                        <div class="flexbox full-width">
                            <h1 id="s-order-title">
                                {$wa->shop->orderId($order.id)}

                                {if $order.state}
                                    <span style="font-size: 18px; margin-left: 10px; position: relative; top: -2px; {$order.state->getStyle()}">
                                        <i class="{$wa->shop->convertIcon($order.state->getOption('icon'))}"></i><span class="custom-ml-4 custom-mr-12">{$order.state->getName()|escape}</span>
                                        {if $last_action_datetime}
                                            <em class="hint nowrap s-print-only">{$last_action_datetime|wa_datetime:'datetime'}</em>
                                        {/if}
                                    </span>
                                {else}
                                    [`Unknown state`]: {$order.state_id}
                                {/if}
                            </h1>
                            <div class="custom-mt-8">
                                {* BUTTON *}
                                <div class="custom-mb-24 s-printable-print-button align-center">
                                    <input type="button" value="[`Print`]" onClick="window.print();">
                                </div>

                                {* PAID BADGE *}
                                {if !empty($order.paid_date)}
                                    <div class="s-badge-payd rounded" title="{sprintf('[`Order was paid on %s`]', $order.paid_date|wa_date:'humandate')}"><i class="fas fa-check-circle text-green"></i><span class="custom-pl-4">[`Paid`]</span></div>
                                {elseif !empty($order.auth_date)}
                                    <div class="s-badge-payd rounded" title="{sprintf('[`Payment was authorized on %s`]', $order.auth_date|wa_date:'humandate')}"><i class="fas fa-check-circle text-green"></i><span class="custom-pl-4">[`Payment authorized`]</span></div>
                                {/if}
                            </div>
                        </div>

                        {* CUSTOMER INFO *}
                        <div class="profile flexbox space-16 custom-mt-4 custom-mb-12">
                            <div class="image">
                                {if $order.contact.id|default:'0'}
                                    <a href="?action=customers#/id/{$order.contact.id|default:'0'}">
                                        <img src="{$order_icon}" class="userpic userpic48" />
                                    </a>
                                {else}
                                    <img src="{$order_icon}" class="userpic userpic48" />
                                {/if}
                            </div>
                            <div class="details">
                                {$customers_rights = $wa->userRights('customers')}
                                <h5>
                                    {if $customers_rights && $order.contact.id|default:'0'}
                                        <a href="?action=customers#/id/{$order.contact.id|default:'0'}" {if !$order.contact.name} class="text-gray"{/if}>
                                            {$order.contact.name|default:'[`(no name)`]'}
                                        </a>
                                    {else}
                                        {$order.contact.name|default:'[`(no name)`]'}
                                        {if !$order.contact.id|default:'0'} <span class="hint">[`deleted`]</span>{/if}
                                    {/if}
                                    {if $order.contact.registered|default:false}
                                        <i class="fas fa-check-circle text-green" title="[`Registered customer`]"></i>
                                    {/if}
                                    {if !empty($customer)}
                                        {if $customer.number_of_orders == 1}
                                            <span class="hint">[`New customer`]</span>
                                        {else}
                                            <span class="hint">{_w('%d order', '%d orders', $customer.number_of_orders)}</span>
                                        {/if}
                                    {/if}
                                </h5>

                                <ul class="list">
                                    {if $main_contact_info}
                                        {foreach $main_contact_info as $top_field}
                                            {if !empty($top_field.all_values)}
                                                {foreach $top_field.all_values as $_value}
                                                    <li class="custom-py-4">
                                                        {if $top_field.id !== 'im'}
                                                        {$is_confirmed = true}
                                                            <i class="{$wa->shop->convertIcon($top_field.id)} text-gray" {if $_value.is_confirmed}title="[`Confirmed`]"{/if}></i>
                                                        {/if}
                                                        <span class="">{$_value.formatted}</span>
                                                        {if $_value.is_confirmed} <i class="fas fa-check-circle text-green small"></i>{/if}
                                                    </li>
                                                {/foreach}
                                            {/if}
                                        {/foreach}
                                    {/if}

                                    <!-- plugin hook: 'backend_order_print.info_section' -->
                                    {* @event backend_order_print.%plugin_id%.info_section *}
                                    {if !empty($backend_order_print)}
                                        {foreach $backend_order_print as $_}
                                            <li class="custom-py-4">{if (!empty($_.info_section))}{$_.info_section}{/if}</li>
                                        {/foreach}
                                    {/if}
                                </ul>
                            </div>
                            {* MAP *}
                            {if $shipping_address}
                                <div class="map custom-ml-auto" style="transform: scale(0.9);-webkit-transform: scale(0.9); margin: 0 -8px -10px 0;">{$map}</div>
                            {/if}
                        </div>

                        {* ORDER COMMENT *}
                        {if $order.comment}
                            <pre class="s-block s-order-comment">{$order.comment|escape}</pre>
                        {/if}

                        {$has_payment = !empty($params.payment_name)}
                        {$has_shipping = !empty($params.shipping_name)}
                        {$has_shipping_address = !empty($shipping_address)}
                        {if $has_shipping_address || $has_payment || $has_shipping}
                        <div class="flexbox space-8 break-word">
                            {* SHIPPING *}
                            <div class="bordered s-block width-{if $has_payment}50{else}100{/if}">
                            {if $has_shipping_address || $has_shipping}
                                <h6><span class="gray">[`Shipping`]{if $has_shipping} —{/if}</span> <strong>{ifset($params.shipping_name)}</strong></h6>
                                {if $shipping_address}
                                    <p class="s-order-address">
                                        {$shipping_address}
                                    </p>
                                    {if !empty($shipping_custom_fields)}
                                        <p class="s-order-shipping-custom-fields">
                                            {foreach $shipping_custom_fields as $f}
                                                {$f.title}: {$f.value|escape}<br>
                                            {/foreach}
                                        </p>
                                    {/if}
                                    {if $customer_delivery_date || $customer_delivery_date_str}
                                        <p class="s-order-customer-delivery-date{if !empty($shipping_date)} grey{/if}">
                                            [`Preferred shipping time:`]
                                            {if $customer_delivery_date}
                                                <span class="customer-delivery-date">{wa_date('date', $customer_delivery_date, waDateTime::getDefaultTimezone())|escape}</span>
                                            {elseif $customer_delivery_date_str}
                                                <span>{$customer_delivery_date_str|escape}</span>
                                            {/if}
                                            {if $customer_delivery_time}
                                                {if $customer_delivery_date}
                                                    &nbsp;
                                                {/if}
                                                <span class="customer-delivery-time-from">{$customer_delivery_time.from_hours|escape}:{$customer_delivery_time.from_minutes|escape}</span>
                                                -
                                                <span class="customer-delivery-time-to">{$customer_delivery_time.to_hours|escape}:{$customer_delivery_time.to_minutes|escape}</span>
                                            {/if}
                                        </p>
                                    {/if}

                                    {if !empty($courier)}
                                        <!-- Courier -->
                                        <h6>
                                            <span class="gray">[`Courier`] —</span> <a href="#/orders/{if isset($courier.enabled)}hash={'search/&params.courier_id='|urlencode|cat:$courier.id}{else}courier_contact_id={$courier.id}{/if}" class="bold highlighted">{$courier.name|escape}</a>
                                        </h6>
                                    {/if}

                                    {strip}
                                        {$edit_shipping_details_available = false}
                                        {if !empty($order.state)}
                                            {$available_actions = $order.state->getActions()}
                                            {$edit_shipping_details_available = !empty($available_actions.editshippingdetails)}
                                        {/if}
                                        {if $edit_shipping_details_available || !empty($shipping_date)}
                                            <p style="padding-left: 20px;">
                                                {if !empty($shipping_date)}
                                                    [`Shipping time`]: {wa_date('date', $shipping_date, waDateTime::getDefaultTimezone())|escape} {$shipping_time_start|escape} - {$shipping_time_end|escape}
                                                    {if !empty($order.state)}<br>{/if}
                                                {/if}
                                            </p>
                                        {/if}
                                    {/strip}
                                {/if}

                                <!-- shipping plugin output -->
                                {if !empty($params.tracking_number)}
                                    <h6>
                                        <span class="gray">[`Shipment tracking number`] —</span> <strong class="highlighted">{$params.tracking_number|escape}</strong>
                                    </h6>
                                {/if}
                                {if !empty($tracking) && $order.state_id != 'completed'}
                                    <blockquote class="plugin s-tracking">
                                        {$tracking}
                                    </blockquote>
                                {/if}
                            {/if}
                            </div>

                            {* PAYMENT *}
                            {if $has_payment}
                            <div class="bordered s-block width-50">

                                <h6 class="custom-mt-0"><span class="gray">[`Payment`] —</span> <strong>{$params.payment_name}</strong></h6>

                                {if !empty($order.paid_date)}
                                    <p class="small">{sprintf('[`Order was paid on %s`]', $order.paid_date|wa_date:'humandate')}</p>
                                {/if}

                                {if $billing_address !== null}
                                    <p class="s-order-address">{$billing_address}</p>
                                {/if}
                            </div>
                            {/if}
                        </div>
                        {/if}

                    </div>
                </div>

                {* ORDER CONTENT *}
                <table id="s-order-items" class="light s-order-readable">
                    {if $order.items}
                        <tr>
                            <th colspan="2"></th>
                            <th class="align-right">[`Qty`]</th>
                            <th class="align-right">[`Total`]</th>
                        </tr>

                        {$subtotal = 0}
                        {foreach $order.items as $item}
                            <tr data-id="{$item.id}" {if $item.type == 'service'} class="small"{/if}>
                                <td class="min-width valign-top">
                                    {if $item.type != 'service'}
                                        {if !empty($item.image_id)}
                                            {$wa->shop->productImgHtml(['id' => $item.product_id, 'image_id' => $item.image_id, 'image_filename' => $item.image_filename, 'ext' => $item.ext], '48x48')}
                                        {else}
                                            <img src="{$wa_app_static_url}img/image-dummy.svg" class="not-found" style="width: 48px; height: 48px;">
                                        {/if}
                                    {/if}
                                </td>
                                <td>
                                    {if $item.type == 'service'}<span class="gray s-overhanging-plus">+</span> {/if}
                                    <a href="{if $item.type=='product'}products/{$item.product_id}{else}?action=products#/services/{$item.service_id}{/if}/" target="_blank">{$item.name|escape|default:"[`(no name)`]"}</a>
                                    {if isset($item.sku_code)}
                                        <br><span class="hint">{$item.sku_code|escape}</span>
                                    {/if}

                                    {if !empty($item.stock)}
                                        <br><span class="small">@{$item.stock.name|escape}</span>
                                    {/if}
                                    {if !empty($item.stock_icon)}
                                        <br>{$item.stock_icon}
                                    {/if}
                                </td>
                                <td class="align-right nowrap" aria-label="[`Qty`]">
                                    <span class="gray large">&times;</span> <span class="semibold large">{$item.quantity}</span><br>
                                    <span class="gray small">{wa_currency_html($item.price, $order.currency)}</span>
                                    {if !empty($item.stock_unit)}
                                        <span class="s-unit">{$item.stock_unit.name_short|escape}</span>
                                    {/if}
                                </td>
                                <td class="align-right nowrap">{wa_currency_html($item.price * $item.quantity, $order.currency)}</td>
                            </tr>
                            {$subtotal = $subtotal + $item.price*$item.quantity}
                        {/foreach}
                        <tr class="no-border">
                            <td colspan="2"></td>
                            <td class="align-right"><br>[`Subtotal`]</td>
                            <td class="align-right nowrap"><br>{wa_currency_html($subtotal, $order.currency)}</td>
                        </tr>
                    {else}
                        <tr>
                            <td colspan="4" class="s-empty-order-note">[`Order content is unknown`]</td>
                        </tr>
                    {/if}
                    <tr class="no-border">
                        <td colspan="2"></td>
                        <td class="align-right">
                            [`Discount`]
                            {if !empty($order.coupon)}
                                <a href="{$wa_app_url}marketing/coupons/{$order.coupon.id|escape}/"><i class="icon16 ss coupon"></i><strong>{$order.coupon.code|escape}</strong></a>
                            {/if}
                        </td>
                        <td class="align-right nowrap">&minus; {wa_currency_html($order.discount, $order.currency)}</td>
                    </tr>
                    {if isset($params.shipping_name) || $order.shipping > 0}
                        <tr class="no-border">
                            <td colspan="2"></td>
                            <td class="align-right">[`Shipping`]</td>
                            <td class="align-right nowrap">{wa_currency_html($order.shipping, $order.currency)}</td>
                        </tr>
                    {/if}
                    <tr class="no-border">
                        <td colspan="2"></td>
                        <td class="align-right">[`Tax`]</td>
                        <td class="align-right nowrap">{wa_currency_html($order.tax, $order.currency)}</td>
                    </tr>
                    <tr class="no-border bold large" style="font-size: 150%;">
                        <td colspan="2"></td>
                        <td class="align-right">[`Total`]</td>
                        <td class="align-right nowrap">{wa_currency_html($order.total, $order.currency)}</td>
                    </tr>
                </table>
            </div>
        </div>
    {/if}
</div>

</body>
</html>
