<div class="dialog width400px {if $can_delete}height200px{else}height150px{/if}" id="s-product-list-delete-products-dialog" data-not-allowed-string="[`Unable to delete some of the products (%d) because you have insufficient access rights.`]">
    <div class="dialog-background"></div>
    <form method="post" action="">
    <div class="dialog-window">
        <div class="dialog-content" style="height: auto;">
            <div class="dialog-content-indent">
                <h1>{if $can_delete}[`Delete`]{else}[`Error`]{/if}</h1>
                <p>
                    {if $can_delete}
                        <strong class="red">{_w('%d product will be deleted without the ability to restore.', '%d products will be deleted without the ability to restore.', $count)}</strong>
                        [`After you delete a product, all it’s sales reports, cross-selling data, and connections to the orders made in the past will be impossible to restore.`]
                    {else}
                        {_w('Insufficient access rights to delete selected products.')}
                    {/if}
                </p>
            </div>
        </div>
        <div class="dialog-buttons">
            <div class="dialog-buttons-gradient">
                {$wa->csrf()}
                {if $can_delete}
                    <input class="button red" type="submit" value="[`Delete`]">
                    <i class="icon16 loading"></i>
                    [`or`] <a class="cancel" href="javascript:void(0);">[`cancel`]</a>
                {else}
                    <input type="button" class="button red cancel" value="[`Close`]">
                {/if}
            </div>
        </div>
    </div>
    </form>
</div>
