/*
 * Webasyst Clear theme family
 *
 * Shop-Script app CSS
 * (requires linking base clear.css file from the Site app)
 *
 * @link http://www.webasyst.com/
 * @author Webasyst LLC
 * @copyright 2013 Webasyst LLC
 * @package Webasyst
 */

/* Misc layout and elements */

.sidebar { padding-top: 15px; }
.currency-toggle { margin-right: 20px; }
.bonus { background: #ceb; padding: 2px 4px 1px; }
.plugin { margin-bottom: 20px; } /* shipping and payment plugins ouput */

/* Homepage */

.promo { padding: 0; margin-top: -25px; overflow: hidden; background: #fff; border-bottom: 1px solid #ccc; }
.promo a { display: block; height: 400px; text-decoration: none; }
.promo a .image { float: right; margin-right: 60px; position: relative; }
.promo a .image .corner.right { right: 30px; }
.promo a .image .corner.top { top: 20px; }
.promo a .info { position: absolute; margin-left: 40px; z-index: 183; }
.promo a .info h2 { font-size: 3em; color: #000; line-height: 1.2em; margin-bottom: 0.4em; margin-right: 450px; }
.promo a .info p { color: #555; font-size: 1.3em; text-shadow: 0 0 3px #fff; margin-right: 500px; }
.promo .purchase { padding: 10px; margin-right: 0; }

.promo .bx-wrapper { margin: 0 auto; direction: ltr; }
.promo .bx-wrapper .bx-viewport { border: none; box-shadow: none; left: 0; }
.promo .bx-wrapper .bx-pager,
.promo .bx-wrapper .bx-controls-auto { bottom: 20px; }
.promo .bx-wrapper .bx-prev { left: 0; }
.promo .bx-wrapper .bx-next { right: 0; }

.promos { margin: 0px -25px; }
.promos ul { padding: 0; margin: 0; }
.promos ul li { padding: 0; margin: 0; list-style: none; display: inline-block; width: 25%; float: left; }
.promos ul li a { display: block; padding: 40px 20px; height: 80px; overflow: hidden; background-size: cover; background-position: center center; color: #000; background-color: rgba(0,0,0,0.05); border: 15px solid #fff; border-top-width: 0; border-bottom-width: 30px; text-align: center; position: relative; text-decoration: none; }
.promos ul li a .background-color-layer { position: absolute; top: 0; left: 0; right: 0; bottom: 0; z-index: 1; opacity: 0.1; background-color: #000; }
.promos ul li a h5 { font-size: 1.3em; text-shadow: 0 1px 2px #000; position: relative; z-index: 2; }
.promos ul li a p { font-size: 0.9em; text-shadow: 0 1px 1px #000; position: relative; z-index: 2; }
.promos ul li a:hover .background-color-layer { opacity: 0.5; transition: 0.3s; }

/* Category */

.sub-categories { margin-bottom: 20px; }

.filters { background: #eee; width: 240px; padding: 15px; float: right; }
.filters input[type="text"] { font-size: 0.9em; width: 50px; text-align: right; }

/* Product info and lists */

ul.skus { padding-left: 2px; }
ul.skus li { list-style: none; padding-bottom: 3px; }

.stocks { margin-top: 10px; margin-bottom: 15px; font-size: 0.9em; }
.stocks .stock-critical { color: #e00; }
.stocks .stock-low { color: #a80; }
.stocks .stock-high { color: #0a0; }
.stocks .stock-none { color: #aaa; }
.stocks .icon16 { margin-top: 0.23em; }

ul.menu-h.sorting { margin-left: 0; margin-bottom: 20px; }
ul.menu-h.sorting li { padding-right: 5px; }
ul.menu-h.sorting li.selected a { background: #eee; }

i.sort-desc { height: 0; width: 0; border: 4px solid transparent; border-bottom-color: #000; margin-bottom: 0.4em; display: inline-block; display: block\9; float: left\9; }
i.sort-asc { height: 0; width: 0; border: 4px solid transparent; border-top-color: #000; margin-top: 0; display: inline-block; display: block\9; float: left\9; }

.price { color: #000; font-weight: bold; }
.qty input { width: 40px; }
.compare-at-price { text-decoration: line-through; color: #c66; margin: 0 3px; }
.out-of-stock strong { background: #ccc; color: #fff; padding: 2px 4px; }
.disabled { color: #777; }
.description { margin-bottom: 20px; }
.error { color: #a33; }
.rating i.icon16 { margin-right: 0.13em; }
h1 .rating i.icon16 { margin-top: 0.37em; }

table.compare { width: 100%; }
table.compare td { text-align: center; line-height: 1em; padding: 10px 2px; }
table.compare th { text-align: left; }
table.compare td img { display: block; margin: 0 auto 10px; }

table.features { clear: both; border-spacing: 0; border-collapse: collapse; }
table.features td { padding: 5px 0 2px; }
table.features td.name { min-width: 145px; color: #777; vertical-align: top; }
table.features tr.divider td { border-bottom: 1px solid #ccc; padding-left: 0; padding-top: 15px; padding-bottom: 0; }

.image { position: relative; display: inline-block; max-width: 100%; display: block\9; /* IE8- hack */ }
#video-container { float: left; width: 400px; }
#video-container .video-wrapper { position: relative; width: 100%; height: 0; padding: 0 0 56%; overflow: hidden }
#video-container .video-wrapper iframe { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
.image#product-core-image { float: left; width: 400px; }
.image img { max-width: 100%; height: auto; }
.image .corner { position: absolute; z-index:10; font-size: 0.8em; color: #fff; font-weight: bold; }
.image .corner.top { top:-5px; }
.image .corner.bottom { bottom:-5px; }
.image .corner.left { left:-8px; }
.image .corner.right { right:-8px; }
.image .loading { opacity: 0.7; }
.gallery { float: left; margin-left: 10px; width: 70px; display: block; }
.gallery .image { border-left: 3px solid #fff; width: 50px; padding: 8px; float: left\9; /* IE8 */ }
.gallery .image.selected { border-color: #ffef9f; }

.badge { background: #fff; border-radius: 50%; border: 4px solid rgba(0,0,0,0.2); width: 100px; height: 100px; box-shadow: 0 3px 10px rgba(0,0,0,0.3); color: #000; font-weight: bold; font-style: italic; font-size: 1.8em; padding: 11px 13px 15px; }
.badge span { display: block; vertical-align: middle; text-align: center; line-height: 1.2em; padding-top: 40px; }
.badge.new { background: #ff4; color: #000; }
.badge.bestseller { background: #74ff30; color: #030; }
.badge.low-price { background: #ffc2e3; color: #300; }

.options { line-height: 1.8em; }
.services { margin-bottom: 20px; }
.purchase { margin-bottom: 20px; background: #ffef9f; display: inline-block; display: block\9; padding: 15px; }
.aux { padding: 15px; font-size: 0.9em; }
.added2cart { display: block; padding-top: 5px; }

ul.thumbs { padding: 0; margin: 0; text-align: center; }
ul.thumbs li { display:inline-block; vertical-align:top; padding: 0; margin: 0 0 40px 0; position: relative; text-align: center; display: block\9; float: left\9; height: 380px\9; /* IE8- hack */ }
ul.thumbs img { margin-bottom: 2px; display: inline-block; display: block\9; }
ul.thumbs img.overhanging { position: absolute; left: -20px; }
ul.thumbs i.icon16.overhanging { position: absolute; left: -20px; margin: 0; top: 2px; }
ul.thumbs i.icon10.overhanging { position: absolute; margin-left: -17px; margin-right: 7px; }
ul.thumbs input { margin: 0 3px 0 0 /* for correct checkbox display */; }
ul.thumbs.li50px li { width: 50px; } /* fixed li width options */
ul.thumbs.li100px li { width: 100px; }
ul.thumbs.li150px li { width: 150px; }
ul.thumbs.li200px li { width: 200px; }
ul.thumbs.li250px li { width: 250px; }
ul.thumbs.li300px li { width: 300px; }
ul.thumbs.li350px li { width: 350px; }
ul.thumbs li a { text-decoration: none; }
ul.thumbs li h5 { margin-bottom: 0; color: #000; }
ul.thumbs li span { color: #777; }
ul.thumbs li a:hover { color: red !important; }
ul.thumbs li a:hover h5 { color: red !important; }
ul.thumbs li.selected { /* nothing! */ }
ul.thumbs li.selected img { border: 4px solid #FDDA3B; margin: -4px -2px -2px -4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }
ul.thumbs li.highlighted { background: inherit; }
ul.thumbs li.highlighted img { -moz-box-shadow: 0px 0px 10px #fe2; -webkit-box-shadow: 0px 0px 10px #fe2; box-shadow: 0px 0px 10px #fe2; }
ul.thumbs.mini { text-align: left; }
ul.thumbs.mini li { margin-right: 20px; }
ul.thumbs.mini li { height: 160px\9; /* IE8- hack */ }

ul.thumbs .image { width: 200px; }
ul.thumbs .out-of-stock,
ul.thumbs .rating,
ul.thumbs .offers { display: block; margin: 3px 0; text-align: center; }
ul.thumbs .badge { font-size: 1.2em; width: 70px; height: 70px; padding: 1px 2px 3px; border-width: 2px; }
ul.thumbs .badge span { color: #000; width: 68px; margin-top: 28px; overflow: hidden; padding-top: 0; }
ul.thumbs .purchase { padding: 5px 5px 5px 10px; margin-top: 10px; display: inline\9; background: #fff\9; }
ul.thumbs .added2cart { display: inline; padding: 0; }
ul.thumbs.mini .image { width: 96px; height: auto; }

ul.menu-h.product-internal { font-size: 1.3em; margin-left: -5px; height: 30px\9; }
ul.menu-h.product-internal li { padding-right: 20px; }
ul.menu-h.product-internal li.selected a { background: #eed; }
ul.menu-h.product-internal.top-padded { margin-top: 2.5em; }

/* Cart */

.cart .row { min-height: 23px; padding-top: 20px; }
.cart .col.item-thumb { min-width: 55px; }
.cart .col.item-thumb img { position: absolute; margin-top: -12px; }
.cart .col.item-remove { float: right; }
.cart .col.total { font-size: 1.3em; }
.cart .col.services { margin-top: 5px; }
.cart .related { padding-top: 0; }
.cart .related h4 { font-weight: normal; }
.cart input.qty { max-width: 50px; text-align: right; }

/* Checkout */

.checkout { margin: 0; }
.checkout-header { margin: 10px 30px 0; color: #999; }
.checkout-header h3 a { text-transform: uppercase; text-decoration: none; color: #777; }
.checkout-header h3 a:hover { color: #a00 !important; }
.checkout-header strong { color: #666; }
.checkout ul.checkout-options { padding-left: 25px; }
.checkout ul.checkout-options li { list-style: none; position: relative; margin-bottom: 50px; clear: both; }
.checkout ul.checkout-options li h3 { font-weight: bold; margin-bottom: 15px; }
.checkout ul.checkout-options li h3 label { margin-right: 10px; }
.checkout ul.checkout-options li .rate { float: right; text-align: center; width: 250px; }
.checkout ul.checkout-options li p { width: 70%; }
.checkout ul.checkout-options li input[type="radio"] { position: absolute; top: 4px; left: -25px; }
.checkout ul.checkout-options li label input[type="radio"] { top: 4px; left: -20px; }
.checkout ul.checkout-options li img.method-logo { position: relative; float: left; margin-right: 10px; top: -6px; left: 0px; /* adjusted for default 60x32-px logos */ }
.checkout ul.checkout-options li .wa-form { margin-top: 0px; margin-bottom: 30px; }
.checkout ul.checkout-options li .wa-form label input[type="radio"] { position: static; }

.checkout .checkout-result { padding: 80px 0 60px; background: #fff; text-align: center; }
.checkout .checkout-result h1 { font-size: 4em; margin-bottom: 50px; }
.checkout .checkout-result.error h1 { color: red; }
.checkout .checkout-result .wa-form { margin: 10px auto 20px; width: 400px; float: none; text-align: left; }
.checkout .checkout-result .back { margin-top: 50px; }
.checkout .checkout-step { padding: 0; border: 3px solid #fff; }
.checkout .checkout-step h2 { padding: 17px 20px 15px; text-transform: uppercase; font-weight: bold; background: #eee; margin: 0; }
.checkout .checkout-step h2 a { text-decoration: none; color: #000; }
.checkout .checkout-step h2 a:hover { color: #a00 !important; }
.checkout .checkout-step h2.upcoming a:hover { color: #000 !important; cursor: default; }
.checkout .checkout-step h2 a.hint { font-size: 0.7em; color: #aaa; text-decoration: underline; }
.checkout .checkout-step-content { padding: 20px; background: #fff; }
.checkout .checkout-step ul.menu-v { margin-left: 0; margin-top: 20px; }
.checkout .checkout-step #login-form h1 { display: none; }
.checkout .checkout-step input.large { font-size: 1.4em; }
.checkout .comment { width: 100%; height: 100px; margin-bottom: 20px; }
.checkout blockquote img { margin-right: 20px; float: left; }
.checkout blockquote p { margin-bottom: 10px; }
.checkout blockquote p span { color: #000; }

.checkout .errormsg.inline { display: inline; margin-left: 10px; }

/* Product reviews */

.write-review { margin: 30px 0 40px; }

.review { margin-bottom: 30px; }
.review .summary { font-size: 0.9em; color: #777; }
.review .summary h6 { color: #000; font-size: 1.1em; }
.review .summary a.username { color: #777; }
.review .summary a.username:hover { color: red; }
.review .summary a { display: inline; padding: 0; }
.review .summary .date { color:#aaa; }
.review p { margin-top: 5px; margin-bottom: 5px; line-height: 1.3em; }
.review .actions a { padding: 0 !important; }

.reviews { margin-bottom: 20px; }
.reviews ul { margin-left: 0; }
.reviews ul li ul { padding-left: 25px; }
.reviews ul li ul li .review h6 { color: #555; }
.reviews ul li .review-form { padding: 10px 30px; }
.reviews ul li .review-form textarea { min-height: 100px; }
.reviews ul.menu-h.auth-type { padding: 0 0 40px; margin-left: -5px; }
.reviews ul.menu-h.auth-type li { padding-right: 10px; }
.reviews ul.menu-h.auth-type li a { padding: 5px 6px; }
.reviews ul.menu-h.auth-type li a img { top: 0; }
.reviews textarea { height: 100px; min-height: 100px; width: 75%; margin-top: 0; }

.review-form { padding: 0; margin-bottom: 30px; }
.review-form h4 { margin: 0 0 20px; font-weight: normal; }
.review-form-fields p { margin: 0 0 10px; }
.review-form-fields p.review-field a { display: inline; padding: 0; text-decoration: none; }
.review-form-fields label { width: 160px; display: block; clear: left; float: left; margin: 0 10px 0 0; color: #aaa;}
.review-form-fields input[type="text"] { width: 20em;}
.review-form textarea { min-width: 70%; min-height: 160px; }
.review-form .review-submit { padding:0 0 20px 170px;}
.review-form .userpic { width: 20px; height: 20px; float: left; margin-right: 5px; }
.review-form ul.menu-h.auth-type li a img { float: left; margin-right: 3px; position: relative; top: 2px; }
.review-form ul.menu-h.auth-type { padding-bottom: 20px; }
.review-form label { width: 160px; display: block; clear: left; float: left; margin: 0 10px 0 0; color: #AAA; }
.reviews span.rate { line-height: 1.3em; display: block; margin: 0.5em 0; }
.reviews span.rate a { text-decoration: none !important; }
.reviews span.rate .icon10 { background-repeat: no-repeat; background-image: url(../../../../wa-content/img/icon10.png); height: 10px; width: 10px; display: inline-block; text-indent: -9999px; }
.reviews span.rate .icon10.star { background-position: -60px -40px; }
.reviews span.rate .icon10.star-empty { background-position: -80px -40px; }

input.error, textarea.error { border: 2px solid red; }
.errormsg { color: red; margin-left: 170px; display: block; }

/* Dialog */

.dialog { display: none; }
.dialog-background { position: fixed; top: 0; left: 0; right: 0; bottom: 0; background: #fff; opacity: 0.8; filter: alpha(opacity=80); z-index: 99; }
.dialog-window .cart { position: fixed; top: 15%; left: 0; right: 0; opacity: 1; z-index: 100; overflow-x: hidden; box-shadow: 0 3px 15px #ddd; margin: 0 auto; text-align: left; width: 400px; bottom: 15%; background: #fff; padding: 25px; }
.dialog-window .cart .added2cart { font-size: 1.1em; font-style: italic; }
.dialog-window .cart .purchase { display: block; }
.dialog-window .dialog-close { float: right; color: #cc8; text-decoration: none; font-size: 200%; margin-top: -3px; }

/* Customer account */

.order-status { padding: 2px 5px; color: #fff; }
h1 .order-status { font-size: 0.75em; margin-left: 10px; }

/* Shop-Script icons */

.icon16.star,
.icon16.star-full { background-image: url("img/icons.png"); background-position:-16px 0; }
.icon16.star-half { background-image: url("img/icons.png"); background-position:-32px 0; }
.icon16.star-empty { background-image: url("img/icons.png"); background-position:-48px 0; }
.icon16.star-hover { background-image: url("img/icons.png"); background-position:-64px 0; }
.icon10.star,
.icon10.star-full { background-image: url("img/icons.png"); background-position:0 -16px; }
.icon10.star-half { background-image: url("img/icons.png"); background-position:-10px -16px; }
.icon10.star-empty { background-image: url("img/icons.png"); background-position:-20px -16px; }
.icon16.remove { background-image: url("img/icons.png"); background-position:-96px 0; }
.icon16.saved { background-image: url("img/icons.png");  background-position:-112px 0; }
.icon16.stock-red { background-image: url("img/icons.png"); background-position:-128px 0; }
.icon16.stock-yellow { background-image: url("img/icons.png"); background-position:-144px 0; }
.icon16.stock-green { background-image: url("img/icons.png"); background-position:-160px 0; }
.icon16.stock-transparent { background-image: url("img/icons.png"); background-position:-176px 0; }
.icon16.loading { background-image: url("img/loading16.gif"); background-position:0 0; }

/* Easy Zoom plugin for produce image enlargement */

#easy_zoom {
    width:500px;
    height:400px;
    border:5px solid #fff;
    background:#fff;
    color:#333;
    position:absolute;
    top:0px;
    left:500px;
    overflow:hidden;
    -moz-box-shadow:0 2px 10px rgba(0,0,0,0.3);
    -webkit-box-shadow:0 2px 10px rgba(0,0,0,0.3);
    box-shadow:0 2px 10px rgba(0,0,0,0.3);
    /* vertical and horizontal alignment used for preloader text */
    line-height:400px;
    text-align:center;
    z-index: 1001;
}
#easy_zoom img { max-width: none; height: auto; }


/* TABLET
========= */

@media screen and (min-width: 760px) and (max-width: 1024px) {

}

/* MOBILE
========= */

@media screen and (max-width: 760px) {

    .currency-toggle { display: none; }

    .filters { float: none; width: auto; margin-bottom: 40px; }

    .promos ul li { width: 50%; }

    table.features td.name { min-width: 105px; }

    .image#product-core-image { float: none; }
    .image img { height: auto !important; }
    .gallery { float: none; width: auto; }
    .gallery .image.selected { border-top: 3px solid #ffef9f; border-left-color: #fff; }
    .badge { font-size: 1.4em; }

    ul.thumbs { margin: 0 -20px 0 -30px !important; }
    ul.thumbs li { padding: 0 20px !important; width: 120px !important; margin-bottom: 70px; }
    ul.thumbs.mini li { margin-bottom: 30px; }

    .purchase { width: 100%; }

    .review-form-fields label { width: auto; float: none; }
    .review-form-fields input { width: 80%; }
    .review-form textarea { width: 90%; }
    .review-form .review-submit { padding-left: 0; }
    .review-form .wa-captcha img { margin-bottom: 10px; }

    /* cart: override cart column widths for better display on mobiles */
    .cart .row { padding: 30px 0 70px; }
    .cart .col.w1 { display: none; }
    .cart .col.w1.item-remove { display: block; width: 10% !important; text-align: right; float: right; }
    .cart .col.item-name { width: 100% !important; font-size: 140%; margin-bottom: 10px; }
    .cart .col.item-qty { float: left; }
    .cart .col.item-total,
    .cart .col.cart-total,
    .cart .col.cart-discount,
    .cart .col.affiliate-discount { font-size: 140%; font-weight: bold; float: right; text-align: right; width: auto; }
    .cart .col.cart-coupon { width: 100% !important; padding-bottom: 20px; }
    .cart .col.cart-total { width: 100%; text-align: center; background: #ffef9f; padding: 20px 0; }
    .cart .col.cart-checkout { width: 100% !important; }
    .cart .col.cart-checkout input { font-size: 150%; }
    .cart .col.w12 { width: 59%; }
    .cart .related { display: none; }

    .promo { border: 0; }
    .promo a { height: 400px; }
    .promo a .info { position: static; width: 80%; margin-left: 0px; }
    .promo a .info h2 { font-size: 2em; margin-right: 0; }
    .promo a .info p { font-size: 0.9em; line-height: 1.3em; margin-right: 0; }
    .promo a .image { top: 0; float: none; margin-right: 0; margin-left: 0px; }
    .promo a .purchase { width: auto; }

    .checkout { margin: 0 0 30px; }
    .checkout ul.checkout-options li { width: 100%; }
    .checkout ul.checkout-options li img { display: none; }
    .checkout ul.checkout-options li .rate { min-width: 0; width: auto; max-width: 150px; }
    .checkout ul.checkout-options li .rate.error { padding-top: 5px; }
    .checkout ul.checkout-options li .rate .hint { display: none; }
    .checkout ul.checkout-options li .wa-form.wa-address p { font-size: 1em; }
    .checkout .checkout-step h2 { font-size: 1.2em; padding: 10px 10px 10px; }
    .checkout .checkout-step h2 a.hint { display: none !important; }
    .checkout .checkout-step input.large { margin: 0 auto; display: block; }
    .checkout .checkout-step-content { padding: 10px 10px 30px; }
    .checkout .checkout-step-content.auth ul.menu-v li { padding: 5px 0; }
    .checkout .checkout-result h1 { font-size: 2.5em; }
    .checkout-header { margin: 10px; font-size: 0.8em; text-align: center; }
    .checkout-header .float-right { display: none; }
    .checkout li .wa-form { margin-left: -25px; }

    table.table th,
    table.table td { font-size: 0.75em; }
    table.table td .gray { display: none; }
    table.table td.nowrap { white-space: normal; }
    table.table td.nowrap.bold { white-space: nowrap; }

    #easy_zoom { display: none; }

}

/* WIDE
========= */

@media screen and (min-width: 1300px) {


}