<div data-role="header" data-position="inline" data-backbtn="false" >
    <a href="{$wa_app_url}" data-role="button" data-icon="arrow-l">
        [`Orders`]
    </a>
    <h1>{$wa->title()}</h1>
</div>

<div class="s-mobile-order-page">
    {* Workflow state and actions *}

    <div class="content-wrapper">
        <div class="content-header {if $order.paid_date}with-stamp{/if}" style="{$order.style}">
            {if $order.paid_date}
            <div class="s-paid-order-stamp" title="{sprintf('[`Order was paid on %s`]', $order.paid_date|wa_date:'humandate')}"><div class="s-stamp-inner"></div><span>[`Paid`]</span></div>
            {/if}
            <div style="display: inline-block;"><i class="{$order.icon}"></i>{$workflow_state->getName()}</div>
        </div>
        <div data-role="content" class="content" id="workflow-buttons-{$uniqid}">
            <ul data-role="listview" class="workflow-actions">

                {foreach $workflow_buttons as $b}
                    <li class="sm-order-action-button">{$b}</li>
                {/foreach}
            </ul>
        </div>
    </div>

    <div data-role="content" class="content content-wrapper workflow-content" id="workflow-content-{$uniqid}" style="display: none;">
        {* Block for HTML from workflow actions. *}
    </div>

    {* Customer info *}
    <div class="content-wrapper">
        <div data-role="content" class="content sm-order-customer">
            <div class="left-column">
                <img class="userpic" src="{$customer->getPhoto(50)}" class="float-left ">
            </div>
            <div class="right-column">
                <h4 class="large">{$customer->getName()|escape}</h4>
                {if $top}
                    {foreach from=$top item=top_field}
                        <p>{$top_field.name}: {$top_field.value}</p>
                    {/foreach}
                {/if}
            </div>
        </div>
    </div>

    {* Order comment *}
    {if $order.comment}
        <div class="content-wrapper">
            <div data-role="content" class="content sm-order-comment">
                {$order.comment}
            </div>
        </div>
    {/if}

    {* Shipping and payment info *}
    <div class="content-wrapper">
        <div data-role="content" class="content">
            {if !empty($order.params.shipping_name)}
            <p>
                [`Shipping`] — <strong class="large">{$order.params.shipping_name}</strong>
                {if $shipping_address}
                <br>
                {$shipping_address}
                {/if}
            </p>
            {/if}
            {if !empty($order.params.payment_name)}
            <p>
                [`Payment`] — <strong class="large">{$order.params.payment_name}</strong>
                {if $billing_address}
                <br>
                {$billing_address}
                {/if}
            </p>
            {/if}
        </div>
    </div>

    {* Order items *}
    <div class="content-wrapper">
        <div data-role="content" class="content order-items-content">
            <ul style="list-style-type:none;margin:0;padding:0;">
                {foreach $order.items as $i}
                <li>
                    <span class="float-right">x {$i.quantity}</span>
                    {$i.name}
                </li>
                {/foreach}
                <li style="border-top: 1px solid #888;">
                    <span class="float-right">{wa_currency_html($order_subtotal, $currency)}</span>
                    [`Subtotal`]
                </li>
                {if !empty($order.params.shipping_name)}
                <li>
                    <span class="float-right">{wa_currency_html($order.shipping, $currency)}</span>
                    [`Shipping`]
                </li>
                {/if}
                {if !empty($order.tax)}
                <li>
                    <span class="float-right">{wa_currency_html($order.tax, $currency)}</span>
                    [`Tax`]
                </li>
                {/if}
                {if !empty($order.discount)}
                <li>
                    <span class="float-right">{wa_currency_html($order.discount, $currency)}</span>
                    [`Discount`]
                </li>
                {/if}
                <li>
                    <span class="float-right"><strong class="giant">{wa_currency_html($order.total, $currency)}</strong></span>
                    [`Total`]
                </li>
            </ul>
        </div>
    </div>

    {* Order history *}
    <div class="content-wrapper">
        <div data-role="content" class="content order-history-wrapper">
            <ul data-role="listview">
                {foreach $log as $row}
                <li class="sm-order-log">
                    <div style="color:#aaa">{$row.datetime|wa_datetime:"humandatetime"}</div>
                    {if $row.action_id}
                        {$row.contact_name|escape} [`performed action`] {$row.action_id} {if $row.text}{$row.text|escape}{/if}
                    {else}
                        {if $row.text}{$row.text}{/if}
                    {/if}
                </li>
                {/foreach}
            </ul>
        </div>
    </div>
</div>

<script>
// User Script
( function($) {
    $(document).ready( function($) {
        // Stubs used by JS of workflow actions
        $.order = {
            reload: function() {
                window.location.reload();
            }
        };
        $.order_list = {
            updateCounters: function() {}
        };

        var workflow_buttons = $('#workflow-buttons-{$uniqid}');
        var workflow_content = $('#workflow-content-{$uniqid}');

        // Workflow action buttons
        workflow_buttons.on('click', '.wf-action', function() {
            var self = $(this);
            $.post('?module=workflow&action=prepare', { action_id: self.data('action-id'), id: '{$order.id}' }, function(response) {

                // We have to hack into JS of workflow forms
                // because it's basically NOT aware of mobile site.
                // Sad, but true.

                // Remove all possibly existing workflow forms out of paranoia
                $("#wf-pay-form").remove();

                workflow_buttons.hide();
                workflow_content.empty().html(response).show();
                setTimeout(function() {
                    // 'cancel' link
                    workflow_content.find('a.cancel').off('click').click(function() {
                        workflow_content.empty().hide();
                        workflow_buttons.show();
                        return false;
                    });
                }, 0);
            });
            return false;
        });
    });
})($);
</script>
