/*
 * Webasyst CUSTOM theme family
 *
 * Shop-Script app CSS for mobiles
 * (requires linking base custom.css and custom.mobile.css files from the Site app)
 *
 * @link http://www.webasyst.com/
 * @author Webasyst LLC
 * @copyright 2013 Webasyst LLC
 * @package Webasyst
 */
 
.container { padding: 1px 10px 0; min-width: 0; }

.sidebar { margin-bottom: 20px; }
.sidebar.left, .sidebar.left300px { width: 100%; float: none; }
.sidebar.right, .sidebar.right300px { width: 100%; float: none; }
.content.left, .content.left300px { margin-left: 0; }
.content.right, .content.right300px { margin-right: 0; }
.app-header { min-height: 0; padding-top: 0; }
.top-padded { padding-top: 0; }

#header { margin-bottom: 20px; margin-top: -3px; }
#header ul#wa-apps li.selected { background: none; }
#footer { padding-bottom: 30px; }
#footer .container { margin: 0 15px; }
#footer #copyright { padding-left: 0; }
#footer #sub-links { margin-left: 0; margin-top: 30px; }
#footer #sub-links ul li { float: none; margin-bottom: 5px; }

/* Shop-Script specific
----------------------- */

.breadcrumbs { margin-bottom: 15px; }
.breadcrumbs a { color: #aaa; }

div.cart.fixed { position: static; }

table.cart td { padding: 7px 2px 10px; display: inline-block; border: 0; }
table.cart td img { display: none; }
table.cart td input[type="text"] { min-width: 0; }
table.cart td br { display: none; }
table.cart td a.bold { margin-top: 20px; font-size: 1.3em; }
table.cart td .services { margin-bottom: 0; }

.search { margin-bottom: 20px; }
.search.float-right { float: none !important; }
.search input { width: auto; }

.filters { float: none; width: auto; margin-bottom: 20px; }

.currency-toggle { display: none; }
.sidebar.hide-for-mobile { display: none; }

.image img { height: auto !important; }

.review-form-fields label { width: auto; float: none; }
.review-form-fields input { width: 80%; }
.review-form textarea { width: 100%; }
.review-form .review-submit { padding-left: 0; }
.review-form .wa-captcha img { margin-bottom: 10px; }

.promo.hero.superhero { box-shadow: none; border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; }
.promo a { height: 300px; }
.promo a .info { max-width: none; left: 20px; top: 20px; }
.promo a .info h2 { font-size: 2em; }
.promo a .info p { font-size: 0.9em; line-height: 1.3em; }
.promo a .image img { top: 0; }

.wa-form .wa-field .wa-name { float: none; padding-bottom: 0; }
.wa-form .wa-field .wa-value { margin-left: 0; }
.wa-form .wa-field .wa-value p span { display: block; }
.wa-form .wa-field .wa-value input[type="text"],
.wa-form .wa-field .wa-value input[type="email"],
.wa-form .wa-field .wa-value input[type="password"] { min-width: 200px; }
.wa-auth-adapters p { width: 100%; }

.checkout { margin: 0 0 30px; }
.checkout ul.checkout-options li { width: 100%; }
.checkout ul.checkout-options li img { display: none; }
.checkout ul.checkout-options li .rate { min-width: 0; width: auto; max-width: 150px; }
.checkout ul.checkout-options li .rate.error { padding-top: 5px; }
.checkout ul.checkout-options li .rate .hint { display: none; }
.checkout ul.checkout-options li .wa-form.wa-address p { font-size: 1em; }
.checkout .checkout-step h2 { font-size: 1.2em; padding: 10px 10px 10px; }
.checkout .checkout-step h2 a.hint { display: none !important; }
.checkout .checkout-step input.large { margin: 0 auto; display: block; }
.checkout .checkout-step-content { padding: 10px 10px 30px; }
.checkout .checkout-step-content.auth ul.menu-v li { padding: 5px 0; }
.checkout .checkout-result h1 { font-size: 2.5em; }
.checkout-header { margin: 10px; font-size: 0.8em; text-align: center; }
.checkout-header .float-right { display: none; }
.checkout li .wa-form { margin-left: -25px; }
.checkout table.table th,
.checkout table.table td { font-size: 0.75em; }
.checkout table.table td .gray { display: none; }
.checkout table.table td.nowrap { white-space: normal; }
.checkout table.table td.nowrap.bold { white-space: nowrap; }