{if !shopDiscounts::isEnabled('coupons')}
<div class="alert warning">
    <i class="fas fa-exclamation-triangle"></i>
    {sprintf('[`Discounts by coupons are turned off. Enable discounts in your <a href="%s">store settings</a>.`]', "`$marketing_url`discounts/coupons/")}
</div>
{/if}
<div class="s-coupon">
    <div class="box s-coupon-border">
        <div class="flexbox middle custom-mb-16">
            <h1 class="custom-mb-0">
                <span class="{if $coupon.id && !$is_enabled}gray strike {/if}js-coupon-code">{$coupon.code|escape}</span>
                {if $coupon.id && !$is_enabled}<span class="hint custom-ml-8">[`Unavailable`]</span>{/if}
            </h1>
            {if $formatted_value}
                <span class="custom-ml-auto s-coupon-value">{$formatted_value}</span>
            {/if}
        </div>

        {if $coupon.id}
            <p class="small">[`Created`] {$coupon.create_datetime|wa_date:"humandate"}</p>
        {/if}

        <form action="{$wa_app_url}?module=marketingCouponSave" id="coupon-editor-form">
            <div class="fields">
                <div class="field">
                    <div class="name for-input">
                        [`Coupon code`]
                    </div>
                    <div class="value">
                        <input type="text" class="large bold" name="coupon[code]" value="{$coupon.code|escape}" required>
                    </div>
                </div>
                <div class="field">
                    <div class="name">
                        [`Coupon type`]
                    </div>
                    <div class="value">
                        <div class="flexbox middle">
                            <div class="wa-select small">
                                <select name="coupon[type]" class="not-styled">
                                    {foreach $types as $type_id => $type_name}
                                        <option value="{$type_id|escape}"{if $type_id == $coupon.type} selected{/if}>{$type_name|escape}</option>
                                    {/foreach}
                                </select>
                            </div>
                            <div id="value-input-wrapper">
                                &nbsp;&nbsp;
                                &minus;
                                <input type="text" class="small number shortest bold" name="coupon[value]" value="{$coupon.value|escape}">
                                <span>%</span>
                            </div>
                        </div>
                        <p class="small" id="free-shipping-message">[`Discount will be calculated automatically to match the order shipping cost.`]</p>
                    </div>

                </div>
                <div class="field">
                    <div class="name">
                        [`Max number of usage`]
                    </div>
                    <div class="value">
                        <input type="number" placeholder="&#8734;" class="number shorter small" name="coupon[limit]" value="{$coupon.limit}">
                        <p class="hint">[`Enter the maximum number of times this coupon can be used. Leave empty for no limits.`]</p>
                    </div>
                </div>
                <div class="field">
                    <div class="name">
                        [`Expire date`]
                    </div>
                    <div class="value">
                        <label class="s-datepicker-wrapper state-with-inner-icon right">
                            <input type="text" class="numerical small s-datepicker" name="coupon[expire_datetime]" value="{substr((string)$coupon.expire_datetime, 0, 10)}">
                            <span class="icon"><i class="fas fa-calendar-alt"></i></span>
                        </label>
                        <p class="hint">[`Leave empty for no expiration date.`]</p>
                    </div>
                </div>
                <div class="field">
                    <div class="name">
                        [`Link to promo description`]
                    </div>
                    <div class="value">
                        <input type="text" class="long small" name="coupon[url]" value="{$coupon.url|escape}" placeholder="https://">
                    </div>
                </div>
                <div class="field">
                    <div class="name">
                        [`Comment`]
                    </div>
                    <div class="value">
                        <textarea name="coupon[comment]" class="small">{ifset($coupon.comment)|escape}</textarea>
                        <p class="hint">[`Optional comment for your convenience. Will never be shown to customers.`]</p>
                    </div>
                </div>

                {include file="./MarketingCouponsProductSelector.html" hash=$coupon.products_hash types=$product_types sets=$product_sets}

                <div class="field">
                    <div class="value submit">
                        <div class="flexbox middle">
                            <input type="submit" class="button green js-submit-button" value="[`Save`]">
                            {if $coupon.id}
                                <a href="javascript:void(0)" class="button red custom-ml-auto outlined" id="delete-coupon-link"><i class="fas fa-trash-alt"></i> [`Delete this coupon`]</a>
                            {/if}
                        </div>
                    </div>
                </div>
            </div>

            {if !empty($coupon.id)}
                <input name="coupon[id]" type="hidden" value="{$coupon.id|escape}">
            {/if}
        </form>
    </div>
</div>

{if $coupon.id}
    <div class="s-block transparent custom-mt-16 small">
        <h4>[`Usage`]</h4>
        {if $orders}
            <p>{_w("This coupon was used for <strong>%d order</strong>.", "This coupon was used for <strong>%d orders</strong>.", count($orders))}</p>
            <table class="zebra blank">
                {foreach $orders as $o}
                    <tr>
                        <td>
                            <a href="{$wa_app_url}?action=orders#/order/{$o.id}/state_id={$o.state_id}/" style="{$o.style|escape}">
                                <i class="{$o.icon}"></i>
                                {$wa->shop->orderId($o.id)}
                            </a>
                        </td>
                        <td>{if $o.coupon_discount_percent > 0}{ifset($o.coupon_discount_formatted)} <span class="hint">{$o.coupon_discount_percent}%</span>{else}&nbsp;{/if}</td>
                        <td>
                            <span class="float-right gray">{$o.create_datetime|wa_date:"humandate"}</span>
                        </td>
                    </tr>
                {/foreach}
                {if $overall_discount>0}
                <tr>
                    <td>
                        <br>
                        [`Overall discount`]
                    </td>
                    <td>
                        <br>
                        <strong>{$overall_discount_formatted}</strong>
                    </td>
                    <td></td>
                </tr>
                {/if}
            </table>
        {else}
             <p>[`This coupon was not used for any orders yet.`]</p>
        {/if}
    </div>
{/if}
