<div class="s-settings-order-states s-inner-sidebar js-discounts-sidebar">
    {strip}
    <ul id="discount-types" class="menu large">
        {foreach $types as $_type}
            <li{if !empty($current_type_id && $_type.id == $current_type_id)} class="selected"{/if}>
                <a href="{if !$_type.is_custom}{$_type.url|escape}{else}{$marketing_url}discounts/{$_type.id|escape}/{/if}" rel="{$_type.id|escape}"{if $_type.is_custom} data-custom-url="{$_type.url|escape}"{/if}>
                    <i class="js-icon fas {if $_type.status} fa-check text-green{else} fa-times text-light-gray{/if}"></i>
                    <span>{$_type.name}</span>
                </a>
            </li>
        {/foreach}
    </ul>
    {/strip}

    <div class="hr"></div>
    <div class="box custom-px-20 small">
        <p class="custom-mb-12">[`How total discount should be calculated if multiple rules are applicable for an order:`]</p>
        <blockquote>
            <p>
                <label>
                    <span class="wa-radio">
                        <input type="radio" name="combiner" value="max"{if $combiner != 'sum'} checked{/if}>
                        <span></span>
                    </span>
                    [`maximum of order-related discounts calculated after applying of order items’ individual maximum discounts`]
                </label>
            </p>
            <p>
                <label>
                    <span class="wa-radio">
                        <input type="radio" name="combiner" value="sum"{if $combiner == 'sum'} checked{/if}>
                        <span></span>
                    </span>
                    [`all discounts for entire order and for order items`]
                </label>
            </p>
            <input type="button" class="button smaller" id="combiner-save-button" value="[`Save`]" style="display:none">
        </blockquote>
    </div>

    <div class="box custom-px-20 small">
        <p class="custom-mb-12">[`How to save discount calculation description:`]</p>
        <blockquote>
            <p>
                <label>
                    <span class="wa-radio">
                        <input type="radio" name="discount_description" value="1" {if $discount_description}checked{/if}>
                        <span></span>
                    </span>
                    [`for each product`]
                </label>
            </p>
            <p>
                <label>
                    <span class="wa-radio">
                        <input type="radio" name="discount_description" value="0" {if !$discount_description}checked{/if}>
                        <span></span>
                    </span>
                    [`for entire order`]
                </label>
            </p>
            <input type="button" class="button smaller" id="discount-desc-save-button" value="[`Save`]" style="display:none">
        </blockquote>
    </div>

    <div class="box custom-px-20">
        <div class="hint">
            {sprintf_wp("Rounding of fractional discount values can be set up in %scurrency settings%s.", "<a href=\"`$wa_app_url`?action=settings#/currencies/\">", '</a>')}
        </div>
    </div>
</div>
