{* PAGE *}
<div class="s-discounts-page content flexbox" id="js-discounts-page">
        {* SIDEBAR *}
        <div class="sidebar width-23rem blank">
            {$discounts_sidebar}
        </div>
        {* CONTENT *}
        <div class="s-page-content content">

            <div class="article">
            <div class="article-body">

            {* HEADER *}
            <header class="s-page-header">
                <h1 class="s-title">[`Coupons`]</h1>
            </header>

            <div class="s-discounts-coupons-section">
                <form action="" id="s-discounts-coupons-form">
                    <div class="fields">
                        <div class="fields-group">
                            <div class="field">
                                <div class="name for-switch">[`Status`]</div>
                                <div class="value">
                                    <div class="switch-with-text">
                                        <span class="switch js-switch-discount-type-status smaller">
                                            <input type="checkbox" id="s-discount-type-status" name="enabled" value="1"{if $enabled} checked{/if}>
                                        </span>
                                        <label for="s-discount-type-status" data-active-text="[`Enabled`]" data-inactive-text="[`Disabled`]">{if $enabled}[`Enabled`]{else}[`Disabled`]{/if}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="field{if !$enabled} hidden{/if}">
                            <div class="value">
                                <p class="hint">{sprintf('[`Coupons can be created on the <a href="%s">Discount coupons</a> screen.`]',"`$marketing_url`coupons/")}</p>
                                <br>
                            </div>
                        </div>

                        {* !!! coupons CSV import is not implemented yet.
                            <div class="fields-group{if !$enabled} hidden{/if}">
                                <div class="field">
                                    <div class="name">[`Import coupons`]</div>
                                    <div class="value">
                                        <input type="file">
                                        <p class="hint">
                                            <br>
                                            {sprintf('[`Coupons can be either created manually on the <a href="%s">Discount coupons</a> screen, or imported from a CSV file using the button above.`]','?action=orders#/coupons/')}
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="fields-group{if !$enabled} hidden{/if}">
                                <div class="field">
                                    <div class="value submit">
                                        <input type="submit" value="[`Save`]" class="button green">
                                    </div>
                                </div>
                            </div>
                        *}

                    </div>
                    <input type="hidden" name="dummy" value="1">
                </form>
            </div>

            </div>
            </div>

        </div>

    <script>
        ( function($) { "use strict";
            $.shop.marketing.setTitle({_w("Coupons")|json_encode});

            const sources = [{
                id: "wa-shop-marketing-discounts-js",
                type: "js",
                uri: "{$wa_app_static_url}js/backend/marketing/discounts.js?v={$wa->version()}"
            }];

            $.shop.marketing.load(sources).then( function() {
                const page = $.shop.marketing.init.discountsPage({
                    $wrapper: $("#js-discounts-page"),
                    urls: {
                        "discounts_enable": "{$wa_app_url}marketing/?module=marketingDiscountsEnable"
                    }
                });

                page.initCoupons();
            });

        })(jQuery);
    </script>
</div>
