<!DOCTYPE html><html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>[`Order`] {$order.id_str} &mdash; {$wa->shop->settings("name")}</title>
<link href="{$wa_url}wa-content/css/wa/wa-2.0.css?v{$wa->version(true)}" rel="stylesheet" type="text/css">
</head>
<body>

<div class="article box contentbox" style="max-width: 42rem">
    <div class="article-body">

{if $payment_form_html}
    {$payment_form_html}
{elseif $methods}
    <p class="align-center small">{$wa->shop->settings("name")}</p>
    <p class="large bold align-center custom-mt-0 custom-mb-4">[`Order`] {$order.id_str}</p>
    <p class="largest bold align-center custom-mt-0 custom-mb-16">{$order.total_str}</p>

    <div class="wa-methods-list wide js-methods-list">
        {foreach $methods as $_method}
            <div class="wa-method-wrapper bordered box rounded custom-p-16{if !$_method@last} custom-mb-8{/if}" data-id="{$_method.id|escape}">
                <div class="wa-method flexbox{if $_method.info.type == 'manual'} opacity-50{/if}">
                    {if $_method.info.type != 'manual'}<a href="?payment_id={$_method.id|escape}">{/if}
                        {if !empty($_method.logo)}
                            <div class="wa-image-wrapper custom-mr-16">
                                <img src="{$_method.logo}" alt="">
                            </div>
                        {/if}
                    {if $_method.info.type != 'manual'}</a>{/if}

                    <div class="wa-method-body">
                        <div class="wa-payment-name text-blue large">
                            {if $_method.info.type != 'manual'}<a href="?payment_id={$_method.id|escape}">{/if}
                                {$_method.name|default:"[`Unknown`]"|escape}
                            {if $_method.info.type != 'manual'}</a>{/if}
                        </div>
                        {if !empty($_method.description)}
                            <div class="wa-description small custom-mt-4 text-gray">{$_method.description}</div>
                        {/if}
                    </div>
                </div>
            </div>
        {/foreach}
    </div>
{else}
    {if $show_methods}
        <div>[`No suitable payment option is available for your order, sorry. Please contact the seller.`]</div>
    {else}
        <form id="prepayment-form" action="" method="POST" target="_top">
            <input type="hidden" name="challenge" value="{$challenge|escape}">

            {if $enable_auto_submit}
                <i class="icon16 loading"></i>
                <br /><br />
                <script type="text/javascript">
                    setTimeout(function () {
                        document.getElementById('prepayment-form').submit();
                    }, 100);
                </script>
            {/if}

            <input type="submit" value="[`Перейти к оплате`]"{if $enable_auto_submit} style="display:none"{/if}>
        </form>
    {/if}
{/if}
    </div>
</div>

</body>
</html>
