<div class="block double-padded">

    <h1>[`Discount coupons`]</h1>

    <div class="sidebar left200px">
        <ul class="menu-v with-icons s-coupon-list">
            <li class="bottom-padded">
                <a href="javascript:void(0)" class="bold" data-coupon-id=""><i class="icon16 add"></i>[`New coupon`]</a>
            </li>

            {foreach $coupons as $c}
                <li{if !$c.enabled} class="s-expired"{/if}>
                    <span class="count">{$c.hint}</span>
                    <a href="javascript:void(0)" class="gray" data-coupon-id="{$c.id}">
                        <i class="icon16 ss coupon"></i>{$c.code}
                    </a>
                </li>
            {/foreach}
        </ul>
    </div>

    <div class="content left200px">
        <i class="icon16 loading"></i>[`Loading...`]
    </div>
</div>

<script>$(function() { "use strict";

    // Highlight <li> in leftmost sidebar
    $('#s-sidebar li.selected').removeClass('selected');
    $('#s-sidebar a[href="#/coupons/"]').parent().addClass('selected');

    var sidebar = $('#s-content .sidebar');
    var content = $('#s-content .content');

    // Helper to load editor content
    var rand = null;
    var loadCouponEditor = function(id) {
        var rn = rand = Math.random();
        id = id || '';
        if (window.location.hash.toString() != '#/coupons/'+id) {
            $.orders.stopDispatch(1);
            window.location.hash = '#/coupons/'+id;
        }
        sidebar.find('a[data-coupon-id="'+id+'"]').parent().addClass('selected').siblings('.selected').removeClass('selected');
        $.get('?module=coupons&action=editor&id='+id, function(r) {
            if (rand === rn) {
                content.html(r);
            }
        });
    };

    // Open coupon in editor: either take id from hash, or use the first one in sidebar list (if exists)
    var hash = window.location.hash.toString().split('/');
    while (hash.length && hash.shift() != 'coupons') {
        ;
    }
    loadCouponEditor(hash[0] || sidebar.find('.s-coupon-list a:not(.bold)').data('couponId'));

    // Click on a coupon in sidebar (or a link to add new one) loads it in editor.
    sidebar.children('.s-coupon-list').on('click', 'a', function() {
        loadCouponEditor($(this).data('couponId'));
    });
    
    // document title
    var order_count_new = {if !empty($order_count_new)}{$order_count_new}{else}0{/if};
    document.title = '{"[`Discount coupons`]"|cat:" — ":{$wa->accountName(false)}|escape:'javascript'}';
    if (order_count_new) {
        document.title = '(' + order_count_new + ') ' + document.title;
    }
});</script>