<script type="text/javascript" src="{$wa_app_static_url}js/product/services.js?v={$wa->version()}"></script>

{if $services}

    <div class="sidebar left200px s-inner-sidebar">
        <ul class="menu-v with-icons stack">
            {foreach $services as $s}
            <li data-service-id="{$s.id}" class="{if $s.status === shopProductServicesModel::STATUS_FORBIDDEN}gray{/if} {if $s.id == $service.id}selected{/if}">
                <a href="#/product/{$product.id}/edit/services/{$s.id}/">
                    <i class="icon16 ss service"></i>{$s.name|escape}
                </a>
            </li>
            {/foreach}
        </ul>
        <div class="block not-padded right-padded align-center bordered-top top-padded">
            <p class="hint">{sprintf('[`Use <a href="%s">Services</a> screen to add new custom services.`]','#services/')}</p>
        </div>
    </div>

    <div class="content left200px blank shadowed">
        <div class="block double-padded">
            <h2 class="s-service-name toggle-gray{if empty($service.status)} gray{/if}">
                {$service.name} <span class="hint">[`for`] {$product.name|escape}</span>
            </h2>
            <form action="?module=product&action=servicesSave&product_id={$product.id}&service_id={$service.id}" method="post">
            <table class="zebra toggle-gray{if empty($service.status)} gray{/if}">
                {$multi_variants = false}
                {if count($service.variants) > 1}
                    {$multi_variants = true}
                {/if}
                {function "variant_row"}
                    <tr class="s-services-variant-product" data-variant-id="{$variant.id}">
                        {if $multi_variants}
                            <td class="min-width">
                                <input type="radio" name="default" value="{$variant.id}"
                                    {if $variant.status == shopProductServicesModel::STATUS_DEFAULT}checked="checked"{/if}
                                >
                            </td>
                        {/if}
                        <td class="min-width">
                            <input type="checkbox" name="variant[{$variant.id}]" id="v-{$service.id}-{$variant.id}" value="1" {if $variant.status != shopProductServicesModel::STATUS_FORBIDDEN}checked="checked"{/if}
                            >
                        </td>
                        <td style="width: 30%;">
                            <label for="v-{$service.id}-{$variant.id}">
                                {if $multi_variants}{$variant.name|escape}{else}{$service.name|escape}{/if}
                            </label>
                        </td>
                        <td>
                            + <input type="text" name="variant_price[{$variant.id}]" class="large bold s-price-surplus"
                                placeholder="{if $variant.base_price}{(double)$variant.base_price}{/if}"
                                value="{if $variant.price}{(double)$variant.price}{/if}"
                              >
                            <span class="large bold overhanging">
                                {$service.currency}
                            </span>
                            {if count($variant['skus']) > 1}
                                <a href="#" class="hint inline-link s-services-by-sku" data-variant-id="{$variant.id}"><b><i>[`Setup by SKU`]</i></b></a>
                            {/if}
                        </td>
                    </tr>

                    {$display = false}
                    {foreach $variant['skus'] as $variant_sku}
                        {if (boolean)$variant_sku.status != (boolean)$variant.status}
                            {$display = true}
                            {break}
                        {/if}
                    {/foreach}

                    {$multi_skus = count($variant['skus']) > 1}

                    {foreach $variant['skus'] as $variant_sku}
                        <tr class="small s-services-variant-sku" data-variant-id="{$variant.id}" {if !$multi_skus || !$display}style="display: none;"{/if}>
                            {if $multi_variants}<td class="min-width">&nbsp;</td>{/if}
                            <td class="min-width">&nbsp;</td>
                            <td>
                                <label>
                                    <input type="checkbox" name="variant_sku[{$variant.id}][{$variant_sku.sku_id}]" value="1" {if $variant_sku.status != shopProductServicesModel::STATUS_FORBIDDEN}checked{/if}>
                                    {$variant_sku.name|escape}
                                </label>
                            </td>
                            <td>
                                + <input type="text" name="variant_sku_price[{$variant.id}][{$variant_sku.sku_id}]" class="large bold s-price-surplus"
                                    placeholder="{if $variant_sku.base_price}{(double)$variant_sku.base_price}{/if}"
                                    value="{if $variant_sku.price}{(double)$variant_sku.price}{/if}"
                                  >
                                <span class="large bold overhanging">
                                    {$service.currency}
                                </span>
                            </td>
                        </tr>
                    {/foreach}
                {/function}

                {if empty($service.variants)}
                    {call variant_row variant=$service}
                {else}
                    {foreach $service.variants as $variant}
                        {call variant_row}
                    {/foreach}
                {/if}

            </table>
            </form>
        </div>
        <div class="clear-left"></div>
    </div>

{else}
    <p>{sprintf('[`No custom services are defined in your online store yet. Create a service using the <a href="%s">Services</a> screen.`]','#services/')}</p>
{/if}

<script type="text/javascript">
    $.product_services.init({
        container: '.s-product-form.services',
        counter: '#s-product-edit-menu li.services span.hint',
        service_id: {$service.id},
        product_id: {$product.id},
        count: {$count}
    });
</script>