<div class="s-settings-form block double-padded blank">
    <h1>[`AI product descriptions & SEO`]</h1>

    <div class="s-alert" style="display: block;">
        <i class="icon16 new"></i>
        <strong>{sprintf_wp('<a href="%s">Switch to the new UI</a> to use the latest features!', 'javascript:$.wa.switchToNewUI();')}</strong>
        [`The new Webasyst 2 UI mode is mobile-ready, supports more new features, and is getting further with every Shop-Script update.`]
    </div>
</div>
<script>
(function() {
    document.title = "[`AI product descriptions & SEO`] — {$wa->accountName(false)|escape:javascript}";
})();
</script>
