{$shop_link = "{$wa_backend_url}shop/?action=reports#/sales/type=sources"} {* !!! *}

<div class="kpi-widget-wrapper">
    <div class="text-wrapper">
        <h6 class="heading nowrap">
            {$title|escape}
        </h6>
        <h1 class="s-number nowrap">{$total_formatted}</h1>
    </div>
{*    <a class="redirect-link" href="{$shop_link}" title="{shop_currency($total)|escape}"></a> *}
</div>

<script>(function($) { "use strict";



})(jQuery);</script>
<style>{include file="../css/kpi.css" inline}</style>