/*
 * Webasyst “Default” theme family
 * (version for desktop computers)
 *
 * @link http://www.webasyst.com/
 * @author Webasyst LLC
 * @copyright 2012 Webasyst LLC
 * @package Webasyst
 */

/* Reset
-------- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, /* ol, ul, li, */ fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, credentials, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; }
article, aside, credentials, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }

/* Common HTML elements, fonts, and colors
------------------------------------------ */
html, body { height: 100%; width: 100%; font-family: 'Georgia', Times, serif; font-size: 14px; background: #fff; }
a { color: #03c; outline:0 none; }
a:focus { outline:none; outline-offset:-4px; }
a:visited { color: #63c; }
a:hover { color: red !important; }
input[type="button"]::-moz-focus-inner { border: 0; }
input[type="submit"]::-moz-focus-inner { border: 0; }
a img { border: 0; }
p, dl, hr, h1, h2, h3, h4, h5, h6, ol, ul, pre, table, address, fieldset, blockquote { margin-bottom: 20px; }
h1, h2, h3 { font-weight: normal; }
h1 { font-size: 2.4em; }
h1 a { text-decoration:none; }
h2 { font-size: 1.75em; }
h3 { font-size: 1.45em; }
h4 { font-size: 1.2em; }
h5 { font-size: 1.1em; }
h6 { font-size: 1em; }
h1, h2, h3, h4, h5, h6 { line-height:1.2em; margin-bottom:.3em; }
ul, ol { padding-top:0; }
ol { list-style: decimal; }
input, textarea, select { margin:0; }
input, textarea { font-size: 1em; color: #000; font-family: 'Georgia', Times, serif; }
input[type="button"]:focus { outline:none; outline-offset:-2px; }
fieldset { border:1px solid #bbb; padding:10px; position:relative; background:#e9e9e9; margin-bottom:10px; }
legend { font-size:1.1em; padding:.4em .8em; background:#fff; //background:none;
border:1px solid #bbb; //border:none
}
fieldset p label { width:98%; }
fieldset p input[type="text"] { width:98%; }
fieldset p select { width:99%; }
blockquote { color: #555; font-size:0.9em; padding:20px; background: #f3f3f3; border-left: 2px solid #ccc; }
blockquote cite { font-size: 0.9em; }
hr { background-color: #ccc; height: 1px; border: 0; }

/* Misc
------- */

.inline-link { text-decoration: none !important; }
.inline-link b { border-bottom: 1px dotted; font-weight: normal; position: relative; top: -0.13em;}
.inline-link b i { font-style: normal; position: relative; top: 0.13em;}
.small { font-size: 0.9em; }
.large { font-size: 1.2em; }
.bold { font-weight: bold; }
.highlighted { background:  #FFFFCC; }
.gray { color: #aaa; }
.red { color: #f00; }
.hint { color: #aaa; font-size: .9em;}
.hint a { color: #aaa; }
.float-left { float: left !important; }
.float-right { float: right !important; }
.align-left { text-align: left; }
.align-center { text-align: center; }
.align-right { text-align: right; }
.clear-left { clear: left; }
.clear-both { clear: both; }
.no-underline { text-decoration: none; }
.nowrap { white-space: nowrap; }
.shadowed { -moz-box-shadow: 0 2px 5px #aaa; -webkit-box-shadow: 0 2px 5px #aaa; box-shadow: 0 2px 5px #aaa; }
input::-webkit-input-placeholder { color: #aaa; }
input:-moz-placeholder { color: #aaa; }
input:-ms-input-placeholder { color: #aaa; }

/* 10x10, 16x16 Icons
--------------------- */

i.icon10 { background-repeat:no-repeat; height:10px; width:10px; display:inline-block; text-indent:-9999px; text-decoration:none!important; }
* i.icon10 { text-decoration:none!important; vertical-align:top; margin: 0.2em 0.1em 0 0; }
i.icon16 { background-repeat:no-repeat; height:16px; width:16px; display:inline-block; text-indent:-9999px; text-decoration:none!important; }
* i.icon16 { text-decoration:none!important; vertical-align:top; margin: 0.1em 0.25em 0 0; }
.icon16.loading { background-position: 0; background-image: url('../../../../wa-content/img/loading16.gif'); }

/* Menus
-------- */

ul.menu-v { margin: 0 0 20px -6px; padding: 0; }
ul.menu-v li { list-style: none; padding: 0; margin: 3px 0 8px; line-height: 1.1em; }
ul.menu-v li a { padding: 5px 6px; display: block;}
ul.menu-v li.selected a { color: #000; text-decoration: none; background: #eee; }
ul.menu-v li.selected ul li a { background: inherit; color: #03c; text-decoration: underline; }
ul.menu-v li ul.menu-v { margin-left: 10px; margin-top: 5px; margin-bottom: 15px; }
ul.menu-v li ul.menu-v li a { padding: 2px 6px; font-size: 0.9em; }
ul.menu-v li ul.menu-v li ul.menu-v li a { font-size: 0.8em; }

ul.menu-h { margin-left: -5px; padding: 0; }
ul.menu-h li { display: inline-block; list-style: none; padding: 0 10px 0 0; display:block\9; float:left\9; /* ie8 hack */ }
ul.menu-h li a { display: inline-block; padding: 0px 5px; display:block\9; float:left\9; /* ie8 hack */ }
ul.menu-h li.selected a { color: #000; text-decoration: none; background: #eee; }
ul.menu-h li.selected a.inline-link b { border: none; }
ul.menu-h li.selected ul * { background: #fff !important; }

/* Default theme common layout
------------------------------ */

.container { padding: 1px 30px 0; min-width: 950px; /* max-width: 1440px; margin: 0 auto; */ }

.sidebar.left { width: 170px; float: left; }
.sidebar.right { width: 190px; float: right; }
.content.left { margin-left: 200px; }
.content.right { margin-right: 200px; }
.app-header { min-height: 100px; padding-top: 0; }
.top-padded { padding-top: 50px; /* "due to heading" padding */ }

#header { font-family: Helvetica, Arial, sans-serif; background: #000; color: #ccc; }
#header a { text-decoration: none; }
#header ul#wa-apps { margin: 0 -10px; padding: 0;}
#header ul#wa-apps li { float: left; list-style: none; margin: 0; padding: 6px 0; }
#header ul#wa-apps li.selected { background: url("img/app-selected.png") bottom center no-repeat; }
#header ul#wa-apps li a,
#header ul#wa-apps li strong { display: block; padding: 5px 10px; margin-right: 10px; color: #ccc; }
#header ul#wa-apps li a:visited { color: #ccc; }
#header ul#wa-apps li a:hover { color: #fff !important; }
#header ul#wa-apps li.selected a,
#header ul#wa-apps li.selected strong { font-weight: bold; color: #fff; }
#header ul#wa-apps li.float-right a,
#header ul#wa-apps li.float-right strong { margin-right: 0; margin-left: 10px; }
#header ul#wa-apps li.small { padding-top: 7px; padding-bottom: 6px; /* give some extra space because of a smaller font size */ }

#main { clear: both; line-height: 1.5em; margin: 0; }

#footer { clear: both; margin: 10px 0; font-size: 0.9em; color: #aaa; padding-bottom: 30px; }
#footer .container { border-top: 1px solid #ddd; padding-left: 0; padding-right: 0; margin: 0 30px; padding-top: 13px; }
#footer #sub-links { margin-left: 200px; }
#footer #sub-links ul { list-style: none; padding: 0; margin: 0; }
#footer #sub-links ul li { float: left;  padding: 0 15px 0 0; }
#footer #copyright { float: left; padding: 0 5px; }
#footer #poweredby {  text-align: center; float: right; padding-top: 0; padding-right:10px; }
#footer #poweredby .dots { font-size: 0.8em; text-decoration: none; display: inline-block; width: 54px; height: 9px; background: url("http://www.webasyst.com/wa-content/img/dots/all-dots-default-order.png") no-repeat 0 3px; padding-top: 3px; margin-left: 10px; display: block\9; float: right\9; }

/* Sign up & Login forms
------------------------ */

.wa-auth-adapters ul { padding: 0; min-height: 16px; }
.wa-auth-adapters ul li { list-style: none; float: left; padding: 0 15px 0 0; }
.wa-auth-adapters ul li a { display: block; padding: 0px 5px; }
.wa-auth-adapters ul li a img { position: relative; top: 3px; left: -3px; }
.wa-auth-adapters p { clear: left; color: #888; font-size: 0.9em; width: 80%; }

.wa-form { float: left; margin: 10px 0; overflow: visible; }
.wa-form .wa-field { clear: left; margin: 0; padding-top: 3px; }
.wa-form .wa-field .wa-name { float: left; width: 155px; padding-top: 0.05em; padding-bottom: 10px; font-size: 0.95em; }
.wa-form .wa-field.wa-separator { height: 10px; }
.wa-form .wa-field .wa-value { margin-left: 180px; margin-bottom: 5px; position: relative; }
.wa-form .wa-field .wa-value input.wa-error { border: 2px solid red; }
.wa-form .wa-field .wa-value .wa-error-msg { font-size: 0.9em; color: red; display: block; }
.wa-form .wa-field .wa-value input[type="text"],
.wa-form .wa-field .wa-value input[type="email"],
.wa-form .wa-field .wa-value input[type="password"] { width: 30%; min-width: 260px;  margin:0;}
.wa-form .wa-field .wa-value textarea { min-width: 300px; height: 70px; }
.wa-form .wa-field .wa-value input.wa-captcha-input { width: 100px; min-width: 0; }
.wa-form .wa-field .wa-value label { display: block; }
.wa-form .wa-field .wa-value .wa-captcha img { margin-left: 0; }
.wa-form .wa-field .wa-value .errormsg { margin-left: 0; }
.wa-form .wa-field .wa-value.wa-submit { margin-top: 10px; }
.wa-form .wa-field .wa-value p label { display: block; margin: 0; }
.wa-form .wa-field .wa-value p { line-height: 1.6em; margin-bottom: 23px; position: relative; } 
.wa-form .wa-field .wa-value p span { color: #777; font-size: 0.9em; display: block; }
.wa-form .wa-field .wa-value p i.icon16 { float: left; left: -20px; margin-top: 2px; position: absolute; }
.wa-form .wa-field .wa-value p input { display: block; margin-bottom: 2px; }
.wa-form .wa-field .wa-value p input[type="radio"],
.wa-form .wa-field .wa-value p input[type="checkbox"] { display: inline; }
.wa-form .wa-field .wa-value p .field.wa-required span:after { content: " *"; color: #faa; }
.wa-form .wa-field.wa-required .wa-name:after { content: " *"; color: #faa; }

.wa-captcha { padding: 7px 0 10px; }
.wa-captcha p { clear: left; margin: 0; }
.wa-captcha strong { font-size: 1.2em; }
.wa-captcha p img { float: left !important; margin-right: 5px; margin-top: -8px; }
.wa-captcha .wa-captcha-refresh { font-size: 0.8em; text-decoration: underline; color: #aaa; }
.wa-captcha .errormsg { display: inline; margin-left: 10px; }

/* Shop-Script specific
----------------------- */

/* Misc layout and elements */

.sidebar { padding-top: 44px; }
.sidebar.left300px { width: 270px; float: left; }
.content.left300px { margin-left: 300px; }
.sidebar.right300px { width: 270px; float: right; }
.content.right300px { margin-right: 300px; }
.sidebar p { line-height: 1.3em; }

.breadcrumbs { padding-top: 20px; }

div.cart { background: #eed; width: 240px; padding: 15px 15px 15px; }
div.cart.empty { background: #fff; }
div.cart#cart-summary.fixed { border-bottom: 1px solid #cca; box-shadow: 0 3px 5px -3px #CCCCCC; overflow: hidden; position: fixed; top: 0; z-index: 1312; right: 30px; }

.search { padding-top: 20px; margin-right: 30px; }
.search input { font-size: 16px; width: 25%; }
.search.float-right { padding-top: 13px; }
.search.float-right input { width: 200px; }

.currency-toggle { margin-left: 10px; }

.bonus { background: #eed; padding: 2px 4px 1px; }

.plugin { margin-bottom: 20px; } /* shipping and payment plugins ouput */

/* Category */

.sub-categories { margin-bottom: 20px; }

.filters { background: #eed; width: 240px; padding: 15px; float: right; }
.filters input[type="text"] { font-size: 0.9em; width: 50px; text-align: right; }

/* Product info and lists */

.tags a { color: green; }
.tags.cloud { text-align: center; font-size: 0.9em; padding-top: 20px; margin-top: 30px; border-top: 1px solid #ccc; }

ul.skus { padding-left: 0; margin-bottom: 10px; }
ul.skus li { list-style: none; }

.stocks { margin-top: 10px; margin-bottom: 15px; font-size: 0.9em; }
.stocks .stock-critical { color: #e00; }
.stocks .stock-low { color: #a80; }
.stocks .stock-high { color: #0a0; }
.stocks .stock-none { color: #aaa; }

ul.menu-h.sorting { margin-left: 0; }
ul.menu-h.sorting li { padding-right: 5px; }

i.sort-desc { height: 0; width: 0; border: 4px solid transparent; border-bottom-color: #000; margin-bottom: 0.2em; display: inline-block; display: block\9; float: left\9; }
i.sort-asc { height: 0; width: 0; border: 4px solid transparent; border-top-color: #000; margin-top: 0; display: inline-block; display: block\9; float: left\9; }

.price { color: #a00; font-weight: bold; }
.price.tiny { color: #a55; font-weight: normal; font-size: 0.9em; }
.compare-at-price { text-decoration: line-through; color: #c66; margin: 0 3px; }
.out-of-stock { color: #a77; }
.disabled { color: #777; }
.description { margin-bottom: 20px; }
.error { color: #a33; }

.rating i.icon16 { margin-right: 0.13em; }
h1 .rating i.icon16 { margin-top: 0.37em; }

table.compare { width: 100%; }
table.compare td { text-align: center; line-height: 1em; padding: 10px 2px; }
table.compare th { text-align: left; }
table.compare td img { display: block; margin: 0 auto 10px; }

ul.thumbs { padding: 0; margin: 0; }
ul.thumbs li { display:inline-block; vertical-align:top; padding: 0; margin: 0 30px 40px 0px; position: relative; display: block\9; float: left\9; height: 370px\9; /* IE8- hack */ }
ul.thumbs img { margin-bottom: 2px; display: block; }
ul.thumbs img.overhanging { position: absolute; left: -20px; }
ul.thumbs i.icon16.overhanging { position: absolute; left: -20px; margin: 0; top: 2px; }
ul.thumbs i.icon10.overhanging { position: absolute; margin-left: -17px; margin-right: 7px; }
ul.thumbs input { margin: 0 3px 0 0 /* for correct checkbox display */; }
ul.thumbs.li50px li { width: 50px; } /* fixed li width options */
ul.thumbs.li100px li { width: 100px; }
ul.thumbs.li150px li { width: 150px; }
ul.thumbs.li200px li { width: 200px; }
ul.thumbs.li250px li { width: 250px; }
ul.thumbs.li300px li { width: 300px; }
ul.thumbs.li350px li { width: 350px; }
ul.thumbs li a { font-weight: bold; }
ul.thumbs li p { margin-bottom: 0; }
ul.thumbs li.selected { /* nothing! */ }
ul.thumbs li.selected img { border: 4px solid #FDDA3B; margin: -4px -2px -2px -4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }
ul.thumbs li.highlighted { background: inherit; }
ul.thumbs li.highlighted img { -moz-box-shadow: 0px 0px 10px #fe2; -webkit-box-shadow: 0px 0px 10px #fe2; box-shadow: 0px 0px 10px #fe2; }

table.table { margin-top: 25px; margin-left: -10px; width: 100%; border-spacing:0; border-collapse:collapse; }
table.table th { padding-left: 7px; padding-right: 7px; }
table.table td { padding: 15px 7px; border-bottom: 1px solid #ddd; }
table.table td.min-width { width: 1%; }
table.table td p { margin: 0; }
table.table td input.numerical { width: 50px; margin-right: 5px; text-align: right; }
table.table tr.no-border td { border: none; }
table.table tr.thin td { padding-top: 13px; padding-bottom: 0; }
table.table tr.service td { padding-top: 5px; padding-bottom: 5px; padding-left: 25px; font-size: 0.8em; color: #555; }
.related table.table { margin-top: 10px; }
.related table.table td { padding: 10px 7px 15px; border: none; }
.related h3 input { font-size: 14px; }

.image { position: relative; display: inline-block; max-width: 100%; display: block\9; /* IE8- hack */ }
.image img { max-width: 100%; height: auto; }
.image .corner { position: absolute; z-index:10; font-size: 0.8em; color: #fff; font-weight: bold; }
.image .corner.top { top:-5px; }
.image .corner.bottom { bottom:-5px; }
.image .corner.left { left:-8px; }
.image .corner.right { right:-8px; }
.image .loading { opacity: 0.7; }
.gallery .image { float: left\9; /* IE8 */ }

.badge { display: table; background: #fff; border-radius: 50%; border: 4px double rgba(0,0,0,0.3); width: 100px; height: 100px; transform: rotate(-13deg); -webkit-transform: rotate(-13deg); -moz-transform: rotate(-13deg); -o-transform: rotate(-13deg); box-shadow: 0 3px 10px rgba(0,0,0,0.3); color: #000; font-weight: bold; font-style: italic; font-size: 1.6em; padding: 11px 13px 15px; }
.badge span { display: table-cell; vertical-align: middle; text-align: center; line-height: 1.2em; }
.badge.new { background: #ff4; color: #000; }
.badge.bestseller { background: #74ff30; color: #030; }
.badge.low-price { background: #ffc2e3; color: #300; }

ul.thumbs .badge { font-size: 1.05em; width: 70px; height: 70px; padding: 2px; }
ul.thumbs .badge span { width: 68px; margin-top: 28px; overflow: hidden; }
table.table { margin: 20px 0; }
table.table .image { margin-right: 10px; width: 48px; }
table.table .badge { font-size: 0.8em; width: 24px; height: 24px; padding: 3px 3px 4px; border: 0; }
table.table .badge span { display: block; width: 20px; overflow: hidden; padding-top: 6px; padding-left: 3px; }

table.cart td { vertical-align: top; padding: 20px 7px 25px; }
table.cart td input.qty { max-width: 50px; text-align: right; }
table.cart td.total { font-size: 1.3em; }

.options { line-height: 1.8em; }
.services { margin-bottom: 20px; }
.add2cart { margin-bottom: 20px; }

.aux { padding: 15px; font-size: 0.9em; }
table.features .name { min-width: 95px; color: #777; font-size: 0.95em; padding-top: 0.05em; vertical-align: top; }

/* Checkout */

.checkout { margin: 30px 100px 100px; }
.checkout ul.checkout-navigation { margin: 25px 0; text-align: center; }
.checkout ul.checkout-navigation li.upcoming a { text-decoration: none; color: #aaa !important; cursor: default; }
.checkout ul.checkout-options { padding-left: 25px; margin-top: 30px; }
.checkout ul.checkout-options li { list-style: none; position: relative; margin-bottom: 50px; width: 90%; clear: both; }
.checkout ul.checkout-options li h3 { font-weight: bold; margin-bottom: 10px; }
.checkout ul.checkout-options li h3 label { margin-right: 10px; }
.checkout ul.checkout-options li .rate { float: right; text-align: center; width: 250px; }
.checkout ul.checkout-options li p { width: 70%; }
.checkout ul.checkout-options li input[type="radio"] { position: absolute; top: 7px; left: -25px; }
.checkout ul.checkout-options li img.method-logo { position: relative; float: left; margin-right: 10px; top: -5px; left: 0px; /* adjusted for default 60x32-px logos */ }
.checkout ul.checkout-options li .wa-form { margin-top: -5px; margin-bottom: 30px; }
.checkout .checkout-result { margin: 100px auto 200px; text-align: center; }
.checkout .checkout-result h1 { font-size: 4em; margin-bottom: 50px; }
.checkout .checkout-result.error h1 { color: red; }
.checkout .checkout-result .back { margin-top: 50px; }
.checkout .checkout-result .wa-form { margin: 10px auto 20px; width: 400px; float: none; }
.checkout .checkout-step ul.menu-v { margin-left: 0; margin-top: 20px; }
.checkout .checkout-step #login-form h1 { display: none; }
.checkout .comment { width: 100%; height: 100px; margin-bottom: 20px; }
.checkout blockquote img { margin-right: 20px; float: left; }
.checkout blockquote p { color: #000; margin-bottom: 0; }
.checkout blockquote ul.menu-v { margin: 0; }
.checkout blockquote ul.menu-v li { font-size: 1.1em; margin: 0px 0; line-height: 2em; }
.checkout blockquote ul.menu-v li input { margin-right: 5px; }

/* Product reviews */

.write-review { margin: 30px 0 40px; }

.review { margin-bottom: 30px; }
.review .summary { font-size: 0.9em; color: #777; }
.review .summary h6 { color: #000; font-size: 1.1em; }
.review .summary a.username { color: #777; }
.review .summary a.username:hover { color: red; }
.review .summary a { display: inline; padding: 0; }
.review .summary .date { color:#aaa; }
.review p { margin-top: 5px; margin-bottom: 5px; line-height: 1.3em; }
.review .actions a { padding: 0 !important; }

.reviews { margin-bottom: 20px; }
.reviews ul { margin-left: 0; }
.reviews ul li ul { padding-left: 25px; }
.reviews ul li ul li .review h6 { color: #555; }
.reviews ul li .review-form { padding: 10px 30px; }
.reviews ul li .review-form textarea { min-height: 100px; }
.reviews ul.menu-h.auth-type { padding: 0 0 40px; margin-left: -5px; }
.reviews ul.menu-h.auth-type li { padding-right: 10px; }
.reviews ul.menu-h.auth-type li a { padding: 5px 6px; }
.reviews ul.menu-h.auth-type li a img { top: 0; }
.reviews textarea { height: 100px; min-height: 100px; width: 75%; margin-top: 0; }

.review-form { padding: 0; margin-bottom: 30px; }
.review-form h4 { margin: 0 0 20px; font-weight: normal; }
.review-form-fields p { margin: 0 0 10px; }
.review-form-fields p.review-field a { display: inline; padding: 0; text-decoration: none; }
.review-form-fields label { width: 160px; display: block; clear: left; float: left; margin: 0 10px 0 0; color: #aaa;}
.review-form-fields input[type="text"] { width: 20em;}
.review-form textarea { min-width: 70%; min-height: 160px; }
.review-form .review-submit { padding:0 0 20px 170px;}
.review-form .userpic { width: 20px; height: 20px; float: left; margin-right: 5px; }
.review-form ul.menu-h.auth-type li a img { float: left; margin-right: 3px; position: relative; top: 2px; }
.review-form ul.menu-h.auth-type { padding-bottom: 20px; }
.review-form label { width: 160px; display: block; clear: left; float: left; margin: 0 10px 0 0; color: #AAA; }
.reviews span.rate { line-height: 1.3em; display: block; margin: 0.5em 0; }
.reviews span.rate a { text-decoration: none !important; }
.reviews span.rate .icon10 { background-repeat: no-repeat; background-image: url(../../../../wa-content/img/icon10.png); height: 10px; width: 10px; display: inline-block; text-indent: -9999px; }
.reviews span.rate .icon10.star { background-position: -60px -40px; }
.reviews span.rate .icon10.star-empty { background-position: -80px -40px; }

input.error, textarea.error { border: 2px solid red; }
.errormsg { color: red; margin-left: 170px; display: block; }

/* Customer account */

.order-status { padding: 2px 5px; color: #fff; }
h1 .order-status { font-size: 0.75em; margin-left: 10px; }

/* Shop-Script icons */

.icon10,
.icon16 { background-image: url("img/icons.png"); }
.icon16.star,
.icon16.star-full { background-position:-16px 0; }
.icon16.star-half { background-position:-32px 0; }
.icon16.star-empty { background-position:-48px 0; }
.icon16.star-hover { background-position:-64px 0; }
.icon10.star,
.icon10.star-full { background-position:0 -16px; }
.icon10.star-half { background-position:-10px -16px; }
.icon10.star-empty { background-position:-20px -16px; }
.icon16.cart { background-position:-80px 0; }
.icon16.remove { background-position:-96px 0; }
.icon16.saved { background-position:-112px 0; }
.icon16.stock-red { background-position:-128px 0; }
.icon16.stock-yellow { background-position:-144px 0; }
.icon16.stock-green { background-position:-160px 0; }
.icon16.stock-transparent { background-position:-176px 0; }
.icon16.loading { background-image: url("img/loading16.gif"); background-position:0 0; }