/*
 * Webasyst “Default” theme family
 * (additional CSS for mobile multi-touch devices)
 *
 * @link http://www.webasyst.com/
 * @author Webasyst LLC
 * @copyright 2012 Webasyst LLC
 * @package Webasyst
 */

* { -webkit-text-size-adjust: 100%; }

.mobile-only { display: block; }
.non-mobile-only { display: none; }

.container { padding: 1px 15px 0; min-width: 0; }

.sidebar { margin-bottom: 20px; }
.sidebar.left, .sidebar.left300px { width: 100%; float: none; }
.sidebar.right, .sidebar.right300px { width: 100%; float: none; }
.content.left, .content.left300px { margin-left: 0; }
.content.right, .content.right300px { margin-right: 0; }
.app-header { min-height: 0; padding-top: 0; }
.top-padded { padding-top: 0; }

#header { margin-bottom: 20px; }
#header ul#wa-apps li.selected { background: none; }
#footer { padding-bottom: 30px; }
#footer .container { margin: 0 15px; }
#footer #copyright { padding-left: 0; }
#footer #sub-links { margin-left: 0; margin-top: 30px; }
#footer #sub-links ul li { float: none; margin-bottom: 5px; }

/* Shop-Script specific
----------------------- */

.nowrap { white-space: normal; }

.breadcrumbs { margin-bottom: 15px; }
.breadcrumbs a { color: #aaa; }

div.cart { float: none !important; width: auto !important; }
div#cart-summary.cart.fixed { right: 0; left: 0; }

table.cart td { padding: 7px 2px 10px; display: inline-block; border: 0; }
table.cart td img { display: none; }
table.cart td input[type="text"] { min-width: 0; }
table.cart td br { display: none; }
table.cart td a.bold { margin-top: 20px; font-size: 1.3em; }
table.cart td .services { margin-bottom: 0; }

.search { margin-bottom: 20px; }
.search.float-right { float: none !important; }
.search input { width: auto; }

.sidebar.hide-for-mobile { display: none; }

.image img { height: auto !important; }

.review-form-fields label { width: auto; float: none; }
.review-form-fields input { width: 80%; }
.review-form textarea { width: 100%; }
.review-form .review-submit { padding-left: 0; }
.review-form .wa-captcha img { margin-bottom: 10px; }

.wa-form { overflow: hidden; }
.wa-form .wa-field .wa-name { float: none; padding-bottom: 0; }
.wa-form .wa-field .wa-value { margin-left: 0; }
.wa-form .wa-field .wa-value p span { display: block; }
.wa-auth-adapters p { width: 100%; }

.checkout { margin: 20px 0; padding-bottom: 30px; }
.checkout ul.checkout-options li { width: 100%; }
.checkout ul.checkout-options li img { display: none; }
.checkout ul.checkout-options li .rate { min-width: 0; width: auto; max-width: 150px; padding-top: 5px; }
.checkout ul.checkout-options li .rate.error { padding-top: 10px; }
.checkout ul.checkout-options li .rate .hint { display: none; }
.checkout ul.checkout-options li .wa-form.wa-address p { font-size: 1em; }
.checkout table.table th,
.checkout table.table td { font-size: 0.75em; }
.checkout table.table td .gray { display: none; }
.checkout table.table td.nowrap { white-space: normal; }
.checkout table.table td.nowrap.bold { white-space: nowrap; }
.checkout blockquote ul.menu-v li { font-size: 0.7em; padding: 10px 0; line-height: 1.3em; }
.checkout li .wa-form { margin-left: -25px; }
.checkout .checkout-step input[type="submit"] { margin: 0 auto; display: block; font-size: 1.2em; font-weight: bold; }