<div class="not-blank width-100">
<div class="article wider" id="s-stocks-container">
  <div class="article-body">

    <h1>[`Transfers`]</h1>

    <div class="alert info small" style="display:none;">
        <div class="flexbox space-16 full-width">
            <div class="wide">
                [`Transfers is an easy way to move inventory from one stock to another. When you create new transfer, it automatically writes off selected products from the source stock. And once transfer has been completed, products are added to the destination stock.`]
            </div>
            <div>
                <a href="javascript:void(0);" class="alert-close"><i class="fas fa-times"></i></a>
            </div>
        </div>
    </div>

    <div class="custom-mt-24">
        <!-- plugin hook: 'backend_stocks.%plugin_id%.stocks' -->
        {* @event backend_stocks.%plugin_id%.stocks *}
        {foreach $backend_stocks_hook as $_}{$_.stocks|default:''}{/foreach}

        <div>
            <button type="button" id="s-new-transfer-product" class="button light-gray rounded"><i class="fas fa-exchange-alt text-blue"></i> [`New transfer`]</button>

            <div id="s-new-transfer-container"></div>

            <div class="s-stocks-transfers" style="margin: 20px 0 0;" {if $transfers.count <= 0}data-empty="1"{/if}>
                {$transfers.html}
            </div>

            {if $transfers.rest_count > 0}
                <div class="s-stocks-transfers-show-all-wrapper nowrap custom-mt-16">
                    <a href="javascript:void(0)" class="button s-stocks-transfers-show-all rounded smaller light-gray">{sprintf('[`Show all %d completed transfers`]', $transfers.rest_count)}</a>
                    <i class="loading fas fa-spinner fa-spin text-gray" style="display: none;"></i>
                </div>
            {/if}
        </div>
    </div>

  </div>
</div>
</div>

<script>
    $( function() {
        // new transfer
        $('#s-new-transfer-product').click(function () {
            const $new_transfer_container = $('#s-new-transfer-container');
            if (!$new_transfer_container.is(':empty')) {
                $new_transfer_container.children().slideUp(400, function () {
                    $new_transfer_container.empty();
                });
                return;
            }

            const $loading = $('<span><i class="fas fa-spinner fa-spin custom-mr-4"></i></span>');
            const $self = $(this);
            $self.find('svg').hide();
            $self.prepend($loading);
            $self.prop('disabled', true);
            $new_transfer_container.load('?module=transfer', function() {
                $new_transfer_container.children().slideDown(400);
                $new_transfer_container.off('afterSubmit').on('afterSubmit', function(e, r) {
                    var $list = $('.s-stocks-transfers');
                    if ($list.data('empty')) {
                        $list.data('empty', 0);
                        $list.html(r.data.html);
                        $('.s-transfer-item[data-id="' + r.data.transfer.id + '"]', $list).addClass('highlighted');
                    } else {
                        var tmp = $('<div>').html(r.data.html);
                        var item = $('.s-transfer-item[data-id="' + r.data.transfer.id + '"]', tmp).addClass('highlighted');
                        $list.find('.s-transfer-list-tbody').prepend(item);
                    }
                });
                $self.prop('disabled', false);
                $loading.remove();
                $self.find('svg').show();
            });
        });

        var container = $('#s-stocks-container');
        {if $transfers.rest_count > 0}
            $('.s-stocks-transfers-show-all', container).click(function () {
                var $wrapper = $('.s-stocks-transfers-show-all-wrapper', container).find('.loading').show().end();
                var limit = {$transfers.count} + {$transfers.limit};
                var url = '?module=transfer&action=list&sort=create_datetime&order=desc&limit=' + limit;
                $('.s-stocks-transfers', container).load(url, function () {
                    $wrapper.hide();
                });
            });
        {/if}

        var $alert_block = $('.alert:first', container);
        if ($.storage.get('shop/transfer_alert_hidden')) {
            $alert_block.hide();
        } else {
            $alert_block.show();
            $('.alert-close', container).click(function() {
                $alert_block.hide();
                $.storage.set('shop/transfer_alert_hidden', 1);
            });
        }

        document.title = '{"[`Stocks`]"|cat:" — ":{$wa->accountName(false)}|escape:'javascript'}';
    });
</script>
